@import "../modules/variables"

input,input.form-control
  background-color: $white
  color: $black
  margin: 0
  height: 40px
  line-height: 20px
  display: block
  text-align: left
  padding: 10px 15px
  border: none
  border-bottom: 1px solid #666a80
  border-radius: 0
  font-size: 1rem
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1)

input:focus,
textarea:focus,
select:focus,
input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus
  border: none
  border-bottom: 1px solid #666a80
  color: $black
  box-shadow: none

input[type="number"] 
  -moz-appearance: textfield

input[type="number"]::-webkit-inner-spin-button 
  display: none

::-webkit-input-placeholder,.form-control::-webkit-input-placeholder
  font-size: 1em
  color: $black

::-moz-placeholder,.form-control::-moz-placeholder
  color: $black
  font-size: 1em

textarea, textarea.form-control
  background-color: $white
  color: $black
  margin: 0
  height: 70px
  line-height: 20px
  display: block
  text-align: left
  padding: 15px
  border: none
  border-bottom: 1px solid #666a80
  border-radius: 0
  font-size: 1rem
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1)
  resize: none


select
  color: $black
  margin: 0
  height: 40px
  line-height: 40px
  display: block
  text-align: left
  padding: 0 10px
  border: none
  border-bottom: 1px solid #666a80
  border-radius: 0
  font-size: 1rem


/*input[type="checkbox"]
  display: none


/*input[type="checkbox"] + label
  cursor: pointer
  &:before
    width: 25px
    height: 30px
    background-color: transparent
    cursor: pointer
    padding: 0
    border: none
    display: inline-block
    vertical-align: middle
    content: "\e933"
    color: #3e414e
    font-family: 'icomoon', serif
    font-size: 20px


/*input[type="checkbox"]:checked + label:before
  width: 25px
  height: 30px
  background-color: transparent
  cursor: pointer
  padding: 0
  display: inline-block
  vertical-align: middle
  content: "\e934"
  color: #3e414e
  font-family: 'icomoon', serif
  font-size: 20px

/*input[type="radio"]
  display: none

/*input[type="radio"] + label
  cursor: pointer
  &:before
    width: 25px
    height: 30px
    background-color: transparent
    cursor: pointer
    padding: 0
    border: none
    display: inline-block
    vertical-align: middle
    content: "\e933"
    color: #797979
    font-family: 'icomoon', serif
    font-size: 20px

/*input[type="radio"]:checked + label:before
  width: 25px
  height: 30px
  background-color: transparent
  cursor: pointer
  padding: 0
  display: inline-block
  vertical-align: middle
  content: "\e934"
  color: #797979
  font-family: 'icomoon', serif
  font-size: 20px
