.all-content {
    padding-top: 0;
}

header {
    min-height: 30px;
}

.catalog-wrap h1 {
    padding: 0 20px;
    font-size: 20px;
}

.catalog-sort-wrap {
    padding: 20px;
}

.catalog-right {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.catalog-right.open {
    display: block;
}

.map-over {
    height: 100%;
    min-height: 100%;
}

#map_catalog {
    height: 100%;
}

.home-list {
    padding: 0 10px;
}

.home-item {
    padding: 10px 10px 0;
    margin: 0;
}

.dash {
    padding: 0 5px;
    line-height: 35px;
}

.two-param input {
    width: 48%;
}

ul.object-status-switcher {
    margin: 0 20px;
}

.map-over .google-map-search {
    margin: 10px;
    width: 50%;
    height: 40px;
}

.map-marker-left img {
    max-height: 48px;
    max-width: 100%;
    width: auto;
}

.map-marker-data {
    color: #000;
    font-weight: bold;
    padding: 0 5px;
    font-size: 12px;
}

.map-marker-left img {
    max-height: 48px;
    max-width: 100%;
    width: auto;
}

.map-marker-data {
    color: #000;
    font-weight: bold;
    padding: 0 5px;
    font-size: 12px;
}

.map-over .google-map-search {
    margin: 10px;
    width: 50%;
    height: 40px;
}

.google-map-marker {
    /*padding: 2px 4px;*/
}

.google-map-marker-sub {
    margin-left: -50%;
    position: relative;
    margin-top: -50px;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.google-map-marker-sub div {
    padding: 3px 10px;
    text-align: center;
}

.google-map-marker img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}


.building-stickers {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    right: 10px;
}

.sticker {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.sticker.purple .stick-text {
    color: #a163f5;
}

.sticker.green .stick-text {
    color: #acf9db;
}

.sticker.yellow .stick-text {
    color: #fdfaa2;
}

.stick-img {
    width: 30px;
    height: 30px;
}

.stick-img img {
    width: 100%;
}

.sticker.active .stick-text {
    opacity: 1;
}

.stick-text {
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 0;
    color: #d3359b;
    background: rgba(255, 255, 255, 0.6);
    padding: 7px 20px;
    border-radius: 4px;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    z-index: 5;
    font-weight: bold;
}

.stick-text::before, .stick-text::after {
    content: '';
    position: absolute;
    left: 20px;
    top: -20px;
    border: 20px solid transparent;
    border-bottom: 0;
    z-index: 6;
}

.stick-text::after {
    top: -20px;
    border-left: 40px solid rgba(255, 255, 255, 0.6);
    left: 22px;
}

.district-form {
    position: absolute;
    bottom: 50px;
    left: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    width: 100%;
}

.district-inner {
    padding: 14px 11px;
}

.district-inner p {
    font-size: 14px;
}

.district-tag {
    background-color: #d9d9d9;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}

.district-tag i {
    color: #999;
    font-size: 8px;
}

.district-open {
    padding: 5px 0;
    border-top: 1px solid #ccc;
}

.district-open a {
    color: #0e0e0e;
    width: 100%;
    padding: 10px 11px;
}

.district-open a i {
    color: #999;
    font-size: 12px;
    align-self: flex-end;
    padding-bottom: 2px;
}

.district-open a:hover,
.district-open a:focus {
    text-decoration: none;
    background-color: #eee;
}

.clear-district {
    margin-left: 10px;
}

.col-district {
    -webkit-columns: 200px auto;
    columns: 200px auto;
    vertical-align: top;
    -webkit-column-gap: 50px;
    column-gap: 50px;
}