.filters {
    position: fixed;
    display: none;
    z-index: 1456;
    background: #fff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    padding: 70px 20px 20px;
}

.filters.open {
    display: block;
}

.filter-row {
    margin: 0 -10px;
}

.filter-col50 {
    width: 50%;
    padding: 0 5px;
    margin-bottom: 5px;
}

.filter-col50 span {
    display: inline-block;
    line-height: 18px;
    padding: 3px 0;
}

.filter-circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1px;
    margin-bottom: 3px;
}

.filter-circle-red {
    background-color: #c00;
}

.filter-circle-blue {
    background-color: #1b5098;
}

.filter-circle-magenta {
    background-color: darkmagenta;
}

.filter-circle-yellow {
    background-color: #da0;
}

.filter-title {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1em;
    padding: 8px 0;
    font-size: 0.8em;
}

.filter-choose input[type="radio"] + label {
    min-width: 16.66%;
    border: 1px solid #777;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    font-size: 14px;
}

.filter-choose input[type="radio"] + label::before {
    display: none;
}

.filter-choose.active, .filter-choose input[type="radio"]:checked + label {
    background-color: #00b22d;
    color: #fff;
}

.filter-choose:not(:last-child) label {
    border-right: none;
}

.filter-choose:first-child label {
    border-radius: 5px 0 0 5px;
}

.filter-choose:last-child label {
    border-radius: 0 5px 5px 0;
}

.filter-ops {
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 2px 5px #bbb;
    background-color: #fff;
    padding: 0 20px;
}

.mobile-results-count {
    font-weight: bold;
    color: #999;
    font-size: 18px;
}

.filter-ops a, .filter-ops input {
    color: #3ca3ed;
}

.filter-ops a:hover, .filter-ops input:hover {
    color: #3ca3ed;
    text-decoration: underline;
}

.list-btn {
    display: none;
}

.filter-mode a {
    padding: 5px 0;
    display: block;
}

.filter-sub-types {
    padding-left: 15px;
    display: none;
}

.filter-type-group.active .filter-sub-types {
    display: block;
}

.filter-type-group-name, .filter-sub-type {
    white-space: nowrap;
}