/****************CALCULATOR***************/
.calculator-modal{
    position: absolute;
    left: auto;
    top: 25px;
    opacity: 0;
    transition: transform 0.1s ease-in-out 0s, -webkit-transform 0.1s ease-in-out 0s, -ms-transform 0.1s ease-in-out 0s, opacity 0.1s ease-in-out 0s;
    right: 0;
    width: 460px;
    background-color: #fff;
    font-size: 14px;
    padding-bottom: 20px;
    border: 1px solid #aaa;
    box-shadow: 0 0 2px #444;
    z-index: 999;
    -webkit-transform: scale(.01) translate3d(20px,0,0);
    transform: scale(.01) translate3d(20px,0,0);
}

.calculator-modal.open{
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
}

.calculator-form .input-group-addon {
    padding: 5px;
    font-size: 16px;
    border: none;
    background-color: #fff;
}

.calculator-form .input-group .form-control{
    border: none;
}

.calculator-form .input-group{
    border: 1px solid #b2b2b2;
}

.fff:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.calculator-form .form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.calc-sum{
    padding: 10px 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.5;
}

.calc-warning{
    color: #999;
    font-size: 12px;
    padding: 5px 0 10px;
}

.calc-preq{
    padding: 20px;
    background-color: #cdf2db;
}

.calc-preq p{
    margin-bottom: 15px;
    padding: 0;
}

.calculator-padding{
    padding: 20px 20px 0;
}

.calculator-form select{
    width: 100%;
}

/*****************************************/