input[type="radio"] + label.btn-radio:before {
    display: none;
}

.btn-radio {
    width: 100%;
    margin-bottom: 15px;
}

.question-step {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.modal-steps .modal-header {
    border: none;
    padding: 10px;
}

.modal-steps .modal-body {
    padding: 0 30px 30px;
}

.green-p {
    padding: 20px;
    background-color: #cdf2db;
}

.thanks-modal {
    position: fixed;
    z-index: 1499;
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
    -weblit-transform: translateX(-50%);
}

.step-field .btn {
    margin: 1px 0 25px 5px;
    height: 33px;
}

.step-field {
    margin-top: 10px;
}