.fixed-top, nav.top-menu, nav.top-menu .nav-tabs > li > a {
    background-color: #fff;
}

.white-top {
    background-color: #fff;
}

.banner-main {
    width: 100%;
    position: relative;
    padding: 50px 0 0 0;
    margin-top: -50px;
    background: url(/images/banner.jpg);
    background-position: left;
    background-size: cover;
}
/*
.banner-main:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.01);
}*/

.banner-center {
    max-width: 100%;
    height: 350px;
    padding: 20px 10px;
}

.banner-center .search {
    /*width: 100%;
    position: relative;
    bottom: auto;
    margin-top: 30px;*/
}

.banner-title {
    display: block;
    margin-top: 25px;
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    width: 100%;
}

.banner-subtitle {
    display: block;
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    max-height: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 0 auto;
}

.banner-tabs {
    position: relative;
    max-width: 100%;
    height: 100%;
}

.banner-main .input-group .form-control:first-child, .banner-main .input-group-addon {
    background-color: #fff;
    border: none;
    box-shadow: none;
}

a.banner-location-change {
    color: #00b22d;
    border-bottom: 1px solid #333;
    text-decoration: none;
}

a.banner-location-change:hover,
a.banner-location-change:active,
a.banner-location-change:visited {
    text-decoration: none;
    border: none;
}

ul.banner-tabs-nav {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    white-space: nowrap;
    display: block;
    position: absolute;
    bottom: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    left: 0;
    width: 100%;
}

ul.banner-tabs-nav li {
    width: 25%;
    float: left;
    position: relative;
}

ul.banner-tabs-nav li.active.arrow:after {
    content: '';
    border-radius: 0;
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 10px 10px;
    display: inline-block;
    margin-left: -5px;
    bottom: -20px;
    position: absolute;
    left: 48%;
}

ul.banner-tabs-nav li a {
    display: block;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid rgba(255, 255, 255, .75) 1px;
    height: 50px;
    line-height: 50px;
    width: 100%;
}

ul.banner-tabs-nav li a:visited {
    color: #fff;
}

ul.banner-tabs-nav li.active a,
ul.banner-tabs-nav li a:hover,
ul.banner-tabs-nav li a:focus {
    background-color: #00b22d;
    border: solid #fff 1px;
    text-decoration: none;
}

.search {
    bottom: 25px;
    border-radius: 5px;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    border: none;
    left: 0;
    width: 100%;
}

.search input[type=search] {
    padding: 17px 20px;
    font-size: 18px;
    height: 60px;
    color: #fff;
    border: 1px solid #fff;
    border-right: none;
    line-height: 60px;
    border-radius: 7px 0 0 7px;
    font-family: 'Helvetica Neue', Helvetica, serif;
    background-color: transparent;
}

.search input.form-control::placeholder {
    color: #fff;
}

.search input[type=search]:focus {
    box-shadow: none;
}

.search .input-group-addon {
    border-radius: 0 !important;
    padding: 8px;
    border: 1px solid #fff;
    border-left: none;
    background-color: transparent;
}

.search [type=submit] {
    display: block;
    border-radius: 8px;
    width: 100px;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 18px;
    background-color: #00b22d;
    border: 0;
}

.search [type=submit]:visited, .search [type=submit]:focus, .search [type=submit]:hover {
    color: #fff;
}

.search [type=submit]:focus, .search [type=submit]:hover {
    text-decoration: none;
}

.modal-triple-column {
    column-count: 3;
}

.modal-double-column {
    column-count: 2;
}

/*********REVIEW SLIDER*********/

.review-slider {
    min-height: 1px;
}

.review-slider .rev-slide {
    background-color: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
}

.review-slider .rev-slide-video {
    padding: 0;
    position: relative;
    display: block;
    width: 100%;
}

.review-slider .rev-slide-video .href-video {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.review-slider .rev-slide-video .href-video img {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 0 5px 5px 0;
    height: auto;
    width: 100%;
}

.review-slider .rev-slide-video .href-video .play {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    z-index: 2;
    padding-left: 5px;
}

.review-slider .rev-slide-video .href-video .slide-info-mobile .rev-slide-title {
    color: #fff;
    margin-bottom: 10px;
}

.review-slider .rev-slide-video .href-video .slide-info-mobile blockquote {
    font-style: italic;
    font-size: 15px;
    line-height: 125%;
    color: #fff;
}

.review-slider .rev-slide-video .href-video .slide-info-mobile blockquote:before {
    content: "\201C";
}

.review-slider .rev-slide-video .href-video .slide-info-mobile blockquote:after {
    content: "\201D";
}

.review-slider .rev-slide-video .href-video .slide-info-mobile cite {
    color: #fff;
    font-size: 14px;
    line-height: 100%;
    font-style: normal;
}

.review-slider .rev-slide-video .href-video .slide-info-mobile cite span {
    display: block;
    color: #fff;
    font-size: 13px;
    line-height: 100%;
    margin: 0;
}

.video-modal .header-col.modal-header .close {
    margin: 10px;
}

@media screen and (orientation: landscape) {
    .review-slider .rev-slide-video .href-video {
        height: 400px;
    }

    .review-slider .rev-slide-video .href-video img {
        width: 100%;
        height: auto;
    }

    .review-slider .rev-slide-video .href-video .slide-info-mobile {
        z-index: 3;
        position: absolute;
        left: 0;
        top: 20px;
        width: 100%;
        padding: 0 0 0 20px;
    }

    .review-slider .rev-slide-video .href-video .slide-info-mobile .rev-slide-title {
        font-size: 26px;
    }

    .review-slider .rev-slide-video .href-video .slide-info-mobile blockquote {
        margin-bottom: 15px;
    }
}

@media screen and (orientation: portrait) {
    .review-slider {
        height: 250px;
    }

    .review-slider .rev-slide-video .href-video {
        height: 250px;
    }

    .review-slider .rev-slide-video .href-video img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }

    .review-slider .rev-slide-video .slide-info-mobile {
        z-index: 3;
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 100%;
        padding: 0 15px;
    }

    .review-slider .rev-slide-video .slide-info-mobile .rev-slide-title {
        display: none;
    }

    .review-slider .rev-slide-video .slide-info-mobile blockquote {
        line-height: 100%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .review-slider .rev-slide-video .href-video {
        height: 300px;
    }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    .review-slider .rev-slide-video .href-video {
        height: 250px;
    }
}

@media screen and (max-width: 480px) {
    .review-slider .rev-slide-video .href-video img {
        width: auto;
        height: 250px;
    }
}

/*******************************/

/** new flats */

.index-properties {
    margin: 0 8px 16px;
}

.index-properties-title {
    position: relative;
    width: 100%;
    max-height: 106px;
    overflow-y: hidden;
    padding: 10px;
}

.index-properties-price-more {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 25px;
    font-size: 15px;
    line-height: 20px;
    color: #333;
    padding: 0 10px 5px;
}

.index-properties-more {
    color: #00b22d;
}

.index-properties-more:hover, .index-properties-more:focus,
a.index-properties-more:hover, a.index-properties-more:focus {
    color: #00b22d;
    text-decoration: underline;
}

.index-properties.shadowed {
    box-shadow: 2px 1px 7px #999;
}

.index-properties > div {
    width: 200px;
    height: 280px;
    background-color: #fff;
    border-radius: 3px;
    /*cursor: pointer;*/
    overflow: hidden;
    position: relative;
}

.index-properties > div a.index-properties-img {
    height: 150px;
    width: 100%;
    display: block;
    overflow: hidden;
}

.index-properties > div a.index-properties-img img {
    width: 100%;
}

.index-properties > div a.index-properties-img img.height {
    height: 100%;
    width: auto;
}

.index-properties > div .index-properties-title {
    font-size: 16px;
    line-height: 19px;
    font-family: "Ssans-medium", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.index-properties > div .index-properties-subtitle {
    font-size: 12px;
    line-height: 14px;
    height: 56px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    color: #777;
    margin-top: 10px;
}

.index-properties.job-step-option > div span.index-properties-title {
    font-size: 15px;
    line-height: 20px;
    height: 20px;
    bottom: 20px;
}

.index-properties.job-step-option > div span.index-properties-title.price-range {
    bottom: 0;
}

.index-properties.budget > div span.index-properties-title span {
    text-transform: uppercase;
    display: block;
    line-height: 26px;
    font-size: 18px;
    color: #0A3D55;
}

.index-properties.budget > div span.index-properties-package {
    text-transform: uppercase;
    display: block;
    line-height: 22px;
    font-size: 18px;
    color: #777;
    height: 60px;
    overflow: hidden;
    text-align: center;
    padding: 15px 5px 0;
    text-overflow: ellipsis;
}

.index-properties.budget > div span.index-properties-include-number {
    text-transform: uppercase;
    display: block;
    line-height: 24px;
    font-size: 20px;
    color: #0A3D55;
    height: 34px;
    overflow: hidden;
    text-align: center;
    padding: 10px 5px 0;
    text-overflow: ellipsis;
}

.index-properties.budget {
    width: 120px;
    margin-right: 30px;
}

/**************/

.more-info {
    -webkit-transition: .3s all;
    transition: .3s all;
    overflow: hidden;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: justify;
    text-align-last: center;
}

section.block-content:nth-child(odd) {
    background-color: #f6f6f6;
}

.block-content p {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 300;
    margin-bottom: 18px;
    font-family: Helvetica, serif;
}

.block-content p a,
.block-content p a:hover,
.block-content p a:visited {
    color: #00b22d;
}

.banner-main {
    margin-bottom: 0;
}

.alias-city {
    /*-webkit-columns: 240px auto;*/
    /*-moz-columns: 240px auto;*/
    /*columns: 240px auto;*/
    vertical-align: top;
    /*-webkit-column-gap: 20px;*/
    /*-moz-column-gap: 20px;*/
    /*column-gap: 20px;*/
}

.alias-city h4 {
    font-weight: 400;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 16px;
    font-size: 15px;
}

.alias-city a, .alias-city a:visited {
    color: #3ca3ed;
}

.alias-city a:hover, .alias-city a:focus {
    color: #3ca3ed;
    text-decoration: underline;
}

.hide-block {
    opacity: 0;
}

.main-building {
    margin-bottom: 50px;
}

.main-building .flex {
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-building .help-radio > div {
    box-shadow: 2px 1px 7px #999;
}

.main-building .help-radio > div {
    width: 250px;
    height: 300px;
}

.main-building .help-radio > div a.help-radio-img {
    height: 180px;
}

.top-hr {
    width: 80px;
    height: 5px;
    border-radius: 3px;
    margin: 10px auto;
    background-color: #0e0e0f;
}

/*****moz block*****/

.moz-blocks {
    padding: 0 30px;
}

.block-content .moz-item p {
    font-size: 17px;
}

.moz-subtitle {
    font-size: 20px;
}

.moz-img img {
    width: 100%;
}

.moz-item {
    flex-wrap: wrap;
    margin: 60px 0;
}

.moz-img {
    margin: 40px 0;
    padding: 0 15px;
}

.moz-info {
    padding: 0 15px;
}

.moz-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #0e0e0f;
}

.moz-green {
    color: #00b22d;
}

.alias-pink {
    color: #e33989;
    font-weight: bold;
}

.alias-pink:hover,
.alias-pink:visited {
    color: #e33989;
    text-decoration: underline;
}

.search-dropdown {
    display: none;
    background: #fff;
    border-top: 5px solid #000;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.58);
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
}

.search-dropdown:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000;
    margin-left: -10px;
    z-index: 3;
}

.search-dropdown a {
    background-color: #fff;
    color: #444;
    display: block;
    line-height: 28px;
    overflow: hidden;
    padding: 7px 8px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
}

.search-dropdown a:visited {
    color: #444;
}

.search-dropdown a:hover, .search-dropdown a:focus {
    background-color: #eee;
    color: #0074e4;
    text-decoration: none;
}

.p-light-gray {
    color: #637381;
}

/***************block from landing***************/

.special-over {
    padding: 0 10px;
    margin-bottom: 20px;
}

a.special-item, div.special-item {
    color: #3E414E;
    text-decoration: none;
    width: 250px;
}

.special-img {
    height: 150px;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
}

.special-img img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.special-img.width img {
    width: 100%;
}

.special-info {
    height: 200px;
    padding: 10px 0;
    font-size: 15px;
    overflow: hidden;
}

.special-text {
    line-height: 16px;
    padding: 0;
    margin: 0 0 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #767676;
    max-height: 32px;
    overflow: hidden;
}

.special-type {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
    color: #3E414E;
    display: block;
    line-height: 20px;
    max-height: 60px;
    overflow: hidden;
}

.special-line {
    margin-bottom: 5px;
    color: #3E414E;
    display: block;
}

.special-line.line-grey {
    color: #767676;
}

.special-line span {
    font-weight: bold;
}

a.special-type:hover,
a.special-type:focus,
a.special-line:hover,
a.special-line:focus {
    color: #00b22d;
}

.special-descr, .special-descr p {
    line-height: 18px;
    height: 54px;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 15px;
}

.special-price {
    font-weight: bold;
    font-size: 20px;
}

.special-price span {
    font-weight: normal;
    color: #767676;
    font-size: 18px;
    line-height: 20px;
}

.special-more {
    color: #00b22d;
    font-size: 18px;
    line-height: 30px;
}

.special-more:hover,
.special-more:focus {
    color: #00b22d;
}

/*************end block from landing*************/

@media screen and (max-width: 480px) {
    .banner-title {
        font-size: 24px;
        line-height: 1.2em;
    }

    .banner-subtitle {
        font-size: 18px;
        line-height: 1.2em;
    }

    .modal-triple-column {
        column-count: 1;
    }

    .modal-double-column {
        column-count: 1;
    }
}