.list-homes-wrap {
    padding-bottom: 50px;
}

.list-home-item {
    margin-bottom: 50px;
}

.lh-user-block {
    background-color: #effbea;
    padding: 15px;
    display: flex;
    margin-bottom: 20px;
}

.lh-user-photo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
}

.lh-user-photo img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.lh-user-info {
    padding-left: 15px;
}

.lh-user-info p {
    margin-bottom: 0;
    line-height: 1.2;
}

.lh-title {
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
    margin-bottom: 10px;
}

.counter {
    font-size: 20px;
    font-weight: bold;
}

.lh-title-text {
    align-self: center;
    font-size: 20px;
}

.green-check {
    background-color: #17b710;
    padding: 10px;
    line-height: 30px;
}

.green-check input[type="checkbox"] + label::before {
    width: 25px;
    background-color: #fff;
    height: 25px;
    line-height: 0.87;
    border-radius: 4px;
    margin: 0 10px 0;
    font-size: 29px;
    color: #fff;
}

.green-check input[type="checkbox"] + label {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
}

.green-check input[type="checkbox"]:checked + label::before {
    content: "\f14a";
    color: #fff;
    background-color: #17b710;
}

.lh-cols {
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
}

.lh-photos {
    width: 400px;
    max-width: 100%;
}

.lh-big-photo {
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-bottom: 5px solid #fff;
}

.lh-small-photo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    height: 50px;
}

.lh-small-photo-item {
    width: 19%;
    height: 60px;
    overflow: hidden;
}

.lh-big-photo img, .lh-small-photo-item img {
    height: 100%;
}

.lh-params {
    display: table;
    margin-left: 15px;
}

.lh-params-row {
    display: table-row;
}

.lh-params-row:nth-child(even) {
    background-color: #e6e6e6;
}

.lh-params-row:first-child .lh-params-text {
    font-size: 22px;
    font-weight: bold;
}

.lh-params-title, .lh-params-text {
    display: table-cell;
    vertical-align: top;
    padding: 4px 10px;
}

.lh-params-text {
    min-width: 200px;
}

.lh-description {

}

.lh-descr-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .catalog-right {
        display: none;
    }

    .catalog-left {
        width: 100%;
    }

    .list-home-item {
        border-bottom: 1px solid #aaa;
        padding-bottom: 15px;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 992px) {
    .lh-cols {
        flex-wrap: wrap;
    }

    .lh-params {
        width: 100%;
        margin: 15px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .lh-title {
        display: block;
    }

    .green-check {
        margin: 15px 0;
    }

    .green-check input[type="checkbox"] + label {
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .lh-user-block {
        flex-wrap: wrap;
    }

    .lh-user-info {
        width: 100%;
        padding: 15px 0 0 0;
    }
}