html, body, div, span, object, iframe,
blockquote, a, address, cite, aside, ol, ul, li,
form, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

ul, ol {
    list-style-position: inside;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

ul li {
    list-style: disc inside;
    margin-bottom: 18px;
}

ol li {
    list-style: decimal inside;
    margin-bottom: 18px;
}

ul.no-list, ol.no-list {
    margin: 0;
    padding: 0;
}

ul.no-list li, ol.no-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pac-container {
    z-index: 2050 !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

label {
    font-weight: normal;
}

select {
    height: 37px;
    color: #777777;
    border: 1px #b2b2b2 solid;
    padding: 6px 7px 7px 7px;
    margin: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

:focus {
    outline: 0;
}

* html, body {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    color: #3e414e;
    background: #fff;
    line-height: 1.4;
}

html, body {
    height: 100%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
}

a {
    text-decoration: none;
    color: #337ab7;
    cursor: pointer;
}

a:active {
    color: #23527c;
}

a:hover {
    color: #23527c;
}

a:hover, a:active, a:focus {
    outline: none;
}

h1 {
    padding: 0;
    font-weight: bold;
    color: #333;
    font-size: 24px;
    line-height: 130%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 22px;
    line-height: 1.2em;
    font-weight: 400;
    color: #333;
    padding: 20px 0;
    margin: 0;
    font-family: Helvetica, serif;
}

h2.medium {
    font-size: 20px;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    padding: 0;
    color: #0e0e0f;
    margin: 0 0 10px;
}

h4 {
    font-size: 17px;
    font-weight: normal;
}

h5 {
    font-size: 16px;
    font-weight: normal;
}

h6 {
    font-size: 15px;
    font-weight: normal;
}

p {
    margin: 0 0 10px;
    color: #3e414e;
    font-weight: 400;
    font-size: 15px;
    font-family: Helvetica, serif;
}

input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 100%;
    background-color: #fff;
    font: 400 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777777;
    margin: 0;
    border-radius: 3px;
    height: 35px;
    line-height: 20px;
    border: 1px #b2b2b2 solid;
    padding: 6px 7px 7px 30px;
    /*border-radius: 0;
    height: 50px;
    border: none;
    line-height: 50px;
    padding: 0 0 0 40px;
    border-bottom: 1px #b2b2b2 solid;*/
    display: block;
}

div.has-success input {
    background: url(/images/check.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 7px 7px;
}

.has-success .form-control,
.has-error .form-control,
.form-control,
.has-success .form-control:focus,
.has-error .form-control:focus,
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

::-webkit-input-placeholder {
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    color: #333;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

:-moz-placeholder {
    color: #333;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
}

input:focus::-moz-placeholder {
    color: transparent;
}

textarea {
    width: 100%;
    background-color: #fff;
    font: 400 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777777;
    border: 1px #b2b2b2 solid;
    padding: 6px 7px 7px 7px;
    margin: 0;
    border-radius: 3px;
    height: 60px;
    line-height: 20px;
    display: block;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label,
input[type="checkbox"] + label {
    /*width: 100%;*/
    cursor: pointer;
}

input[type="checkbox"] + label:before {
    width: 25px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    display: inline-block;
    vertical-align: middle;
    content: "\e933";
    color: #3e414e;
    font-family: 'icomoon', serif;
    font-size: 20px;
}

input[type="checkbox"]:checked + label:before {
    width: 25px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    content: "\e934";
    color: #3e414e;
    font-family: 'icomoon', serif;
    font-size: 20px;
}

input[type="checkbox"] + label span.ctext {
    display: inline;
    vertical-align: middle;
    color: #777;
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    /*width: 100%;*/
    cursor: pointer;
}

input[type="radio"] + label:before {
    width: 25px;
    height: 30px;
    min-width: 25px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    display: inline-block;
    vertical-align: middle;
    content: "\e933";
    color: #797979;
    font-family: 'icomoon', serif;
    font-size: 20px;
}

input[type="radio"]:checked + label:before {
    width: 25px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    content: "\e934";
    color: #797979;
    font-family: 'icomoon', serif;
    font-size: 20px;
}

input[type="radio"] + label span.ctext {
    display: inline;
    vertical-align: middle;
    font-weight: 400;
}

textarea {
    width: 100%;
    height: 55px;
    resize: none;
}

.alert-container {
    position: fixed;
    top: 50px;
    z-index: 1005;
    right: 0;
    left: 0
}

.more-less i{
    vertical-align: bottom;
}

a.input-group-addon:hover,
a.input-group-addon:focus {
    text-decoration: none;
}

.icon-caret-down {
    font-size: 10px;
}

.small-padding {
    padding: 0 5px;
}

.hide-content {
    overflow: hidden;
    position: relative;
}

.show-text {
    height: auto !important;
}

.bold-h2 {
    padding: 0;
    margin: 0 0 10px;
    font-size: 28px;
    line-height: 1.3;
    font-weight: 700;
}

.textarea-grey {
    height: 55px;
    padding: 5px 10px;
    border: 1px solid #CCC;
    border-radius: 0 !important;
    line-height: 100%;
}

.input-grey {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #CCC;
    border-radius: 0 !important;
}

.nw {
    white-space: nowrap;
}

.margin-bottom30 {
    margin-bottom: 30px;
}

.clear {
    clear: both;
}

.relative {
    position: relative;
}

.container-fluid {
    padding: 0 15px;
    max-width: 1050px;
    margin: 0 auto;
    position: relative;
}

.container-fluid-left {
    padding: 0 15px;
    max-width: 1050px;
    position: relative;
}

.container-fluid-short {
    padding: 0 15px;
    max-width: 850px;
    margin: 0 auto;
}

.mainblock {
    min-height: 100%;
}

.catalog-left, .catalog-right {
    padding: 0;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-top-margin {
    margin-top: 0 !important;
}

.dot {
    padding: 0 1px;
    font-size: 2em;
    line-height: 12px;
    vertical-align: middle;
}

.home-info .dot:last-child {
    display: none;
}

.pad20 {
    padding: 20px;
}

.font-bold {
    font-weight: 600;
}

.loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1250;
}

/***************FORMS***************/
.modal {
    margin: 0 auto;
}

.modal-dialog {
    max-width: 100%;
    margin: 0 auto;
}

.modal-header .close {
    font-size: 28px;
    z-index: 1048;
    position: relative;
}

.contact-us input {
    height: 40px;
}

.modal480 .modal-dialog {
    width: 480px;
}

.new-modal .modal-body {
    padding: 10px 15px 70px;
}

.new-modal .modal-header {
    border: none;
}

.new-modal .modal-title {
    font-size: 26px;
    font-weight: bold;
}

/***********************************/

header {
    width: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s linear;
    -moz-transition: -moz-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    transition: transform 0.3s linear;
    z-index: 1000;
    min-height: 50px;
}

.header-avatar {
    height: 25px;
    width: 25px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #c2c2c2;
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}

.header-avatar img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.header-username {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 6px;
    line-height: 20px;
    float: none;
}

.fixed-top {
    display: table;
    width: 100%;
    background-color: #fff;
    z-index: 1011;
    position: relative;
}

.left-top-item {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    position: relative;
    white-space: nowrap;
}

.right-top-item {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px 0 0;
    width: 1%;
    position: relative;
    white-space: nowrap;
    z-index: 1;
}

a.right-top-item:hover,
a.right-top-item:focus {
    text-decoration: none;
}

.mobile-login {
    display: block;
    width: 30px;
    height: 30px;
    background: url(/images/login.png);
    background-size: cover;
}

.trigger-cell {
    display: table-cell;
    padding: 0 0 0 20px;
}

.trigger-menu {
    display: block;
    height: 47px;
    width: 50px;
    text-decoration: none !important;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    float: left;
    cursor: pointer;
    padding: 0 15px;
    margin: 0 -15px;
    z-index: 99;
}

.trigger-menu i {
    position: relative;
    margin: 25px 0 0 0;
}

.trigger-menu i, .trigger-menu i:before, .trigger-menu i:after {
    background: #0e0e0f;
    width: 23px;
    height: 4px;
    display: block;
    -webkit-transition: -webkit-transform 0.2s linear;
    -moz-transition: -moz-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    transition: transform 0.2s linear;
}

.trigger-menu i:before {
    bottom: 7px;
}

.trigger-menu i:before, .trigger-menu i:after {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
}

.trigger-menu i:after {
    top: 7px;
}

.content-open .trigger-menu {
    z-index: 1047;
}

.content-open .trigger-menu i {
    background: #fff;
    -webkit-transform: rotateZ(-180deg);
    -moz-transform: rotateZ(-180deg);
    -ms-transform: rotateZ(-180deg);
    -o-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg);
    box-shadow: 0 0 18px 4px rgba(255, 255, 255, 0.5);
}

.content-open .trigger-menu i:before {
    background: #fff;
    width: 18px;
    -webkit-transform: translate3d(8px, 2px, 0) rotateZ(45deg);
    -moz-transform: translate3d(8px, 2px, 0) rotateZ(45deg);
    -ms-transform: translate3d(8px, 2px, 0) rotateZ(45deg);
    -o-transform: translate3d(8px, 2px, 0) rotateZ(45deg);
    transform: translate3d(8px, 2px, 0) rotateZ(45deg);
}

.content-open .trigger-menu i:after {
    background: #fff;
    width: 18px;
    -webkit-transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
    -moz-transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
    -ms-transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
    -o-transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
    transform: translate3d(8px, -2px, 0) rotateZ(-45deg);
}

.logo-flex {
    display: inline-flex;
    max-width: 100px;
}

.logo-cell {
    width: 90%;
}

a.logo {
    font-family: "PantonRegular", sans-serif;
    color: #333;
    font-size: 13px;
    line-height: 1px;
    font-weight: bold;
    letter-spacing: -0.01em;
}

a.logo span {
    color: #c42020;
}

a.logo:visited {
    color: #333;
}

a.logo:hover {
    color: #e33989;
    text-decoration: none;
}

.btn-profile {
    cursor: pointer;
    position: relative;
}

.btn-profile:hover {
    color: #337ab7;
}

.btn-profile i.fa {
    position: absolute;
    right: 0;
    top: 17px;
}

.btn-profile i.fa:before {
    font-size: 16px;
}

a.global-create-link {
    position: fixed;
    right: 15px;
    top: 50px;
    z-index: 601;
    background-color: #00b22d;
    border-radius: 50%;
    font-size: 25px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    color: #fff;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.flex-v-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.asCenter {
    align-self: center;
}

.c-green {
    color: #00b22d;
}

.wh-normal .btn, .wh-normal.btn {
    white-space: normal;
}

.logo-img {
    height: 20px;
    margin: 5px;
}

.logo-img img {
    height: 100%;
}

.powered {
    font-size: 6px;
    line-height: 1px;
}

.language {
    position: relative;
}

.right-top-item a:hover, .right-top-item a:focus {
    color: #3E414E;
    text-decoration: underline;
}

.right-top-item a {
    color: #3E414E;
}

.right-top-item a:hover i {
    text-decoration: none;
}

.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
}

.nav-tabs {
    padding: 0;
    width: 100%;
    border: none;
}

.mobile-menu {
    display: block;
    background-color: #3E414E;
    position: fixed;
    z-index: 1030;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    opacity: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform 0.3s linear;
    -moz-transition: -moz-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    transition: transform 0.3s linear;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.mobile-menu.open {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.mobile-menu-avatar, .mobile-menu-other-account-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #c2c2c2;
    font-size: 30px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
}

.mobile-balance {
    padding: 5px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #ddd;
    border: 1px #ddd solid;
    border-radius: 3px;
}

.mobile-menu-avatar img, .mobile-menu-other-account-avatar img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.mobile-menu-nick {
    font-size: 17px;
    line-height: 20px;
    width: 100%;
    max-width: 150px;
    text-overflow: ellipsis;
    padding: 6px 0 7px 10px;
    overflow: hidden;
}

.mobile-menu-nick a {
    color: #fff;
}

.content-open:before, .content-open header:before {
    content: '';
    z-index: 1010;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    top: 0;
    left: 0;
    display: block;
}

.content-open {
    -webkit-transform: translate3d(80%, 0, 0);
    -moz-transform: translate3d(80%, 0, 0);
    -ms-transform: translate3d(80%, 0, 0);
    -o-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0);
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
}

.close-mobile {
    display: none;
    top: 24px;
    background: url(/images/menu-toggle.png) center bottom no-repeat;
    z-index: 100;

    width: 35px;
    height: 20px;
    cursor: pointer;
    -webkit-transition: margin .3s;
    transition: margin .3s;
}

.content-open .trigger-cell {
    z-index: 1032;
}

.content-open .close-mobile {
    display: block;
}

ul.mobile-list li {
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #777;
}

ul.mobile-list li a {
    /*white-space: nowrap;*/
    text-decoration: none;
    height: 100%;
    color: #fff;
}

ul.mobile-list li a:visited {
    color: #fff;
}

ul.mobile-list li a:focus, ul.mobile-list li a:hover {
    color: #fff;
    text-decoration: none;
}

ul.mobile-list li span.mobile-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 15px;
}

ul.mobile-list li span.home {
    background: url(/images/home.svg);
    background-size: cover;
}

ul.mobile-list li span.search-home {
    background: url(/images/search-home.svg);
    background-size: cover;
}

ul.mobile-list li span.regional-white {
    background: url(/images/regional_wht.svg) no-repeat;
    background-size: cover;
}

ul.mobile-list ul.regional-mobile {
    display: none;
    position: absolute;
    background: transparent;
    z-index: 1000;
    top: 50px;
    left: 12px;
}

ul.mobile-list ul.regional-mobile li {
    display: block;
    padding-bottom: 20px;
    position: relative;
}

ul.mobile-list ul.regional-mobile a {
    padding: 0 20px;
    color: #ccc;
}

ul.mobile-list ul.regional-mobile a:visited {
    color: #ccc;
}

ul.mobile-list ul.regional-mobile a:hover,
ul.mobile-list ul.regional-mobile-list a:focus {
    color: #ccc;
    text-decoration: underline;
}

.nav-subtitle {
    background-color: #4b535d;
    padding: 0 20px;
    font-size: 12px;
    line-height: 30px;
    color: #999;
    font-weight: 500;
    text-transform: uppercase;
}

.mobile-menu-icon {
    width: 20px;
    color: #fff;
}

.mobile-language {
    font-size: 17px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.mobile-language option {
    color: #333;
}

.all-content {
    position: relative;
    height: 100%;
    -webkit-transition: -webkit-transform 0.3s linear;
    -moz-transition: -moz-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    transition: transform 0.3s linear;
}

.block-content {
    padding: 30px 0;
}

/*************BUTTONS*************/

.btn {
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    /*white-space: normal;*/
}

.btn-big {
    margin: 0 5px;
    border-radius: 5px;
    border-width: 2px;
    padding: 0 6px;
    line-height: 40px;
    font-size: 17px;
}

.btn-small {
    line-height: 18px;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    border-width: 1px;
    font-weight: bold;
}

.btn-white-blue {
    color: #e33989;
    background-color: rgba(255,255,255,0.7);
    border-color: #e33989;
}

.btn:hover, .btn:focus {
    text-decoration: none;
    color: #fff;
}

.btn-white-blue:hover, .btn-white-blue:focus {
    color: #fff;
    background-color: #e33989;
}

.btn-blue-white {
    color: #fff;
    background-color: #e33989;
}

.btn-blue-white:hover, .btn-blue-white:focus {
    color: #e33989;
    background-color: #fff;
    border-color: #e33989;
}

.btn-blue {
    color: #fff;
    background-color: #e33989;
    border-color: #e33989;
}

.btn-blue:hover, .btn-blue:focus {
    border-color: #e33989;
    color: #fff;
}

.btn-green, a.btn-green {
    color: #fff;
    background-color: #00b22d;
    border-color: #00b22d;
}

.btn-green:hover, .btn-green:focus,
a.btn-green:hover, a.btn-green:focus {
    color: #fff;
    background-color: #33d44f;
    border-color: #33d44f;
    text-decoration: none;
}

.btn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

a.btn-white-red {
    color: #f6657d;
    border-color: #f6657d;
    background-color: transparent;
}

.btn-white-red:hover, .btn-white-red:focus {
    color: #fff;
    background-color: #f6657d;
}

a.btn-red-white, .btn-red-white {
    color: #fff;
    border-color: #f6657d;
    background-color: #f6657d;
}

.btn-red-white:hover, .btn-red-white-:focus {
    color: #f6657d;
    background-color: #fff;
}

.pre-qualified-icon {
    background-color: #e33989;
    width: 22px;
    height: 22px;
    line-height: 22px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    vertical-align: text-top;
    border-radius: 50%;
    margin-top: -1px;
}

.width100 {
    width: 100%;
}

.mix-phone-btn {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
}

/***********END BUTTONS***********/

.sticker-sale {
    background-color: #eab134;
    padding: 1px 3px;
    font-size: 12px;
    line-height: 1.4em;
    font-weight: 700;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 2px;
    z-index: 2;
}

footer {
    background-color: #3e414e;
    color: #fff;
    padding: 40px 0;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}

.footer-title {
    font-size: 20px;
    line-height: 16px;
    padding-bottom: 20px;
    margin: 0;
    color: #c6e4e3;
}

ul.footer-alias {
    font-size: 17px;
}

ul.footer-alias li {
    padding-bottom: 17px;
    display: block;
}

ul.footer-alias li h5 {
    margin: 0;
}

ul.footer-alias li a, ul.footer-alias li a:visited {
    color: #fff;
    font-size: 15px;
}

ul.footer-alias li a:hover, ul.footer-alias li a:focus {
    color: #99cff6;
    text-decoration: none;
}

a.footer-prop {
    display: block;
    padding: 5px 0 17px;
    overflow: hidden;
    color: #fff;
}

a.footer-prop:visited {
    color: #fff;
}

a.footer-prop:hover, a.footer-prop:focus {
    color: #0eaaa6;
    text-decoration: none;
}

.prop-name {
    font-size: 14px;
    line-height: 16px;
    text-overflow: ellipsis;
    height: 32px;
    overflow: hidden;
}

.prop-address {
    font-size: 11px;
    line-height: 13px;
    color: #999;
    font-style: italic;
    text-overflow: ellipsis;
    height: 13px;
    overflow: hidden;
}

.prop-price {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}

.copyright {
    color: #999;
    font-size: 20px;
    margin-top: 20px;
}

a.footer-phone {
    display: block;
    color: #fff;
    font-size: 26px;
    line-height: 20px;
    padding-bottom: 15px;
}

a.footer-mail {
    display: block;
    color: #fff;
    padding-bottom: 20px;
}

a.footer-phone:visited, a.footer-mail:visited {
    color: #fff;
}

a.footer-phone:hover, a.footer-phone:focus,
a.footer-mail:hover, a.footer-mail:focus {
    color: #99cff6;
    text-decoration: none;
}

address {
    padding-bottom: 50px;
    font-style: normal;
}

address p {
    margin: 0 0 5px;
    color: #dfdfdf;
    font-size: 20px;
    line-height: 1.2em;
}

.social a {
    border-radius: 2px;
    border-width: 2px;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
    padding: 0 10px;
    font-size: 20px;
    line-height: 40px;
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    cursor: pointer;
    -webkit-transition: line-height .2s linear;
    transition: line-height .2s linear;
}

.social a .icon-facebook-logo {
    color: #3468AF;
}

.social a:hover {
    line-height: 35px;
    text-decoration: none;
}

.social a .icon-twitter {
    color: #4E97D5;
}

.social a .icon-google-plus {
    color: #CC324B;
}

.social a .icon-linkedin, .social a .icon-pinterest {
    color: #fff;
}

.footer-column {
    margin-bottom: 50px;
}

.grey-bg {
    background-color: #f6f6f6;
}

.agent-status {
    max-width: 55px;
    padding: 1px 2px;
    color: #949494;
    font-size: 9px;
    text-transform: uppercase;
    line-height: 9px;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    align-self: flex-start;
}

.contact-agent-block {
    background-color: #fff;
    font-size: 14px;
    margin-bottom: 30px;
}

.agent-block {
    margin-bottom: 10px;
    line-height: 1.2;
    display: flex;
    justify-content: flex-start;
}

.agent-photo {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 10px;
}

.agent-photo img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.agent-middle {
    margin-right: 10px;
    font-size: 14px;
}

.agent-middle a:hover,
.agent-middle a:focus {
    text-decoration: none;
}

.agent-add-info {
    font-size: 12px;
}

.count-sales, .count-sales:hover, .count-sales:focus {
    color: #3E414E;
}

.count-sales span {
    display: inline-block;
    padding: 1px;
    min-width: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #1b5098;
    border-radius: 2px;
    font-size: 12px;
}

.ca-temrs {
    margin: 10px 0;
}

.ca-temrs, .ca-temrs p {
    font-size: 12px;
}

.home-item {
    position: relative;
    margin-bottom: 10px;
    padding: 0 5px;
    width: 50%;
}

.home-item-inner {
    display: block;
    overflow: hidden;
    height: 230px;
    position: relative;
}

.home-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.home-img img {
    min-height: 100%;
    min-width: 100%;
    -webkit-transform: translate(-50%, -50%) scale(1.15);
    -ms-transform: translate(-50%, -50%) scale(1.15);
    transform: translate(-50%, -50%) scale(1.15);
    top: 50%;
    left: 50%;
    position: absolute;
}

.top-price {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    opacity: 0.8;
    -webkit-transition: opacity .35s linear;
    transition: opacity .35s linear;
}

.top-price:before, .top-price:after {
    position: absolute;
    content: '';
    bottom: -15px;
    border-style: solid;
    opacity: 0.5;
}

.top-price:before {
    right: 0;
    border-width: 0 55px 15px 0;
    border-color: transparent #000 transparent transparent;
}

.top-price:after {
    left: 0;
    border-width: 0 0 15px 55px;
    border-color: transparent transparent transparent #000;
}

.top-main-price {
    color: #fff;
    font-size: 24px;
}

.top-save-price {
    color: #f6657d;
    font-size: 18px;
}

.home-info {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0 15px 10px;
    -webkit-transition: opacity .35s linear;
    transition: opacity .35s linear;
    opacity: 0.8;
}

a.home-item-inner:hover .top-price,
a.home-item-inner:hover .home-info {
    opacity: 1;
}

.home-similar .home-item-inner {
    height: 230px;
}

.home-title {
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 10px 0;
    width: 100%;
    font-size: 19px;
    color: #fff;
    height: 40px;
    font-weight: normal;
    line-height: 20px;
    padding: 0;
}

.home-params {
    overflow: hidden;
    height: 20px;
}

.home-param {
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-param:not(:first-child) {
    padding: 0 0 0 15px;
    border-left: 1px solid #fff;
}

/*********************Modal Cities***********************/
.modal-city .modal-content {
    background-color: #f3f3f3;
}

ul.city-switch li {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    font-size: 17px;
    line-height: 40px;
}

ul.city-switch li a:hover,
ul.city-switch li a:focus,
ul.city-switch li a {
    color: #3E414E;
    text-decoration: none;
}

ul.city-switch li.active {
    font-weight: bold;
    background-color: #fff;
}

.city-content {
    background-color: #fff;
    margin: 0 -15px -15px;
    padding: 15px 25px 30px;
}

.city-block {
    height: 520px;
    overflow-x: hidden;
    padding-right: 30px;
}

.city-group {
    padding-bottom: 25px;
    position: relative;
}

.city-letter {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 17px;
    color: #aaa;
}

ul.city-list {
    padding: 0 0 0 20px;
}

ul.city-list.no-letter {
    padding: 0;
}

ul.city-list li {
    display: block;
}

ul.city-list li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #3E414E;
}

ul.city-list li a:hover,
ul.city-list li a:focus {
    color: #c42020;
    text-decoration: underline;
}

ul.city-list li a.active {
    background-color: #c42020;
    color: #fff;
    border-radius: 2px;
}

ul.city-list li a.active:hover,
ul.city-list li a.active:focus {
    text-decoration: none;
}

.city-search {
    position: absolute;
    right: 50px;
    width: 50%;
}

.modal-city .close.close-modal {
    color: #fff;
    font-size: 40px;
    right: -40px;
    position: absolute;
    opacity: 1;
    font-weight: normal;
    top: 0;
}

@media screen and (max-width: 992px) {
    .city-search {
        position: relative;
        width: 100%;
        right: 0;
    }
}

/********************************************************/

.agent-rate {
    font-size: 14px;
    color: #03c04a;
    letter-spacing: -0.1em;
    display: inline-flex;

}

.agent-rate-alias,
.agent-rate-alias:hover,
.agent-rate-alias:focus {
    color: #03c04a;
    letter-spacing: -0.1em;
}

.breadcrumbs ul li {
    padding-left: 15px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs ul li:first-child {
    list-style: none;
    padding: 0;
}

.breadcrumbs ul li:first-child:before {
    content: '';
}

.breadcrumbs ul li:before {
    content: '.';
    color: #aaa;
    font-size: 18px;
    position: absolute;
    bottom: 3px;
    left: 4px;
}

.breadcrumbs ul li a {
    font-size: 12px;
    color: #aaa;
}

.grey-switch {
    margin: 0;
    overflow: visible;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: background-color .1s ease;
    -o-transition: background-color .1s ease;
    transition: background-color .1s ease;
    background-color: #fff;
    color: #000;
    border: 1px solid #c4c4c4;
    height: 36px;
    padding: 0 17px;
    font-size: 17px;
    line-height: 34px;
}

.grey-switch.active {
    background-color: #d9d9d9;
}

ul.sell-rent-btns li:first-child .grey-switch {
    border-radius: 2px 0 0 2px;
    border-right: none;
}

ul.sell-rent-btns li:last-child .grey-switch {
    border-radius: 0 2px 2px 0;
}

.grey-switch:not(.active):hover,
.grey-switch:not(.active):focus {
    background-color: #effbea;
    text-decoration: none;
}

/*-------------------filter-mobile----------------------*/

.html-open {
    overflow-x: hidden;
}

.body-open {
    overflow: hidden auto;
}

.menu-bottom-block {
    position: fixed;
    z-index: 1456;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #eee;
}

.menu-bottom-block.menu-bottom-property {
    z-index: 1456;
}

ul.menu-bottom {
    width: 100%;
    padding: 0 10px;
    position: relative;
}

ul.menu-bottom li {
    font-size: 12px;
    height: 50px;
    padding: 5px;
    text-align: center;
}

ul.menu-bottom li.search-bottom .input-group-addon {
    display: table-cell;
    border: 1px solid #0e0e0f;
    border-radius: 0 8px 8px 0 !important;
    border-left: none;
    height: 30px;
    padding: 0;
    background-size: 80%;
}

ul.menu-bottom li.search-bottom .form-control {
    border: 1px solid #0e0e0f;
    border-right-color: rgb(14, 14, 15);
    border-radius: 8px 0 0 8px !important;
    border-right: none;
    height: 30px;
    background: #eee;
}

.search-bottom .input-group {
    width: 100%;
    top: 0
}

.search-bottom.open .input-group {
    width: calc(100% - 50px);
    left: 50px;
}

.search-bottom-bg {
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    background-color: #fff;
    position: relative;
}

.text-bsearch {
    color: #999;
}

.search-bottom.open .search-bottom-bg {
    position: absolute;
    right: 16.66%;
    left: 10px;
}

.search-bottom .bottom-menu-arrow {
    position: absolute;
    display: none;
    left: 10px;
}

.search-bottom.open .bottom-menu-arrow {
    display: block;
}

ul.menu-bottom li a:hover,
ul.menu-bottom li a:focus,
ul.menu-bottom li a.active,
ul.menu-bottom li.active {
    color: #c42020;
}

ul.menu-bottom li a {
    display: block;
    text-align: center;
    background-size: 100%;
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    position: relative;
}

ul.menu-bottom li a:hover,
ul.menu-bottom li a:focus {
    color: #999;
    text-decoration: none;
}

.mobile-count-filter {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    right: -2px;
    background-color: #e33989;
    z-index: 2;
    color: #fff;
    line-height: 20px;
}

.icon-bottom {
    /*width: 25px;*/
    /*height: 30px;*/
    display: block;
    font-size: 25px;
    color: #0e0e0f;
    margin: 0 auto;
}

ul.menu-bottom li.active .icon-bottom {
    color: #3ca3ed;
}

.icon-bottom.i-search {
    width: 28px;
    height: 28px;
    font-size: 23px;
    line-height: 26px
}

.i-back {
    transform: scale(-1);
    -webkit-transform: scale(-1);
}

.more-menu-bg {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1039;
}

.more-menu-bg.open {
    display: block;
}

.more-menu {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    line-height: 50px;
    width: calc(100% - 30px);
}

.more-menu-title {
    color: #fff;
}

ul.more-ul {
    width: 100%;
    border-radius: 15px;
    background: #f7f7f7;
}

ul.more-ul li {
    width: 100%;
}

ul.more-ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

ul.more-ul li a {
    display: block;
    line-height: 60px;
    font-size: 18px;
    color: #3E414E;
}

.more-menu-icon {
    font-size: 24px;
    padding: 0 20px;
    color: #3ca3ed;
    vertical-align: text-bottom;
}

ul.more-ul li a:hover,
ul.more-ul li a:focus,
a.btn-cancel:hover,
a.btn-cancel:focus {
    text-decoration: none;
}

a.btn-cancel {
    font-weight: bold;
    display: block;
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    line-height: 60px;
    font-size: 18px;
    margin-top: 15px;
}

/*------------------------------------------------------*/

@media screen and (max-width: 480px) {
    .modal {
        width: 100%;
    }

    .home-item {
        width: 100%;
    }

    .header-username {
        display: none;
    }
}