.mobile-request {
    padding: 10px;
}

.mobile-request-item {
    padding: 10px;
    background: #f1f1f1;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-bottom: 2px solid #e33989;
}

.mobile-request-item-info {
    width: 90%;
}

.mobile-request-item-info a:hover,
.mobile-request-item-info a:focus {
    text-decoration: none;
}

.mobile-request-row {
    padding-bottom: 10px;
}

.mobile-request-id {
    font-weight: bold;
    display: inline;
    margin-right: 10px;
}

.mobile-request-title {
    font-size: 16px;
}

.mobile-request-price {
    font-size: 16px;
    color: #e33989;
}

ul.object-status-switcher {
    margin-bottom: 10px;
}

ul.object-status-switcher li {
    margin: 5px 5px 5px 0;
}

.mobile-request-img {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.mobile-request-img img {
    height: 100%;
    display: block;
    margin: 0 auto;
}