.tariff-wrap {
    padding: 20px;
}

.tariff-block {
    margin: 30px 0;
    width: 100%;
}

.tariff-box {
    padding: 0 0 20px 0;
    vertical-align: top;
    transition: box-shadow 0.2s linear;
    -webkit-transition: -webkit-box-shadow 0.2s linear;
    min-width: 25%;
    display: block;
    width: 100%;
}

.tariff-title {
    font-size: 22px;
    line-height: 50px;
    font-weight: bold;
    color: #fff;
    border-radius: 4px 4px 0 0;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    float: none;
}

.tariff-head {
    position: relative;
    height: 120px;
    border-radius: 4px 4px 0 0;
}

.tariff-head-center {
    font-size: 30px;
    font-weight: bold;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #555;
}

.tariff-price {
    font-size: 18px;
    position: relative;
    color: #fff;
    height: 70px;
    margin: 0;
}

.tariff-price span {
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    display: block;
    line-height: 150%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 0 15px;
}

.tariff-body {
    padding: 15px;
    border: 1px solid #e5e8e8;
}

.tariff-item {
    line-height: 20px;
    font-size: 16px;
    color: #555;
    border-bottom: 1px solid #e5e8e8;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    padding: 10px;
}

.tariff-red .tariff-head {
    background-color: #e73b3b;
}

.tariff-red .tariff-title {
    background-color: #f54444;
}

.tariff-red .tariff-item {
    color: #e73b3b;
}

.tariff-blue .tariff-head {
    background-color: #2570a2;
}

.tariff-blue .tariff-title {
    background-color: #2980b9;
}

.tariff-blue .tariff-item {
    color: #2570a2;
}

.tariff-gray .tariff-head {
    background-color: #34495E;
}

.tariff-gray .tariff-title {
    background-color: #2a3c4e;
}

.tariff-gray .tariff-item {
    color: #34495E;
}

.center-button {
    text-align: center;
    margin-top: 15px;
    height: 48px;
}

.tariff-mobile-text {
    display: inline;
}

.tariff-p {
    font-size: 18px;
}