.global-create-link {
    display: none;
}

[data-action="remove-contact"]:hover,
[data-action="remove-contact"]:focus {
    text-decoration: none;
}

.selectize-multi > div {
    height: auto;
}
.step-map {
    height: 240px;
}

.wizard-wrap {
    width: 1920px;
    max-width: 100%;
    padding: 20px;
}

.wizard-content {
    padding: 5px 0;
}

.sell-rent {
    margin: 10px 0 20px;
}

.type-adv {
    margin: 10px 0;
}

.type-adv .chover {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    padding-right: 10px;
    width: 100%;
}

.type-adv .chover label {
    font-size: 14px;
}

.wizards-steps {
    padding: 10px 0 0;
}

.wizards-steps section {
    margin-bottom: 20px;
}

.wizard-step-header {
    font-size: 18px;
    line-height: 18px;
    border-bottom: 3px solid #f2f2f2;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #000;
    letter-spacing: 0.02em;
}

.wizard-step-header span {
    font-size: 14px;
    color: #888;
}

.form-wizard {
    font-size: 14px;
}

.radio-btn input[type="radio"] + label:before,
.radio-btn input[type="radio"]:checked + label:before,
.big-radio-btn input[type="radio"]:checked + label:before,
.big-radio-btn input[type="radio"] + label:before {
    display: none;
}

.wizard-photo-small-preview {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.wizard-photo-small-preview img {
    width: 100%;
}

.radio-btn {
    width: 20%;
}

.radio-btn input[type="radio"] + label {
    width: 100%;
    border: 1px solid #c4c4c4;
    border-right: none;
    height: 30px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.big-radio-btn input[type="radio"] + label {
    margin: 0;
    color: #000;
    border: 1px solid #c4c4c4;
    height: 36px;
    padding: 0 17px;
    font-size: 17px;
    line-height: 34px;
}

.radio-btn input[type="radio"]:checked + label,
.big-radio-btn input[type="radio"]:checked + label {
    background-color: #00b22d;
    color: #fff;
    position: relative;
}

.radio-btn input[type="radio"]:checked + label:before,
.big-radio-btn input[type="radio"]:checked + label:before {
    content: '✔';
    font-size: 20px;
    display: inline;
    color: #fff;
    letter-spacing: 5px;

}


.radio-btn input[type="radio"]:checked + label:hover,
.big-radio-btn input[type="radio"]:checked + label:hover,
.radio-btn input[type="radio"]:checked + label:hover:before,
.big-radio-btn input[type="radio"]:checked + label:hover:before {
    color: #000;
}

.radio-btn input[type="radio"] + label:hover,
.big-radio-btn input[type="radio"] + label:hover {
    background-color: #effbea;
}

.radio-btn:first-child input[type="radio"] + label,
.big-radio-btn:first-child input[type="radio"] + label {
    border-radius: 2px 0 0 2px;
}

.radio-btn:last-child input[type="radio"] + label {
    border-radius: 0 2px 2px 0;
    border-right: 1px solid #c4c4c4;
}

.square input {
    width: 33.33%;
    border-radius: 0;
}

.square input:not(:last-child) {
    border-right: none;
}

.square input:first-child {
    border-radius: 2px 0 0 2px;
}

.square input:last-child {
    border-radius: 0 2px 2px 0;
}

.floor {
    line-height: 35px;
}

.floor input {
    max-width: calc(50% - 30px);
}

.form-wizard p {
    font-size: 14px;
}

.plus-phone {
    padding-right: 50px;
    position: relative;
}

.plus-phone .input-group-addon {
    font-size: 20px;
    background-color: #fff;
    cursor: pointer;
}

.plus-btn {
    right: 0;
    top: 0;
    position: absolute;
    background-color: #e33989;
    line-height: 35px;
    width: 35px;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    height: 35px;
    cursor: pointer;
}

.plus-phone-block:not(:last-child) .plus-btn {
    display: none;
}

.plus-btn:hover,
.plus-btn:focus {
    color: #fff;
    text-decoration: none;
}

.plus-comment-btn {
    line-height: 20px;
    white-space: nowrap;
}

.plus-comment {
    margin: 20px 0;
}

.plus-comment input {
    display: none;
}

.pre-view {
    margin: 20px 0;
    font-size: 17px;
}