@import "../modules/variables"

.button
  text-transform: uppercase
  border: 1px solid
  background-color: $blue
  border-color: $blue
  padding: 16px 0
  font-size: 0.9rem
  color: $white
  font-weight: $bold
  vertical-align: bottom
  border-radius: 4px
  line-height: 1.5em
  display: block
  text-align: center
  &:hover,
  &:focus
    background-color: $dark-blue
    border-color: $dark-blue
    color: $white
    text-decoration: none
  &.green
    background-color: $green
    border-color: $green
    &:hover,
    &:focus
      background-color: $grass
      border-color: $grass
  &.white-blue
    border-color: $white
    &:hover,
    &:focus
      background-color: $dark-blue
      border-color: $dark-blue
  &.orange
    background-color: $orange
    border-color: $orange
    &:hover,
    &:focus
      background-color: $dark_orange
      border-color: $dark_orange
  &.transparent
    background-color: transparent
    border: 1px solid $blue
    color: $blue
    &:hover,
    &:focus
      border: 1px solid $blue
      color: $white
      background-color: $blue
  &.transparent-black
    background-color: transparent
    border: 1px solid $black
    color: $black
    &:hover,
    &:focus
      border: 1px solid $black
      color: $black
      background-color: $light_grey
  &.big
    padding: 15px
    width: 255px
    height: 50px
  &.small
    padding: 10px
    min-width: 150px
    height: 40px

