@import "../modules/variables"

.nw
  white-space: nowrap

.light-grey-bg
  background-color: #f5f5f5

.grey
  color: $grey

[data-hint]
  position: relative

[data-hint]::before
  content: ''
  position: absolute
  background: transparent
  border: 6px solid transparent
  z-index: 1000001

[data-hint]::after
  content: attr(data-hint)
  background: #383838
  color: white
  text-shadow: 0 -1px 0 black
  padding: 7px 9px
  font-size: 12px
  line-height: 16px
  font-weight: 500
  text-decoration: none
  text-transform: none
  text-indent: 0
  border-radius: 4px
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
  white-space: nowrap

[data-hint]::before, [data-hint]::after
  position: absolute
  visibility: hidden
  opacity: 0
  z-index: 1000000
  pointer-events: none
  -webkit-transition: 0.2s ease
  transition: 0.2s ease
  -webkit-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)

.hint--top::before, .hint--top::after
  bottom: 100%
  left: 50%
  max-width: 200px

.hint--top::after
  margin-left: -22px

.hint--top::before
  margin-left: -5px
  margin-bottom: -12px
  border-top-color: #383838
  display: block

.hint--top-right:before, .hint--top-right:after
  bottom: 100%
  right: 0

.hint--top:hover::before, .hint--top:hover::after
  -webkit-transform: translateY(-10px)
  transform: translateY(-10px)

[data-hint]:hover::before, [data-hint]:hover::after
  visibility: visible
  opacity: 1


.hint--bottom::before
  margin-left: -5px
  margin-top: -12px
  border-bottom-color: #383838


.hint--bottom::before, .hint--bottom::after
  top: 100%
  left: 50%


.hint--bottom::after
  margin-left: -22px


.hint--bottom:hover::before, .hint--bottom:hover::after
  -webkit-transform: translateY(10px)
  transform: translateY(10px)


.hint--left:before
  margin-right: -12px
  margin-bottom: -5px
  border-left-color: #383838

.hint--left:after
  margin-bottom: -13px

.hint--left:before,
.hint--left:after
  right: 100%
  bottom: 50%


.hint--left:hover:before,
.hint--left:hover:after
  -webkit-transform: translateX(-10px)
  transform: translateX(-10px)

.hint--right::before, .hint--right::after
  left: 100%
  max-width: 200px
  width: 200px

.hint--right::before
  margin-left: -12px
  border-right-color: #383838
  display: block
  width: 10px
  height: 12px
  top: 50%
  margin-top: -5px

.hint--right:hover::before, .hint--right:hover::after
  -webkit-transform: translateX(10px)
  transform: translateX(10px)