@import "../modules/variables"

.filter
  border-bottom: 1px solid $light_grey
  background-color: $white

.filter-top
  z-index: 5
  .search-filter input, .filter-select select
    height: 70px
    border: none
    @media screen and (max-width: 992px)
      height: 35px
  &:focus,&:hover
    border: none
  select
    border-right: 1px solid $light_grey
  .search-filter
    width: 275px
    @media screen and (max-width: 992px)
      border-bottom: 1px solid $light_grey
    input
      width: calc(100% - 40px)
    .input-group-append i
      line-height: 70px
      @media screen and (max-width: 992px)
        line-height: 35px
        border-right: none
      padding: 0 10px
      border-right: 1px solid $light_grey
      i
        font-weight: $bold

.filter-prices .filter-box
  width: 275px

.filter-price-diapason
  line-height: 40px
  padding: 10px


.filter-choose
  height: 40px
  line-height: 40px
  padding: 0 15px
  cursor: pointer
  &.active
    background-color: $dark-blue
    color: $white
    font-weight: $bold
  &:hover
    background-color: $blue
    color: $white

.filter-column-left,
.filter-column-right
  border-top: 1px solid $grey

.filter-item
  position: relative
  border-right: 1px solid $light_grey
  @media screen and (max-width: 576px)
    border-bottom: 1px solid #e7e7e7

.filter-name
    line-height: 70px
    cursor: pointer
    padding: 0 25px 0 10px
    @media screen and (max-width: 992px)
      line-height: 35px
    &:after
      content: '\e904'
      font-family: 'icomoon', serif
      position: absolute
      right: 10px
      top: 0
      line-height: 70px
      font-size: 10px
      @media screen and (max-width: 992px)
        line-height: 35px

.filter-box
  background-color: $white
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5)
  position: absolute
  top: 70px
  left: 0
  z-index: 3
  &.filter-more
    right: 0
    left: auto
    width: 200%
    @media screen and (max-width: 576px)
      width: 100%
  &.filter-price
    width: 275px

.filter-type-group
  padding: 0 15px 15px 15px
  &:first-child
    padding-top: 10px
  &.active .filter-sub-types
    display: block

.filter-sub-types
  padding-left: 15px
  display: none

.filter-type-group-name, .filter-sub-type
  white-space: nowrap
