@import "../modules/variables"

.filters
  position: fixed
  display: none
  z-index: 1456
  background: #fff
  top: 0
  right: 0
  left: 0
  bottom: 0
  overflow-y: scroll
  padding: 70px 20px 20px

.filters.open 
  display: block

.filter-row 
  margin: 0 -10px

.filter-col50 
  width: 50%
  padding: 0 5px
  margin-bottom: 5px

.filter-col50 span 
  display: inline-block
  line-height: 18px
  padding: 3px 0


.filter-title 
  text-transform: uppercase
  font-weight: bold
  line-height: 1em
  padding: 8px 0
  font-size: 0.75rem

.filter-choose
  input[type="radio"] + label
    min-width: 16.66%
    border: 1px solid #777
    height: 30px
    line-height: 30px
    padding: 0 5px
    font-size: 14px
    &:before
      display: none
  &.active,
  input[type="radio"]:checked + label
    background-color: $grass
    color: #fff
  &:not(:last-child) label
    border-right: none
  &:first-child label
    border-radius: 5px 0 0 5px
  &:last-child label
    border-radius: 0 5px 5px 0

.dash
  padding: 0 5px
  line-height: 35px

.two-param input
  width: 48%

.filter-ops 
  align-content: center
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 50px
  line-height: 50px
  box-shadow: 0 2px 5px #bbb
  background-color: #fff
  padding: 0 20px


.mobile-results-count 
  font-weight: bold
  color: #999
  font-size: 18px


.filter-ops
  a, input
    color: #3ca3ed
    font-size: 1rem
    border: none

.filter-mode a 
  padding: 5px 0
  display: block


.filter-sub-types 
  padding-left: 15px
  display: none


.filter-type-group.active .filter-sub-types 
  display: block


.filter-type-group-name, .filter-sub-type 
  white-space: nowrap

.map-over
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  z-index: 100
  background-color: $white