@font-face
  font-family: 'HelveticaNeueCyrRoman'
  src: url('/fonts/HelveticaNeueCyrRoman.eot') format('embedded-opentype')
  src: url('/fonts/HelveticaNeueCyrRoman.woff') format('woff')
  src: url('/fonts/HelveticaNeueCyrRoman.woff2') format('woff2')
  src: url('/fonts/HelveticaNeueCyrRoman.ttf') format('truetype')
  src: url('/fonts/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman') format('svg')
  font-weight: normal
  font-style: normal
