@import "../modules/variables"

input
  background-color: $white
  color: $black
  margin: 0
  height: 40px
  line-height: 20px
  display: block
  text-align: left
  padding: 10px 15px
  border: 2px solid $light_grey
  border-radius: 0
  font-size: 1rem
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1)

input:focus,
textarea:focus,
select:focus,
input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus
  border: 2px $light_grey solid
  color: $black
  box-shadow: none

input[type="number"] 
  -moz-appearance: textfield

input[type="number"]::-webkit-inner-spin-button 
  display: none

::-webkit-input-placeholder
  font-size: 1em
  color: $black

::-moz-placeholder
  color: $black
  font-size: 1em

textarea, textarea.form-control
  background-color: $white
  color: $black
  margin: 0
  height: 170px
  line-height: 20px
  display: block
  text-align: left
  padding: 15px
  border: 2px solid $light_grey
  border-radius: 0
  font-size: 1rem
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1)

select
  color: $black
  margin: 0
  height: 40px
  line-height: 40px
  display: block
  text-align: left
  padding: 0 30px 0 10px
  border: 2px solid $light_grey
  border-radius: 0
  font-size: 1em
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1)
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  background: url(../../images/caret-down.svg) no-repeat #fff
  background-position: right 10px center
  background-size: 9px


input[type="checkbox"]
  display: none


input[type="checkbox"] + label
  cursor: pointer
  &:before
    width: 25px
    height: 30px
    background-color: transparent
    cursor: pointer
    padding: 0
    border: none
    display: inline-block
    vertical-align: middle
    content: "\e933"
    color: #3e414e
    font-family: 'icomoon', serif
    font-size: 20px


input[type="checkbox"]:checked + label:before
  width: 25px
  height: 30px
  background-color: transparent
  cursor: pointer
  padding: 0
  display: inline-block
  vertical-align: middle
  content: "\e934"
  color: #3e414e
  font-family: 'icomoon', serif
  font-size: 20px

input[type="radio"]
  display: none

input[type="radio"] + label
  cursor: pointer
  &:before
    width: 25px
    height: 30px
    background-color: transparent
    cursor: pointer
    padding: 0
    border: none
    display: inline-block
    vertical-align: middle
    content: "\e933"
    color: #797979
    font-family: 'icomoon', serif
    font-size: 20px

input[type="radio"]:checked + label:before
  width: 25px
  height: 30px
  background-color: transparent
  cursor: pointer
  padding: 0
  display: inline-block
  vertical-align: middle
  content: "\e934"
  color: #797979
  font-family: 'icomoon', serif
  font-size: 20px

.site-modal
  width: 400px
  .modal-body, .modal-header, .modal-footer
    padding: 1.5rem
  .modal-footer
    border-top: 1px solid $light_grey
  .modal-header
    border-bottom: none
  .close
    position: absolute
    top: 15px
    right: 15px
  .modal-content
    border-radius: 0
  h2
    font-size: 1.7em
  input
    border-radius: 0
    border: none
    border-bottom: 1px solid $light_grey
    &::-webkit-input-placeholder
      color: $black
      font-weight: bold
      font-size: 0.9em
    &::-moz-placeholder
      color: $black
      font-weight: bold
      font-size: 0.9em
  input:focus,
  textarea:focus,
  select:focus,
  input.form-control:focus,
  textarea.form-control:focus,
  select.form-control:focus
    border: none
    border-bottom: 1px solid $light_grey

.col-district
  -webkit-columns: 200px auto
  columns: 200px auto
  vertical-align: top
  -webkit-column-gap: 50px
  column-gap: 50px
