@import "../modules/variables"

header
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15)
  position: relative
  z-index: 201
  .drop-menu
    position: absolute
    top: 38px
    background-color: #fff
    left: -15px
    -webkit-box-shadow: 0 3px 5px -3px rgba(0,0,0,0.75)
    box-shadow: 0 3px 5px -3px rgba(0,0,0,0.75)
    ul li a
      padding: 15px 40px
  .desktop-menu
    position: relative
    background-color: #fff
    .navbar
      padding: 0
    ul.top-menu
      > li
        position: relative
        > a
          color: $black
    a
      color: $black
      font-weight: $bold
      position: relative
      display: block
      white-space: nowrap
      font-size: 0.9rem
      &.logo
        width: 40px
        height: 40px
        position: relative
        padding: 10px 40px
        img
          max-width: 100%
          max-height: 100%
          top: 50%
          position: absolute
          left: 50%
          transform: translate(-50%,-50%)
          & + div
            margin-left: 40px
      .gamb-button
        position: relative
        left: 5px
        width: 20px
        height: 20px
        .icon-bar
          display: block
          margin: 0
          background: $black
          height: 2px
          width: 20px
          border-radius: 2px
          position: absolute
          top: 0
          right: 0
          &:nth-child(2)
            width: 14px
            top: 6px
          &:nth-child(3)
            width: 16px
            top: 12px
      .cross
        display: block
        width: 20px
        height: 20px
        position: absolute
        top: 22px
        right: 20px
        transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        -webkit-transform: rotate(45deg)
        &:before,&:after
          background: $black
          position: absolute
        &:after
          content: ''
          top: -10%
          height: 10%
          width: 100%
          margin-left: -100%
        &:before
          content: ''
          top: -55%
          left: 50%
          width: 10%
          margin-left: -5%
          height: 100%
      &:hover
        color: $black

.call
  background-color: $grass
  width: 40px
  height: 40px
  line-height: 45px
  i
    color: $white
    font-size: 20px
  &.scroll-content
    position: fixed
    bottom: 20px
    right: 20px

.filter-top-mobile
  background-color: $white
  -webkit-box-shadow: 0 3px 5px -3px rgba(0,0,0,0.75)
  box-shadow: 0 3px 5px -3px rgba(0,0,0,0.75)
  z-index: 200
  &.scroll-content
    position: fixed !important
    width: 100%
    top: 0
    z-index: 202

.filter-link
  color: $orange
  font-size: 1rem
  i
    font-size: 20px

.prop
  box-shadow: 0 1px 5px rgba(0,0,0,0.3)

