@import "../modules/variables"

header
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15)
  position: relative
  z-index: 10
  min-height: 70px
  .desktop-menu
    position: relative
    .navbar
      padding: 0
    a.drop-button
      padding: 25px 50px
    ul.top-menu
      > li
        position: relative
        > a
          padding: 25px 15px
    a
      color: $black
      font-weight: $bold
      position: relative
      display: block
      white-space: nowrap
      font-size: 0.9rem
      &.logo
        width: 50px
        height: 50px
        position: relative
        padding: 25px 15px
        img
          max-width: 100%
          max-height: 100%
          top: calc(50% + 10px)
          position: absolute
          left: calc(50% + 10px)
          transform: translate(-50%,-50%)
          & + div
            margin-left: 60px
      .gamb-button
        position: absolute
        right: 5px
        width: 20px
        .icon-bar
          display: block
          margin: 0
          background: $black
          height: 2px
          width: 20px
          border-radius: 2px
          position: absolute
          top: -15px
          right: 0
          &:nth-child(2)
            width: 14px
            top: -9px
          &:nth-child(3)
            width: 16px
            top: -3px
      .cross
        display: block
        width: 20px
        height: 20px
        position: absolute
        top: 22px
        right: 20px
        transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        -webkit-transform: rotate(45deg)
        &:before,&:after
          background: $black
          position: absolute
        &:after
          content: ''
          top: 45%
          height: 10%
          width: 100%
          margin-left: -100%
        &:before
          content: ''
          left: 50%
          width: 10%
          margin-left: -5%
          height: 100%
        &.mobile
          &:before,&:after
            background: $black
          &:before
            top: -55%
          &:after
            top: -10%
      &:hover
        color: $black
  &.white
    box-shadow: none
    .desktop-menu
      z-index: 2
      position: absolute
      right: 0
      top: 0
      left: 0
      a, a:hover
        color: $white
      .dropdown-menu
        a, a:hover
          color: $black
      .gamb-button .icon-bar
        background: $white
      .cross
        &:before,&:after
          background: $white

.languages-menu
  max-height: 250px
  overflow: hidden
  overflow-y: auto

.head-avatar
  width: 25px
  height: 25px
  
@media screen and (max-width: 768px)
  .desktop-menu
    .drop-menu
      &.mobile-menu
        background-color: #fff
        width: 320px
        position: absolute
        top: 0
        right: 0
        .nav-menu
          display: block !important
        ul.top-menu li a
          padding: 15px 40px
          color: $black

