@import "../modules/variables"

.prop
  border-bottom: 2px solid $white
  background-color: $white
  margin-bottom: 30px
  color: $black
  &:hover
    border-color: $light_grey
    color: $black
  .img-block
    position: relative
    background-position: bottom
    cursor: pointer
    font-weight: $bold
    height: 200px
    &:before
      content: ''
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 0
      opacity: 0
      position: absolute
      background-color: rgba(0, 0, 0, 0.4)
      -webkit-transition: 0.4s
      transition: 0.4s
    .bottom-info
      background: -webkit-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 100%)
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%)
      height: 45px
      padding: 10px 20px
      color: $white
      font-weight: $bold
      position: absolute
      z-index: 1
      bottom: 0
      left: 0
      right: 0
    .button
      opacity: 0
    &:hover
      &:before,.button
        opacity: 1
  .titles
    padding: 10px 20px
    h4
      font-weight: $bold
      height: 45px
      overflow: hidden
      color: $black
      @media screen and (max-width: 768px)
        height: 36px
    p
      height: 36px
      line-height: 1.2
      overflow: hidden

.list-view
  background-color: $white
  &:hover
    border-color: $white
  .titles
    padding: 0
    h4,
    h4 a
      height: auto
      font-size: 1.5rem
      color: $black
      &:hover,&:focus
        color: $black
        text-decoration: underline
    p
      height: auto
  .price
    font-size: 1.3rem
  .squares
    font-size: 0.8rem
    i
      font-size: 2rem
    @media screen and (max-width: 576px)
      padding-bottom: 15px

.list-info
  border-right: 1px solid $light_grey