@import "../modules/variables"

* html,
body
  background-color: $white
  font-size: 14px
  font-family: $main_font
  line-height: 1.2
  width: 100%
  color: $black
  font-weight: $regular

html,
body
  height: 100%
  min-height: 100%


a
  a
    -webkit-transition: 0.2s
    transition: 0.2s
    color: $blue
  &:active
    color: $dark-blue
  &:hover,&:focus
    color: $dark-blue
    text-decoration: none

h1
  font-size: 2em
  color: $black
  font-weight: $regular
  margin-top: 0
  padding-top: 10px

h2
  font-size: 2.5em
  font-weight: 400
  margin-top: 0
  padding-top: 10px
  margin-bottom: 10px
  color: $black

h3
  font-size: 1.9em
  font-weight: $regular
  margin-top: 10px
  margin-bottom: 10px
  color: $black

h4
  font-size: 1.25em
  font-weight: $regular
  margin-top: 10px
  margin-bottom: 10px
  color: $black

h5
  font-size: 1.2em
  font-weight: $bold
  margin-top: 10px
  margin-bottom: 10px
  color: $black

h6
  font-size: 1.1em
  font-weight: $bold
  margin-top: 10px
  margin-bottom: 10px
  color: $black

p
  margin: 0 0 10px 0
  color: $black
  font-weight:
  font-size: 1em
  line-height: 1.6
  text-align: left
  letter-spacing: 0.01rem

.text-small
  font-size: 0.8rem

@media screen and (max-width: 768px)
  h1
    font-size: 1.5em
  h2
    font-size: 2em
  h3
    font-size: 1.5em
  h4,h5,h6
    font-size: 1em