@import "../modules/variables"

.wrapper
  max-width: 1400px

.wrapper-small
  max-width: 635px

ul.top-menu
  height: 100px
  @media screen and (max-width: 768px)
    height: auto
    width: 80%
  li
    display: inline-flex
    align-items: center
    height: 100%
    @media screen and (max-width: 768px)
      display: block
      height: auto
    a
      position: relative
      padding: 0 30px
      font-size: 1.15rem
      line-height: 1.5rem
      @media screen and (max-width: 768px)
        padding: 10px 0
        display: block
        border-bottom: 1px solid #d7e3f7
      svg
        position: absolute
        left: 0
        top: calc(50% - 12px)
        width: 25px
        height: 25px
        fill: currentColor
        opacity: 0
        -webkit-transform: translateX(-16px)
        transform: translateX(-16px)
        -webkit-transition: transform .2s ease-out
        transition: transform .2s ease-out
        @media screen and (max-width: 768px)
          display: none
        path
          fill: transparent
          stroke: currentColor
          stroke-width: 1
      &:hover,&:focus
        svg
          opacity: 1
          -webkit-transform: translateX(-8px)
          transform: translateX(-8px)

.gamb-button
  height: 60px
  width: 60px
  background-color: $black
  .bars
    position: relative
    display: block
    width: 30px
    height: 11px
    left: calc(50% - 15px)
    top: calc(50% - 5px)
    .icon-bar
      position: absolute
      left: 0
      height: 1px
      width: 100%
      background-color: $white
      border-radius: 12px
      &:nth-child(1)
        top: 0
      &:nth-child(2)
        top: 5px
      &:nth-child(3)
        bottom: 0


.highlight
  position: relative
  display: inline-block
  vertical-align: text-bottom
  padding-bottom: 1px
  span
    display: inline-block
    vertical-align: text-bottom
    opacity: 1
    -webkit-transform: translateY(0)
    transform: translateY(0)
  &:after
    content: attr(data-text)
    color: $orange
    position: absolute
    top: 0
    left: 0
    opacity: 0
    -webkit-transform: translateY(100%)
    transform: translateY(100%)
    -webkit-transition: transform .5s .2s,opacity 0s .1s
    transition: transform .5s .2s,opacity 0s .1s
    .appear &
      -webkit-transform: translateY(0)
      transform: translateY(0)
      opacity: 1
  .appear &
    span
      -webkit-transform: translateY(-100%)
      transform: translateY(-100%)
      opacity: 0
      -webkit-transition: transform .5s .2s,opacity 0s .5s
      transition: transform .5s .2s,opacity 0s .5s

.main-slide .img img
  max-width: 100%

ul.slick-dots
  width: auto
  li
    width: auto
    height: auto
    padding: 5px
    margin: 0
    button
      margin: 6px
      padding: 0
      width: 4px
      height: 4px
      background-color: $black
      border-radius: 50%
      &:before
        display: none
    &.slick-active button
        margin: 0
        width: 10px
        height: 10px
        background-color: $orange

.offer-item
  .img
    img
      -webkit-transition: all .35s cubic-bezier(.38,3,.57,1.6)
      transition: all .35s cubic-bezier(.38,3,.57,1.6)
  &:hover
    .img img
      -webkit-transform: translate3d(0,-6px,0)
      transform: translate3d(0,-6px,0)
  .title
    &:after
      content: ''
      width: 50px
      height: 2px
      background-color: #3e49f3
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      -webkit-transform: translateX(-50%)

.bg-light-blue
  background-color: $blue_light

.bg-blue
  background-color: $blue

.bg-orange
  background-color: $orange

.we-offer
  margin-top: -3rem
  div.bg-light-blue
    padding-top: 8rem

.tariff-price
  font-size: 4rem
  .currency
    font-size: 2rem


ul.check
  li
    padding: 7px 0
    font-size: 1.05rem
    &:before
      content: '✔'
      color: $black
      margin-right: 10px

.tariff-title
  font-size: 1.8rem
  line-height: 2rem

.square-over
  -webkit-transition: opacity .3s
  transition: opacity .3s
  top: 0
  left: 0
  bottom: 0
  right: 0
  opacity: 0

.square-description
  -webkit-transition: -webkit-transform .2s ease
  transition: transform .2s ease
  -webkit-transform: translate3d(0,-40px,0)
  transform: translate3d(0,-40px,0)

.square
  &:hover
    .square-over
      opacity: 1
    .square-description
      -webkit-transform: translate3d(0,0,0)
      transform: translate3d(0,0,0)

.go-top
  opacity: 0
  -webkit-transition: opacity .3s ease
  transition: opacity .3s ease
  position: fixed
  width: 50px
  height: 50px
  right: 25px
  bottom: 25px
  z-index: 500
  background-color: $orange
  &.on
    opacity: 1
  svg
    position: absolute
    height: 25px
    width: 25px
    transition: transform .2s ease-out,opacity .2s ease-out
    -webkit-transition: transform .2s ease-out,opacity .2s ease-out
    top: calc(50% - 12px)
    left: calc(50% - 12px)
    color: $white
    path
      fill: transparent
      stroke: currentColor
      stroke-width: 1
    &:first-child
      opacity: 1
    &:last-child
      opacity: 0
      -webkit-transform: translateY(17px)
      transform: translateY(17px)
  &:hover,&focus
    svg
      &:first-child
        opacity: 0
      &:last-child
        opacity: 1
        -webkit-transform: translateY(0)
        transform: translateY(0)
