html, body, div, span, iframe,
blockquote, a, address, cite, aside, ol, ul, li,
form, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

ul, ol {
    list-style-position: inside;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

ul li {
    list-style: disc inside;
    margin-bottom: 20px;
}

ol li {
    list-style: decimal inside;
    margin-bottom: 20px;
}

ul.no-list, ol.no-list {
    margin: 0;
    padding: 0;
}

ul.no-list li, ol.no-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

label {
    font-weight: normal;
}

select {
    height: 35px;
    color: #777777;
    border: 1px #b2b2b2 solid;
    padding: 5px;
    margin: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

:focus {
    outline: 0;
}

* html, body {
    font-family: Helvetica, Arial, serif;
    font-size: 17px;
    color: #3e414e;
    background: #fff;
    line-height: 1.2;
}

html, body {
    height: 100%;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
}

a {
    text-decoration: none;
    color: #337ab7;
    cursor: pointer;
}

a:active {
    color: #23527c;
}

a:hover {
    color: #23527c;
}

a:hover, a:active, a:focus {
    outline: none;
}

h1 {
    padding: 0;
    font-weight: bold;
    color: #fff;
    font-size: 32px;
    line-height: 1.4em;
    margin: 0;
}

h2 {
    font-size: 40px;
    line-height: 1.4em;
    font-weight: normal;
    color: #3e414e;
    padding: 20px 0;
    margin: 0;
}

h3 {
    font-size: 20px;
    line-height: 1.4em;
    font-weight: normal;
    color: #3e414e;
    padding: 10px 0;
    margin: 0;
}

input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 100%;
    background-color: #fff;
    font: 400 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777777;
    margin: 0;
    border-radius: 3px;
    height: 45px;
    line-height: 30px;
    border: 1px #b2b2b2 solid;
    padding: 6px 7px 7px 30px;
    display: block;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label,
input[type="checkbox"] + label {
    cursor: pointer;
}

input[type="checkbox"] + label:before {
    width: 25px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    display: inline-block;
    vertical-align: middle;
    content: "\e933";
    color: #3e414e;
    font-family: 'icomoon', serif;
    font-size: 20px;
}

input[type="checkbox"]:checked + label:before {
    width: 25px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    content: "\e934";
    color: #3e414e;
    font-family: 'icomoon', serif;
    font-size: 20px;
}

div.has-success input {
    background: url(/images/check.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px 11px;
}

.has-success .form-control,
.has-error .form-control,
.form-control,
.has-success .form-control:focus,
.has-error .form-control:focus,
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

::-webkit-input-placeholder {
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    color: #333;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

:-moz-placeholder {
    color: #333;
    font-family: Helvetica, sans-serif;
    font-size: 17px;
}

input:focus::-moz-placeholder {
    color: transparent;
}

textarea {
    width: 100%;
    background-color: #fff;
    font: 400 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777777;
    border: 1px #b2b2b2 solid;
    padding: 6px 7px 7px 7px;
    margin: 0;
    border-radius: 3px;
    height: 130px;
    line-height: 20px;
    display: block;
    resize: none;
}

.width100 {
    width: 100%;
}

.no-padding {
    padding: 0;
}

.new-modal .modal-body {
    padding: 10px 50px 30px;
}

.new-modal .modal-header {
    border: none;
}

.new-modal .modal-title {
    font-size: 26px;
    font-weight: bold;
}

.top-block h2 {
    color: #fff;
    padding: 0;
    font-size: 24px;
}

.top-block {
    background: url(../images/banner.jpg);
    background-size: cover;
    height: 500px;
    position: relative;
}

.top-block:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.top-block-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.text-bottom {
    font-size: 20px;
    color: #fff;
    line-height: 1.2em;
    padding: 10px;
}

.banks {
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
}

.bank-item {
    width: 14%;
    height: 50px;
    padding: 10px;
}

.bank-item img {
    max-height: 100%;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.center-block {
    position: relative;
    margin-top: 30px;
}

.butn {
    display: inline-block;
    width: auto;
    padding: 7px 20px;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
    border: 3px solid transparent;
    margin: 5px;
    max-width: 320px;
}

input.butn {
    margin: 0;
}

.butn.blue {
    background-color: #4472c4;
    border-color: #4472c4;
}

.butn:hover,
.butn:focus {
    text-decoration: none;
}

.butn.blue:hover,
.butn.blue:focus {
    text-decoration: none;
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.butn.white {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.butn.white:hover,
.butn.white:focus {
    text-decoration: none;
    background-color: #4472c4;
    border-color: #4472c4;
    color: #fff;
}

.butn.butn-blue-white {
    background-color: transparent;
    color: #4472c4;
    border-color: #4472c4;
}

.butn.butn-blue-white:hover,
.butn.butn-blue-white:focus {
    background-color: #4472c4;
    color: #fff;
}

ul.menu li {
    display: inline-block;
    font-size: 16px;
    padding: 10px;
}

ul.menu li a {
    color: #fff;
}

a.new-home {
    display: inline-block;
    padding: 10px;
    color: #fff;
    position: relative;
}

.center-btns {
    margin: 30px 0;
}

section:not(.top-block) {
    padding: 50px 0;
}

.wrapper-small {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

.cols-title {
    padding: 30px 0 10px;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.4em;
    color: #3e414e;
    display: block;
}

.cols-p {
    font-size: 18px;
    line-height: 1.4em;
}

.gray-bg {
    background-color: #f6f6f6;
}

/*********REVIEW SLIDER*********/

.review-slider {
    min-height: 330px;
    margin-top: 50px;
}

.review-slider .rev-slide {
    background-color: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
}

.review-slider .rev-slide-info {
    position: relative;
    padding: 0;
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.review-slider .rev-slide-info .info-center {
    padding: 0 20px 0 60px;
}

.review-slider .rev-slide-info .info-center .rev-slide-title {
    color: #57585a;
    font-size: 25px;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 15px;
}

.review-slider .rev-slide-info .info-center blockquote {
    color: #57585a;
    font-size: 20px;
    font-style: italic;
    line-height: 125%;
    margin-bottom: 15px;
    display: block;
}

.review-slider .rev-slide-info .info-center blockquote:before {
    content: "\201C";
}

.review-slider .rev-slide-info .info-center blockquote:after {
    content: "\201D";
}

.review-slider .rev-slide-info .info-center cite {
    color: #57585a;
    font-size: 16px;
    line-height: 120%;
    font-style: normal;
}

.review-slider .rev-slide-info .info-center cite span {
    display: block;
    color: #57585a;
    font-size: 14px;
    line-height: 120%;
    margin: 0;
}

.review-slider .rev-slide-video {
    padding: 0;
    position: relative;
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.review-slider .rev-slide-video .href-video {
    position: relative;
    display: block;
    height: 330px;
    width: 100%;
    overflow: hidden;
}

.review-slider .rev-slide-video .href-video img {
    height: 100%;
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.review-slider .rev-slide-video .href-video .play {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 70px;
    font-size: 30px;
    color: #fff;
    z-index: 2;
    padding-left: 5px;
}

.review-slider .rev-slide-video .href-video .slide-info-mobile {
    display: none;
}

.review-slider .rev-slide-video .href-video .slide-info-mobile .rev-slide-title {
    color: #fff;
    margin-bottom: 10px;
}

.review-slider .rev-slide-video .href-video .slide-info-mobile blockquote {
    font-style: italic;
    font-size: 15px;
    line-height: 125%;
    color: #fff;
}

.review-slider .rev-slide-video .href-video .slide-info-mobile blockquote:before {
    content: "\201C";
}

.review-slider .rev-slide-video .href-video .slide-info-mobile blockquote:after {
    content: "\201D";
}

.review-slider .rev-slide-video .href-video .slide-info-mobile cite {
    color: #fff;
    font-size: 14px;
    line-height: 100%;
    font-style: normal;
}

.rev-slide-video:hover .play, .video-view-image:hover .play {
    background-color: rgba(0, 0, 0, 0.7);
}

.review-slider .rev-slide-video .href-video .slide-info-mobile cite span {
    display: block;
    color: #fff;
    font-size: 13px;
    line-height: 100%;
    margin: 0;
}

@media screen and (max-width: 992px) {

    .review-slider {
        padding: 0;
        min-height: 1px;
    }

    .review-slider .rev-slide-info {
        display: none;
    }

    .review-slider .rev-slide-video {
        display: block;
        width: 100%;
    }

    .review-slider .rev-slide-video .href-video {
        border-radius: 5px;
    }

    .review-slider .rev-slide-video .href-video img {
        height: auto;
        width: 100%;
    }

    .review-slider .rev-slide-video .href-video .play {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }

    .review-slider .rev-slide-video .href-video .slide-info-mobile {
        display: block;
    }

    .video-modal .header-col.modal-header .close {
        margin: 10px;
    }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
    .review-slider .rev-slide-video .href-video {
        height: 400px;
    }

    .review-slider .rev-slide-video .href-video img {
        width: 100%;
        height: auto;
    }

    .review-slider .rev-slide-video .href-video .slide-info-mobile {
        z-index: 3;
        position: absolute;
        left: 0;
        top: 20px;
        width: 100%;
        padding: 0 0 0 20px;
    }

    .review-slider .rev-slide-video .href-video .slide-info-mobile .rev-slide-title {
        font-size: 26px;
    }

    .review-slider .rev-slide-video .href-video .slide-info-mobile blockquote {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 992px) and (orientation: portrait) {
    .review-slider {
        height: 250px;
    }

    .review-slider .rev-slide-video .href-video {
        height: 250px;
    }

    .review-slider .rev-slide-video .href-video img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }

    .review-slider .rev-slide-video .slide-info-mobile {
        z-index: 3;
        position: absolute;
        left: 0;
        bottom: 20px;
        width: 100%;
        padding: 0 15px;
    }

    .review-slider .rev-slide-video .slide-info-mobile .rev-slide-title {
        display: none;
    }

    .review-slider .rev-slide-video .slide-info-mobile blockquote {
        line-height: 100%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .review-slider .rev-slide-video .href-video {
        height: 300px;
    }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    .review-slider .rev-slide-video .href-video {
        height: 250px;
    }
}

@media screen and (max-width: 480px) {
    .review-slider .rev-slide-video .href-video img {
        width: auto;
        height: 250px;
    }
}

/*******************************/

.special-over {
    padding: 0 10px;
}

.special-item {
    margin-bottom: 20px;
}

a.special-item {
    color: #3E414E;
    text-decoration: none;
}

.special-img {
    height: 150px;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
}

.special-img img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.special-img.width img {
    width: 100%;
}

.special-info {
    height: 130px;
    padding: 10px 0;
    font-size: 15px;
    overflow: hidden;
}

.special-text p {
    line-height: 16px;
    padding: 0;
    margin: 0 0 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #767676;
}

.special-type {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}

.special-price {
    /*color: #14b85e;*/
    line-height: 22px;
}

.rate {
    color: #14b85e;
    font-size: 10px;
    display: inline;
    margin: 0 5px 0 0;
}

.building-block {
    margin-top: 30px;
}

.building-item {
    position: relative;
    width: 33.33%;
    z-index: 1;
    overflow: hidden;
}

.butn-building {
    margin-top: 15px;
    opacity: 0;
}

.building-item:hover .butn-building {
    opacity: 1;
}


.building-item:before {
    content: '';
    position: absolute;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.building-img {
    width: 100%;
    position: relative;
    z-index: 2;
    transition: all 0.5s ease;
}

.new-modal .building-img {
    margin-bottom: 30px;
}

.building-img img {
    width: 100%;
}

.building-item:hover .building-img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.building-title {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    font-size: 30px;
    color: #fff;
    z-index: 4;

}

.building-title-bold {
    font-weight: bold;
}

.building-top {
    padding: 10px;
}

.building-info {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.building-builder {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.sticker {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.sticker.purple .stick-text {
    color: #a163f5;
}

.sticker.green .stick-text {
    color: #acf9db;
}

.sticker.yellow .stick-text {
    color: #fdfaa2;
}

.stick-img {
    width: 30px;
    height: 30px;
}

.stick-img img {
    width: 100%;
}

.sticker.active .stick-text {
    opacity: 1;
}

.stick-text {
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 0;
    color: #d3359b;
    background: rgba(255, 255, 255, 0.6);
    /*border: 1px solid #d3359b;*/
    white-space: nowrap;
    padding: 7px 20px;
    border-radius: 4px;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    z-index: 5;
    font-weight: bold;
}

.stick-text::before, .stick-text::after {
    content: '';
    position: absolute;
    left: 20px;
    top: -20px;
    border: 20px solid transparent;
    border-bottom: 0;
    z-index: 6;
}

.stick-text::before {
    /*border-left: 40px solid #d3359b;*/
}

.stick-text::after {
    top: -20px;
    border-left: 40px solid rgba(255, 255, 255, 0.6);
    left: 22px;
}

.border-top {
    border-top: 1px solid #e6e6e6;
}

.butn-form {
    padding: 15px 20px;
}

footer {
    padding: 30px 15px;
}

footer, footer p {
    font-size: 14px;
}

.footer-map {
    width: 100%;
    height: 350px;
    box-shadow: -1px 0 3px #999;
}

.show-more {
    margin: 30px 0 0;
}

.show-text {
    margin-bottom: 30px;
}

.navbar {
    margin-bottom: 0;
}

.top-block.nav-show .navbar-toggle {
    display: block;
    color: #14b85e;
    font-size: 30px;
    margin: 0;
}

.top-block.nav-show header.fix .navbar-toggle {
    color: #3E414E;
}

.top-block.nav-show .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 55px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 10;
    width: 280px;
}

.top-block.nav-show header.fix .navbar-collapse {
    box-shadow: -1px 3px 4px #777;
}

.top-block.nav-show .navbar-collapse.collapse {
    display: none !important;
}

.top-block.nav-show .navbar-nav {
    float: none !important;
    margin-top: 7px;
}

.top-block.nav-show .navbar-nav > li {
    float: none;
}

.top-block.nav-show .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-block.nav-show .collapse.in {
    display: block !important;
}

.top-block.nav-show .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-collapse.collapse.in ul.menu li {
    display: block;
}

.navbar-collapse.collapse.in ul.menu li a {
    color: #3E414E;
}

header.fix {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 20;
    color: #333;
    box-shadow: 0 1px 4px #777;
}

header.fix .navbar-collapse.collapse.in ul.menu li:last-child {
    display: none;
}

header.fix a.new-home {
    color: #3E414E;
    line-height: 30px;
}

.header-butn {
    max-width: 100%;
    display: none;
    line-height: 30px;
}

.head-fix-call {
    font-size: 24px;
    line-height: 60px;
    margin: 0 10px;
}

header.fix .header-butn {
    display: block;
}

a.global-call-link,
a.fix-call-link {
    z-index: 7;
    background-color: #00b22d;
    border-radius: 50%;
    font-size: 25px;
    line-height: 52px;
    height: 50px;
    width: 50px;
    color: #fff;
}

a.global-call-link {
    position: fixed;
    right: 15px;
    top: 105px;
}

a.fix-call-link {
    min-width: 50px;
    margin: 5px;
}

a.global-call-link:hover,
a.fix-call-link:hover,
a.global-call-link:focus,
a.fix-call-link:focus {
    text-decoration: none;
}

.small-font {
    font-size: 12px;
}

.call-text {
    margin: 10px 0 30px;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.02em;
}

.timer {
    font-size: 50px;
    line-height: 45px;
    color: #777;
    letter-spacing: 0.03em;
}

.modal-call .modal-dialog {
    width: 700px;
    max-width: 100%;
}

.call-item {
    margin-bottom: 30px;
}

.choose-time-block {
    color: #999;
    margin: 30px 0;
}

.choose-time-link {
    color: #999;
    text-decoration: underline dashed;
}

.choose-time-link:hover,
.choose-time-link:hover {
    color: #999;
    text-decoration: none;
}

.time-hide {
    margin-top: 20px;
}

.contact {
    padding: 50px 30px 30px;
    box-shadow: -2px 0 3px #999;
    max-height: 350px;
    height: 350px;
}

.phone {
    font-size: 28px;
    font-weight: 600;
}

.contact-block {
    margin-bottom: 30px;
    line-height: 22px;
    letter-spacing: -0.04em;
}

.contact-block p {
    color: #337ab7;
    margin: 0 0 5px;
}

.contact-block a {
    color: #3E414E;
}

.contact-block a:hover,
.contact-block a:focus {
    color: #337ab7;
    text-decoration: none;
}

address {
    font-style: normal;
    line-height: 18px;
}


@media screen and (max-width: 1200px) {
    .building-item {
        width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    a.new-home {
        line-height: 50px;
    }
}

@media screen and (max-width: 992px) {
    .banks {
        display: none;
    }

    .top-block {
        background: url(../images/medium.jpg);
    }
}

@media screen and (max-width: 768px) {

    .new-modal .modal-header .close {
        margin: -12px -10px 0 0;
    }

    .new-modal .button.close {
        padding: 10px;
    }

    .new-modal .modal-title {
        font-size: 22px;
        padding-right: 20px;
    }

    .new-modal .modal-body {
        padding: 10px 15px 30px;
    }

    .top-block {
        background: url(../images/small.jpg) no-repeat;
        background-size: cover;
        height: 500px;
    }

    a.new-home {
        display: none;
    }

    .building-item {
        width: 100%;
    }

    .top-block.nav-show .navbar-collapse {
        right: auto;
        left: 0;
    }

    .navbar.text-right {
        text-align: left;
    }

    header > div {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: 22px;
        line-height: 1.2em;
        padding: 10px;
    }

    h2 {
        font-size: 24px;
        line-height: 1.2em;
        padding: 10px;
    }

    .top-block h2 {
        font-size: 18px;
        line-height: 1.2em;
        padding: 10px;
    }
    h3 {
        padding: 10px;
        font-size: 18px;
    }

    .center-block {
        margin-top: 0;
    }

    .center-btns {
        margin: 20px 0;
    }

    .text-bottom {
        font-size: 16px;
    }

    .cols-p {
        margin-bottom: 20px;
    }

    .cols-p, * html, body {
        font-size: 16px;
    }

    .butn {
        width: 320px;
        max-width: 100%;
    }

    header.fix .header-butn {
        padding: 10px 5px;
        line-height: 1em;
    }

    .special-item {
        width: 250px;
    }

    .building-item:hover .butn-building {
        opacity: 0;
    }

    .contact {
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .building-builder {
        font-size: 16px;
    }

    .building-title {
        font-size: 24px;
    }

    .top-block {
        height: 550px;
    }

    .modal {
        width: 100%;
    }

    .modal-dialog {
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 380px) {
    .special-over {
        width: 100%;
    }
}