@charset "UTF-8";
@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/MontserratMedium.eot");
  src: url("../fonts/MontserratMedium.eot") format("embedded-opentype"), url("../fonts/MontserratMedium.woff2") format("woff2"), url("../fonts/MontserratMedium.woff") format("woff"), url("../fonts/MontserratMedium.ttf") format("truetype"), url("../fonts/MontserratMedium.svg#MontserratMedium") format("svg"); }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, address, cite, code, em, img,
small, strike, strong, sub, tt,
b, i, aside,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  line-height: 1; }

ul,
ol {
  list-style-position: inside; }

ul.no-list li {
  list-style: none;
  margin: 0; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

a:focus,
button:focus,
div:focus {
  outline: 0; }

* html,
body {
  background-color: #fff;
  font-size: 14px;
  font-family: "MontserratMedium", sans-serif;
  color: #08104d;
  font-weight: 500; }

html,
body {
  height: 100%;
  min-height: 100%; }

a {
  color: #08104d; }
  a:active {
    color: #ff4b36; }
  a:hover, a:focus {
    color: #ff4b36;
    text-decoration: none; }

h1, .h1-title {
  font-size: 4rem;
  color: #08104d;
  line-height: 4.3rem; }

h2 {
  font-size: 3.5rem;
  line-height: 3.7rem;
  color: #08104d; }

h3 {
  font-size: 2.5rem;
  line-height: 2.8rem; }

h4 {
  font-size: 2rem;
  line-height: 2.2rem; }

h5 {
  font-size: 1.6rem;
  line-height: 1.8rem; }

h6 {
  font-size: 1.2rem;
  line-height: 1.3rem; }

p {
  margin: 10px 0;
  color: #666a80;
  font-size: 1rem;
  line-height: 1.8rem; }

.text-medium {
  font-size: 1.25rem; }

.text-tiny {
  font-size: 0.9rem; }

.color-grey {
  color: #666a80; }

.color-black {
  color: #08104d; }

.letter-spacing-02 {
  letter-spacing: 0.02rem; }

@media screen and (max-width: 992px) {
  h1, .h1-title {
    font-size: 2rem;
    line-height: 2.4rem; }
  h2 {
    font-size: 2rem;
    line-height: 2.2rem; }
  h3 {
    font-size: 1.5rem;
    line-height: 1.7rem; }
  h4, h5, h6 {
    font-size: 1.2rem;
    line-height: 1.3rem; } }

input, input.form-control {
  background-color: #fff;
  color: #08104d;
  margin: 0;
  height: 40px;
  line-height: 20px;
  display: block;
  text-align: left;
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid #666a80;
  border-radius: 0;
  font-size: 1rem;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1); }

input:focus,
textarea:focus,
select:focus,
input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
  border: none;
  border-bottom: 1px solid #666a80;
  color: #08104d;
  box-shadow: none; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="number"]::-webkit-inner-spin-button {
  display: none; }

::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
  font-size: 1em;
  color: #08104d; }

::-moz-placeholder, .form-control::-moz-placeholder {
  color: #08104d;
  font-size: 1em; }

textarea, textarea.form-control {
  background-color: #fff;
  color: #08104d;
  margin: 0;
  height: 70px;
  line-height: 20px;
  display: block;
  text-align: left;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #666a80;
  border-radius: 0;
  font-size: 1rem;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1);
  resize: none; }

select {
  color: #08104d;
  margin: 0;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: left;
  padding: 0 10px;
  border: none;
  border-bottom: 1px solid #666a80;
  border-radius: 0;
  font-size: 1rem; }

/*input[type="checkbox"]
  display: none */
/*input[type="checkbox"] + label
  cursor: pointer
  &:before
    width: 25px
    height: 30px
    background-color: transparent
    cursor: pointer
    padding: 0
    border: none
    display: inline-block
    vertical-align: middle
    content: "\e933"
    color: #3e414e
    font-family: 'icomoon', serif
    font-size: 20px */
/*input[type="checkbox"]:checked + label:before
  width: 25px
  height: 30px
  background-color: transparent
  cursor: pointer
  padding: 0
  display: inline-block
  vertical-align: middle
  content: "\e934"
  color: #3e414e
  font-family: 'icomoon', serif
  font-size: 20px */
/*input[type="radio"]
  display: none */
/*input[type="radio"] + label
  cursor: pointer
  &:before
    width: 25px
    height: 30px
    background-color: transparent
    cursor: pointer
    padding: 0
    border: none
    display: inline-block
    vertical-align: middle
    content: "\e933"
    color: #797979
    font-family: 'icomoon', serif
    font-size: 20px */
/*input[type="radio"]:checked + label:before
  width: 25px
  height: 30px
  background-color: transparent
  cursor: pointer
  padding: 0
  display: inline-block
  vertical-align: middle
  content: "\e934"
  color: #797979
  font-family: 'icomoon', serif
  font-size: 20px */
.button {
  position: relative;
  color: #fff;
  background-color: #08104d;
  font-size: 0.9rem;
  line-height: 1em;
  letter-spacing: .03em;
  font-weight: 600;
  -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out;
  transition: color .2s ease-in-out,background-color .2s ease-in-out;
  border-radius: 10px;
  padding: 20px 38px;
  cursor: pointer; }
  .button span {
    padding-right: 30px;
    -webkit-transition: padding .17s 80ms ease-in-out;
    transition: padding .17s 80ms ease-in-out; }
  .button svg {
    position: absolute;
    width: 25px;
    shape-rendering: geometricPrecision; }
    .button svg.arrow-prev {
      top: calc(50% - 12px);
      left: 0;
      opacity: 0;
      -webkit-transform: translateX(17px);
      transform: translateX(17px);
      -webkit-transition: transform .2s ease-out,opacity .2s ease-out;
      transition: transform .2s ease-out,opacity .2s ease-out; }
    .button svg.arrow-next {
      right: 0;
      top: calc(50% - 12px);
      opacity: 1;
      -webkit-transform: translateX(-33px);
      transform: translateX(-33px);
      -webkit-transition: transform .2s .25s ease-out,opacity .2s .25s ease-out;
      transition: transform .2s .25s ease-out,opacity .2s .25s ease-out; }
    .button svg path {
      fill: transparent;
      stroke: currentColor;
      stroke-width: 1; }
  .button:hover, .button:focus {
    color: #fff; }
    .button:hover span, .button:focus span {
      padding-right: 0;
      padding-left: 30px; }
    .button:hover svg.arrow-prev, .button:focus svg.arrow-prev {
      opacity: 1;
      -webkit-transform: translateX(33px);
      transform: translateX(33px); }
    .button:hover svg.arrow-next, .button:focus svg.arrow-next {
      opacity: 0;
      -webkit-transform: translateX(-17px);
      transform: translateX(-17px); }
  .button.orange {
    background-color: #ff4b36; }
  .button.blue {
    background-color: #3e49f3; }

.wrapper {
  max-width: 1400px; }

.wrapper-small {
  max-width: 635px; }

ul.top-menu {
  height: 100px; }
  @media screen and (max-width: 768px) {
    ul.top-menu {
      height: auto;
      width: 80%; } }
  ul.top-menu li {
    display: inline-flex;
    align-items: center;
    height: 100%; }
    @media screen and (max-width: 768px) {
      ul.top-menu li {
        display: block;
        height: auto; } }
    ul.top-menu li a {
      position: relative;
      padding: 0 30px;
      font-size: 1.15rem;
      line-height: 1.5rem; }
      @media screen and (max-width: 768px) {
        ul.top-menu li a {
          padding: 10px 0;
          display: block;
          border-bottom: 1px solid #d7e3f7; } }
      ul.top-menu li a svg {
        position: absolute;
        left: 0;
        top: calc(50% - 12px);
        width: 25px;
        height: 25px;
        fill: currentColor;
        opacity: 0;
        -webkit-transform: translateX(-16px);
        transform: translateX(-16px);
        -webkit-transition: transform .2s ease-out;
        transition: transform .2s ease-out; }
        @media screen and (max-width: 768px) {
          ul.top-menu li a svg {
            display: none; } }
        ul.top-menu li a svg path {
          fill: transparent;
          stroke: currentColor;
          stroke-width: 1; }
      ul.top-menu li a:hover svg, ul.top-menu li a:focus svg {
        opacity: 1;
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px); }

.gamb-button {
  height: 60px;
  width: 60px;
  background-color: #08104d; }
  .gamb-button .bars {
    position: relative;
    display: block;
    width: 30px;
    height: 11px;
    left: calc(50% - 15px);
    top: calc(50% - 5px); }
    .gamb-button .bars .icon-bar {
      position: absolute;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #fff;
      border-radius: 12px; }
      .gamb-button .bars .icon-bar:nth-child(1) {
        top: 0; }
      .gamb-button .bars .icon-bar:nth-child(2) {
        top: 5px; }
      .gamb-button .bars .icon-bar:nth-child(3) {
        bottom: 0; }

.highlight {
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
  padding-bottom: 1px; }
  .highlight span {
    display: inline-block;
    vertical-align: text-bottom;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  .highlight:after {
    content: attr(data-text);
    color: #ff4b36;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: transform .5s .2s,opacity 0s .1s;
    transition: transform .5s .2s,opacity 0s .1s; }
    .appear .highlight:after {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
  .appear .highlight span {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    -webkit-transition: transform .5s .2s,opacity 0s .5s;
    transition: transform .5s .2s,opacity 0s .5s; }

.main-slide .img img {
  max-width: 100%; }

ul.slick-dots {
  width: auto; }
  ul.slick-dots li {
    width: auto;
    height: auto;
    padding: 5px;
    margin: 0; }
    ul.slick-dots li button {
      margin: 6px;
      padding: 0;
      width: 4px;
      height: 4px;
      background-color: #08104d;
      border-radius: 50%; }
      ul.slick-dots li button:before {
        display: none; }
    ul.slick-dots li.slick-active button {
      margin: 0;
      width: 10px;
      height: 10px;
      background-color: #ff4b36; }

.offer-item .img img {
  -webkit-transition: all 0.35s cubic-bezier(0.38, 3, 0.57, 1.6);
  transition: all 0.35s cubic-bezier(0.38, 3, 0.57, 1.6); }

.offer-item:hover .img img {
  -webkit-transform: translate3d(0, -6px, 0);
  transform: translate3d(0, -6px, 0); }

.offer-item .title:after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #3e49f3;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }

.bg-light-blue {
  background-color: #f2f7ff; }

.bg-blue {
  background-color: #3e49f3; }

.bg-orange {
  background-color: #ff4b36; }

.we-offer {
  margin-top: -3rem; }
  .we-offer div.bg-light-blue {
    padding-top: 8rem; }

.tariff-price {
  font-size: 4rem; }
  .tariff-price .currency {
    font-size: 2rem; }

ul.check li {
  padding: 7px 0;
  font-size: 1.05rem; }
  ul.check li:before {
    content: '✔';
    color: #08104d;
    margin-right: 10px; }

.tariff-title {
  font-size: 1.8rem;
  line-height: 2rem; }

.square-over {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0; }

.square-description {
  -webkit-transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  -webkit-transform: translate3d(0, -40px, 0);
  transform: translate3d(0, -40px, 0); }

.square:hover .square-over {
  opacity: 1; }

.square:hover .square-description {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.go-top {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  position: fixed;
  width: 50px;
  height: 50px;
  right: 25px;
  bottom: 25px;
  z-index: 500;
  background-color: #ff4b36; }
  .go-top.on {
    opacity: 1; }
  .go-top svg {
    position: absolute;
    height: 25px;
    width: 25px;
    transition: transform .2s ease-out,opacity .2s ease-out;
    -webkit-transition: transform .2s ease-out,opacity .2s ease-out;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    color: #fff; }
    .go-top svg path {
      fill: transparent;
      stroke: currentColor;
      stroke-width: 1; }
    .go-top svg:first-child {
      opacity: 1; }
    .go-top svg:last-child {
      opacity: 0;
      -webkit-transform: translateY(17px);
      transform: translateY(17px); }
  .go-top:hover svg:first-child, .go-topfocus svg:first-child {
    opacity: 0; }
  .go-top:hover svg:last-child, .go-topfocus svg:last-child {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
