.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.content-wrapper {
    background-color: #fff;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.pac-container {
    z-index: 1100 !important;;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.user-panel {
    height: 50px;
    padding: 5px;
}
.user-panel > .info{
    padding-left: 5px;
    left: 0;
    position: relative;
}
.crm-name {
    font-size: 30px;
}
.crm-login {
    margin: 200px auto 0;
    width: 650px;
}
.crm-login h1 {
    font-size: 48px;
    line-height: 60px;
}
.crm-login h2 {
    font-size: 24px;
    line-height: 30px;
}

.crm-input-row {
    position: relative;
}
.crm-hint-container {
    position: absolute;
    background-color: #bce8f1;
    padding: 20px 15px;
    border-radius: 4px;
    display: none;
}
.crm-input-container:hover+.crm-hint-container {
    display: block;
}
.crm-hint-container .hint-block {
    font-size: 16px;
    color: #000;
}
.crm-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}
.crm-table-row {
    display: table-row;
    border-bottom: 1px solid #000;
}
.crm-table-cell {
    display: table-cell;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
}
.crm-table-cell a {
    color: #000;
}
.crm-table-cell a.crm-login {
    font-size: 20px;
    font-weight: bold;
}
.crm-table-cell a:hover {
    text-decoration: underline;
}
.crm-form-block {
    display: none;
}
.nav-stacked>li.active>a,
.nav-stacked>li.active>a:hover {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-left: 0 !important;
}
.affix {
    top: 50px;
}

.crm-welcome{
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0;
}
.crm-dynamic-item:not(:first-child) {
    padding-top: 20px;
    border-top: 2px solid #f2f2f2;
}
.crm-header-language-toggle {
    font-size: 18px;
    cursor: pointer;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}