.wizard-content .popover{
    width: 50%;
    max-width: 50%;
}

.affix {
    padding-right: 15px;
}

.wizard-wrap {
    width: 1920px;
    max-width: 100%;
    padding: 20px;
}

.wizard-content {
    padding: 30px 0;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.progress-steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.progress-percent {
    font-size: 66px;
    height: 75px;
    line-height: 60px;
    position: relative;
    margin-right: 40px;
    padding-right: 15px;
}

.progress-percent:after {
    content: '%';
    font-size: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.progress-info {
    font-size: 14px;
}

ul.progress-menu {
    width: 100%;
}

ul.progress-menu li {
    width: 100%;
}

ul.progress-menu li a {
    display: block;
    padding: 10px 20px 5px;
    color: #000;
    font-size: 14px;
    min-height: 40px;
    line-height: 20px;
    background-color: #f2f2f2;
    border-bottom: 2px solid #ededed;
    position: relative;
}

ul.progress-menu li a.selected,
ul.progress-menu li.active a{
    background-color: #fff;
}

ul.progress-menu li a:hover,
ul.progress-menu li a:focus {
    text-decoration: none;
    color: #000;
}

.good-mark {
    /*display: none;*/
    color: #03c04a;
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 12px;
}

.progress-error {
    /*display: none;*/
    color: #c42020;
    position: absolute;
    right: 15px;
    top: 12px;
    line-height: 15px;
}

ul.progress-menu li a.ok .good-mark,
ul.progress-menu li a.step-error .progress-error {
    display: block;
}

.wizards-steps {
    padding: 10px 0 0;
}

.wizards-steps section {
    margin-bottom: 50px;
}

.wizard-step-header {
    font-size: 18px;
    line-height: 18px;
    border-bottom: 3px solid #f2f2f2;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #000;
    letter-spacing: 0.02em;
}

.wizard-step-header span {
    font-size: 14px;
    color: #888;
}

/*.required:after {*/
/*display: inline-block;*/
/*vertical-align: top;*/
/*margin: -.2em 0 0 .2em;*/
/*content: "*";*/
/*color: #db2828;*/
/*}*/

.form-wizard {
    font-size: 14px;
}

.form-wizard label {
    font-weight: normal;
}

.radio-btn input[type="radio"] + label:before,
.radio-btn input[type="radio"]:checked + label:before,
.big-radio-btn input[type="radio"]:checked + label:before,
.big-radio-btn input[type="radio"] + label:before{
    display: none;
}

.radio-btn {
    width: 20%;
}

.radio-btn input[type="radio"] + label {
    width: 100%;
    border: 1px solid #c4c4c4;
    border-right: none;
    height: 30px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.big-radio-btn input[type="radio"] + label {
    margin: 0;
    color: #000;
    border: 1px solid #c4c4c4;
    height: 36px;
    padding: 0 17px;
    font-size: 17px;
    line-height: 34px;
}

.radio-btn input[type="radio"]:checked + label,
.big-radio-btn input[type="radio"]:checked + label{
    background-color: #d9d9d9;
}

.radio-btn input[type="radio"] + label:hover,
.big-radio-btn input[type="radio"] + label:hover{
    background-color: #effbea;
}

.radio-btn:first-child input[type="radio"] + label,
.big-radio-btn:first-child input[type="radio"] + label{
    border-radius: 2px 0 0 2px;
}

.radio-btn:last-child input[type="radio"] + label {
    border-radius: 0 2px 2px 0;
    border-right: 1px solid #c4c4c4;
}

.square input {
    width: 33.33%;
    border-radius: 0;
}

.square input:not(:last-child) {
    border-right: none;
}

.square input:first-child {
    border-radius: 2px 0 0 2px;
}

.square input:last-child {
    border-radius: 0 2px 2px 0;
}

.floor {
    line-height: 35px;
}

.floor input {
    max-width: calc(50% - 30px);
}

.form-wizard p {
    font-size: 14px;
}


ul.no-list, ol.no-list {
    margin: 0;
    padding: 0;
}

ul.no-list li, ol.no-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    /*white-space: normal;*/
}

.btn-big {
    padding: 13px 30px;
    margin: 0 5px;
    font-size: 22px;
    line-height: 24px;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    border-width: 2px;
}

.btn-sm {
    line-height: 18px;
    /*padding: 10px 15px;*/
    font-size: 15px;
    border-radius: 1px;
    border-width: 1px;
    font-weight: bold;
}

.btn-white-blue {
    color: #e33989;
    background-color: transparent;
    border-color: #e33989;
}

.btn:hover, .btn:focus {
    text-decoration: none;
    color: #fff;
}

.btn-white-blue:hover, .btn-white-blue:focus {
    color: #fff;
    background-color: #e33989;
}

.btn-blue-white {
    color: #fff;
    background-color: #e33989;
}

.btn-blue-white:hover, .btn-blue-white:focus {
    color: #e33989;
    background-color: #fff;
    border-color: #e33989;
}

.btn-blue {
    color: #fff;
    background-color: #e33989;
    border-color: #46b8da;
}

.btn-blue:hover, .btn-blue:focus {
    border-color: #269abc;
    color: #fff;
}

.btn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

@media screen and (max-width: 992px) {
    .popover {
        display: none !important;
    }
}