@import "../modules/variables"

.map-marker-left img
  max-height: 48px
  width: auto

.map-marker-data
  color: #000
  padding: 0 5px
  font-size: 12px

.map-over .google-map-search
  margin: 10px
  width: 50%
  height: 40px

.google-map-marker img
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  z-index: -1

.google-map-search
  margin: 10px
  width: 50%
  height: 40px

.google-map-marker-sub
  margin-left: -50%
  position: relative
  margin-top: -50px
  width: 100%
  z-index: 1
  cursor: pointer
  div
    padding: 3px 10px
    text-align: center
