@import "../modules/variables"

.wrapper1920
  max-width: 1920px
  width: 100%
  margin: 0 auto

.wrapper
  max-width: 1200px
  width: 100%
  margin: 0 auto

.main-block
  min-height: 100%

.content
  height: 100%

.center-block
  width: 100%
  position: absolute
  top: 50%
  left: 0
  transform: translateY(-40%)
  -webkit-transform: translateY(-40%)

footer
  background-color: #1f2126
  color: #dadada
  font-size: 0.9rem
  .footer-title
    color: #fff
    margin: 20px 0 13px
    font-size: 1.5em
    text-transform: capitalize
  p, li, a
    color: #afb5b8
  a:hover, a:focus
    color: $blue
  address
    margin-bottom: 20px
    font-style: normal
    line-height: 1.4
  ul li
    padding-bottom: 5px

.footer-property
  background-color: #24262a
  padding: 8px 6px
  margin-bottom: 8px
  .img
    height: 55px
    width: 65px
    overflow: hidden
    margin-right: 10px
    img
      height: 100%
  .info
    line-height: 1.3rem
    .address
      opacity: 0.5

.bottom-line
  background-color: #1b1d20
  padding: 20px 0
  .copyright, .pay
    opacity: 0.5

.pay
  .icon-visa-pay-logo
    font-size: 40px
  .icon-mastercard
    font-size: 24px

.go-top-caret
  transform: scaleY(-1)
  -webkit-transform: scaleY(-1)
  display: inline-block
  font-size: 10px
  margin-left: 5px

.compensate-for-scrollbar
  padding-right: 17px
  margin-right: 0

.fancybox-advanced
  .fancybox-navigation .fancybox-button
    height: 60px
    width: 60px
    color: $grey
  .fancybox-button
    background-color: transparent
    &.fancybox-button--close
      width: 40px
      height: 40px
      right: 350px
      position: absolute
      @media screen and (max-width: 768px)
        right: 10px
  .fancybox-stage
    right: 350px
    @media screen and (max-width: 768px)
      right: 0
  .fancybox-navigation
    .fancybox-button, .fancybox-toolbar, .fancybox-caption
      visibility: visible
      opacity: 1
    .fancybox-button--arrow_right
      right: 360px
      @media screen and (max-width: 768px)
        right: 10px
  .fancybox-caption
    visibility: visible
    opacity: 1
    display: block
    padding: 15px
    font-size: 16px
    top: 0
    right: 0
    left: auto
    width: 350px
    background: #fff
    border: 0
    pointer-events: all
    font-family: $main_font, sans-serif
    color: #333
    &:before
      display: none
    @media screen and (max-width: 768px)
      visibility: hidden !important
      display: none !important
  ul.fancybox-attributes
    font-size: 0.9rem
    li
      margin-bottom: 5px

.prop-agent
  .img
    width: 65px
    height: 65px
    margin-right: 15px
    img
      height: 100%

.slick-prev,
.slick-next
  overflow: hidden
  width: 25px
  height: 36px
  z-index: 2

.slick-prev:before,
.slick-next:before
  width: 25px
  height: 36px
  background: transparent
  color: $light_grey
  line-height: 36px
  font-size: 32px
  display: block
  opacity: 1
  font-family: 'icomoon', sans-serif
  font-weight: bold

.slick-prev
  left: 0

.slick-prev:before
  content: "\e901"

.slick-next:before
  content: "\e924"

.slick-next
  right: 0

.pagination
  border: 1px solid $light_grey
  border-radius: 4px

.page-item
  .page-link
    padding: 14px 12px
    font-size: 0.9rem
    font-weight: $bold
    color: $black
    border: none
    &:hover,&:focus
      background-color: #eee
    &:focus
      box-shadow: none
    &.nav-prev,&.nav-next
      border: 1px solid $light_grey
      text-transform: uppercase
      position: relative
      &:before
        content: '\e904'
        position: absolute
        font-family: 'icomoon', sans-serif
        top: 18px
        font-size: 8px
    &.nav-prev
      padding-left: 30px
      &:before
        transform: rotate(90deg)
        -webkit-transform: rotate(90deg)
        left: 12px
    &.nav-next
      padding-right: 30px
      &:before
        transform: rotate(-90deg)
        -webkit-transform: rotate(-90deg)
        right: 12px
  &.active
    .page-link
      color: $white
      background-color: $black
      border: none

ul.catalog-view
  @media screen and (max-width: 992px)
    height: 35px
    border-top: 1px solid $light_grey
  li
    padding: 0
    border-right: 1px solid $light_grey
    &:first-child
      border-left: 1px solid $light_grey
    a
      color: $black
      font-weight: $bold
      line-height: 70px
      font-size: 1rem
      @media screen and (max-width: 992px)
        line-height: 35px
      &:hover,&:focus
        color: $black
        background-color: #F8F8F8
      &.active
        background-color: #F8F8F8

.squares
  border-bottom: 1px solid $light_grey
  padding: 0 20px

.options
  padding: 10px 20px
  font-weight: $bold
  .sticker
    text-transform: uppercase
    margin-top: 10px
  .favorite
    margin-top: 10px
    margin-right: 15px
    color: $grey
    &.active
      color: $dark_orange
      &:hover,&:focus
        color: $dark_orange
    i
      font-size: 1.2rem
    &:hover,&:focus
      color: $grey

.lft-brdr
  border-left: 1px solid $light_grey
  height: 15px

.more-less
  i
    font-size: 10px

a.facebook
  color: #3B5998
  font-size: 0.8rem
  &:hover,&:focus
    color: #3B5998

a.google
  color: #DB5138
  font-size: 0.8rem
  &:hover,&:focus
    color: #DB5138

.sticky-top
  z-index: 2