@import "../modules/variables"

.compare
  border-left: 1px solid $light_grey
  border-right: 1px solid $light_grey

.table-compare
  background-color: $white
  border-collapse: collapse
  tr
    td,th
      border: 1px solid $light_grey
      width: 25%
      min-width: 300px
      vertical-align: middle
      padding: 14px 5px
      font-weight: $bold
      font-size: 0.9rem
      @media screen and (max-width: 992px)
        font-size: 0.75rem
    border: 1px solid $light_grey
    td
      .not-available
        color: $light_grey
      &:first-child
        padding-right: 50px
    th
      .image
        height: 200px
      &:first-child
        font-size: 1.1rem
        @media screen and (max-width: 992px)
          font-size: 0.75rem

@media screen and (max-width: 768px)
  .table-compare
    tr
      td,th
        min-width: 25%
      td:first-child
        padding: 14px 5px
