@import "../modules/variables"

.banner
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15)
  background-color: #f5f5f5
  background: url(../../images/header_image.jpg)
  background-size: cover
  height: 575px
  z-index: 0
  width: 100%
  position: relative
  margin-top: -70px
  &:after
    content: ''
    height: 100%
    opacity: 0.6
    position: absolute
    z-index: -1
    top: 0
    left: 0
    width: 100%
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), color-stop(88%, rgba(0, 0, 0, 0.75)))
    background: linear-gradient(to top, transparent 20%, black 88%)


.main-search
  width: 620px
  max-width: 100%
  margin: 25px auto 0
  @media screen and (max-width: 768px)
    padding: 0 30px
  select
    height: 50px
    min-width: 120px
    border: none
    box-shadow: none
    font-weight: $bold
    text-transform: uppercase
    margin-bottom: 15px
    border-right: 2px solid $light_grey
    @media screen and (max-width: 768px)
      border-radius: 5px
    &:first-child
      border-radius: 5px 0 0 5px
      @media screen and (max-width: 768px)
        border-radius: 5px
  .input-group.search
    padding: 0
    input
      border: none
      box-shadow: none
      height: 50px
      font-weight: $bold
      margin-bottom: 15px
      &::-webkit-input-placeholder
        color: $light_grey
        font-weight: $bold
      &::-moz-placeholder
        font-weight: $bold
        color: $light_grey
      @media screen and (max-width: 768px)
        border-radius: 0 5px 5px 0
    .arrow
      line-height: 50px
      font-size: 16px
      background-color: $white
      margin-bottom: 15px
      @media screen and (max-width: 768px)
        border-radius: 5px 0 0 5px
    .btn-submit
      padding: 0
      input
        padding: 0 25px
        line-height: 50px
        border-radius: 0 5px 5px 0
        font-weight: $bold
        color: $light_grey
        @media screen and (max-width: 768px)
          width: 100%
          border-radius: 5px

.banner
  h1, h4
      color: $white
  h1
      font-weight: $bold
      font-size: 4em
  @media screen and (max-width: 768px)
    h1
     font-size: 2.8em

.explore
  h2
    padding-top: 50px
    margin-top: 0
    margin-bottom: 10px
  h5 span
      color: #adb1b4

.explore-prop
  position: relative
  height: 240px
  &:before
    content: ''
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 1
    position: absolute
    background-color: rgba(0, 0, 0, 0.4)
    -moz-transition: 0.4s
    -o-transition: 0.4s
    -webkit-transition: 0.4s
    transition: 0.4s
  &:hover
    &:before
      background-color: rgba(0, 0, 0, 0.7)
    .explore-info
      padding-top: 60px
      .button
        opacity: 1
        background: $dark_orange
        border-color: $dark_orange

.explore-prop-block
  margin: 15px 0

.explore-info
  padding-top: 100px
  position: relative
  z-index: 2
  -moz-transition: 0.4s
  -webkit-transition: 0.4s
  h3
    margin-bottom: 5px
    font-weight: $bold
    color: $white
  h6
    color: $white
    font-size: 0.9rem
    margin-bottom: 20px
  .button
    opacity: 0
    -webkit-transition: 0.2s
    transition: 0.2s

.about-us
  margin-top: 50px
  background-color: #3a7de3
  border-top: 35px solid #ededed
  border-bottom: 35px solid #ededed
  position: relative
  h2
    color: $white
    margin: 10% 0 5%

.about-us-img
  background-image: url(../../images/about_us.jpg)
  background-position: center right
  background-size: cover
  height: 100%
  position: absolute
  top: 0
  right: 0

.about-block
  margin-bottom: 30px
  h4
    text-transform: uppercase
    color: $white
    font-size: 1.1rem
  p
    margin: 0 0 0 20px
    color: $white

.properties
  padding: 50px 0 20px
  h5
    margin-bottom: 30px

.our-team
  padding: 50px 0 30px

.slider-pro
  margin: 30px 0

.pro
  position: relative
  height: 450px
  overflow: hidden
  .img
    height: 100%
    background-position: center top
    position: relative
  .pro-info
    padding: 20px
    position: absolute
    z-index: 2
    bottom: -100px
    height: 180px
    -webkit-transition: 0.4s
    transition: 0.4s
    color: $white
    h3
      color: $white
      padding: 0
      margin: 0
      font-size: 1.5rem
      a
        color: $white
        &:hover,&:focus
          color: $white
          text-decoration: underline
    h6
      color: $white
      font-weight: normal
      margin: 0 0 20px
      font-size: 0.9rem
    .text
      border-top: 1px solid #4c89e5
      padding-top: 10px
      max-height: 80px
      overflow: hidden
      p
        color: $white
    .deals
      opacity: 0
      padding-top: 10px

  &:hover
    .pro-info
      bottom: 0
      background-color: $blue
    .deals
      opacity: 1

.reviews
  padding: 30px 0

.review-cite
  padding: 20px 10%
  cite
    font-size: 1.3rem
    line-height: 1.75
    margin-bottom: 35px
    @media screen and (max-width: 768px)
      font-size: 1rem


.team
  .img
    height: 55px
    width: 55px
    overflow: hidden
    border-radius: 50%
    margin-right: 15px
    img
      height: 100%
      margin: 0 auto
  .text
    font-size: 1.15rem
    font-weight: $bold
    line-height: 1.5
    @media screen and (max-width: 768px)
      font-size: 1em

.contact
  width: 730px
  max-width: 100%
  padding: 30px 0
  margin: 0 auto
  label
    font-weight: $bold


