@import "../modules/variables"

.slider-property
  .img
    height: 350px

.property-section
  h3
    font-size: 1.25em
    font-weight: $bold

ul.prop-feat
  li
    margin-bottom: 15px
    &:before
      content: '\e955'
      font-family: 'icomoon', sans-serif
      color: $blue
      font-weight: bold
      padding-right: 10px
    &.prop-feat-none
      color: $grey
      &:before
        content: '\e908'
        color: $grey

.prop-photo
  height: 125px
  background-size: cover
  margin-bottom: 15px

.more-photos
  position: relative
  .bg
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(0, 0, 0, 0.4)
    -webkit-transition: 0.4s
    transition: 0.4s
    opacity: 0
    a
      font-size: 1.5rem
      color: $white
      font-weight: $bold
      &:hover,&:focus
        color: $white
  &:hover .bg
    opacity: 1

.prop-video .player
    max-width: 100% !important

.share-report
  border-top: 1px solid $light_grey
  font-weight: bold
  a
    color: $black
    &:hover,&:focus
      color: $black
  .share
    text-transform: uppercase
    a
      font-size: 1.2rem
  .report span
    font-size: 1.2rem

.rate
  .stars
    font-size: 1.5rem
    color: $blue
  .text
    font-size: 0.8rem
  &.leave-rate
    .stars
      cursor: pointer

.review
  border-bottom: 1px solid $light_grey

.review-head
  .review-name
    font-size: 1.2rem
  .review-date
    font-size: 0.8rem

.similar-item
  border-top: 1px solid $light_grey
  line-height: 1.2rem
  .img
    width: 65px
    height: 55px
    margin-right: 15px
    img
      width: 100%
  .info
    font-size: 0.8rem
    .address
      font-size: 0.7rem
    a
      color: $black
      &:hover, &:focus
        color: $black

.prop-price
  h2
    font-size: 1.8em
  h5
    font-size: 0.9em

.property-add
  border-radius: 4px
  border: 1px solid $light_grey

.slick-prev:before,
.slick-next:before
  color: $white

.slick-prev
  left: 10%

.slick-next
  right: 10%

ul.history-switch
  border-bottom: 1px solid $grey
  li
    display: inline-block
    padding-right: 30px
    a
      color: $black
      border-bottom: 2px solid transparent
      padding: 0 0 10px
      display: block
      font-size: 1.2rem
      &:hover, &:focus
        color: $orange
        text-decoration: none
      .badge
        background-color: $green
      &.active
        color: $orange
        border-bottom: 2px solid $blue


.params-header
  border-top: 1px solid $grey
  border-bottom: 1px solid $grey
  position: relative
  display: block
  cursor: pointer
  padding: 15px 40px 15px 0
  margin-top: -1px
  &:after
    content: ""
    position: absolute
    top: 30%
    height: 14px
    width: 14px
    display: block
    cursor: pointer
    -webkit-transform: rotate(45deg)
    transform: rotate(45deg)
    border-bottom: 2px solid $grey
    border-right: 2px solid $grey
    right: 15px
    &[aria-expanded="true"]:after
      -webkit-transform: rotate(-135deg)
      transform: rotate(-135deg)
      top: 50%
  .bedroom-title
    padding-left: 10px
    span
      color: $grey
      padding-left: 10px

.params-content
  padding: 20px 0 30px

.bedroom-group .params-header[aria-expanded="true"]
  background-color: $light_grey
  &.bedroom-title span
    display: none

.flat-item
  border-top: 1px solid $light_grey
  padding: 10px 0
  height: 50px
  line-height: 30px
  display: flex
  font-size: 14px
  > div
    width: 20%
    overflow: hidden
    &.flat-title
      width: 60%
    &.flat-square,
    &.flat-photos
      width: 10%

.flat-marker
  padding-left: 15px
  position: relative
  &:before
    content: ''
    border-radius: 5px
    position: absolute
    top: 50%
    margin-top: -5px
    left: 0
    height: 10px
    width: 10px
  &.red-mark:before
    background-color: $dark_orange
  &.yellow-mark:before
    background-color: $orange
  &.green-mark:before
    background-color: $green
  &.blue-mark:before
    background-color: $blue
  &.gray-mark:before
    background-color: $grey

.property-map
  height: 350px

.prop-video
  padding-bottom: 56.25%
  iframe,
  object,
  embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    
/****************CALCULATOR***************/
.calculator-modal
  position: absolute
  left: auto
  bottom: 70px
  opacity: 0
  transition: transform 0.1s ease-in-out 0s, -webkit-transform 0.1s ease-in-out 0s, -ms-transform 0.1s ease-in-out 0s, opacity 0.1s ease-in-out 0s
  right: 0
  width: 460px
  background-color: #fff
  font-size: 14px
  padding-bottom: 20px
  border: 1px solid #aaa
  box-shadow: 0 0 2px #444
  z-index: 999
  -webkit-transform: scale(.01) translate3d(20px,0,0)
  transform: scale(.01) translate3d(20px,0,0)
  &.open
    -webkit-transform: scale(1) translate3d(0, 0, 0)
    transform: scale(1) translate3d(0, 0, 0)
    opacity: 1

.calculator-form
  @media screen and (max-width: 576px)
    width: 100%
  .input-group-addon
    padding: 5px
    font-size: 16px
    border: none
    line-height: 28px
    background-color: #fff
  .input-group
    border: 1px solid #b2b2b2
    .form-control
      border: none
  .form-control:focus
    border-color: transparent
    outline: 0
    -webkit-box-shadow: none
    box-shadow: none
  select
    width: 100%

.fff:focus
  border-color: #66afe9
  outline: 0
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6)

.calc-sum
  padding: 10px 0
  font-size: 25px
  font-weight: 700
  line-height: 1.5

.calc-warning
  color: #999
  font-size: 12px
  padding: 5px 0 10px

.calc-preq
  padding: 20px
  background-color: #cdf2db
  p
    margin-bottom: 15px
    padding: 0

.calculator-padding
  padding: 20px 20px 0

.mortgage-price
  font-size: 1.4rem

/*****************************************/
