html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.wizard-photo-small-preview {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.wizard-photo-small-preview img {
    width: 100%;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.pac-container {
    z-index: 1100 !important;;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.flex {
    display: flex;
}

.selectize-multi > div {
    height: auto;
}

.dynamic-relation-item {
    padding-top: 30px;
    position: relative;
}

.dynamic-relation-item:not(:first-child) {
    margin-top: 20px;
    border-top: 2px solid #f2f2f2;
}

.dynamic-relation-remove {
    position: absolute;
    top: 5px;
    right: 10px;
}

.table-fixed td {
    white-space: normal;
}

.kv-node-detail .kv-node-label{
    cursor: pointer;
}
.kv-loading .kv-node-message, .kv-editing .kv-node-message {
    display: none;
}
.kv-detail-container .edit-form-container {
    display: none;
}
.kv-detail-container.kv-editing .edit-form-container {
    display: block;
}
.kv-detail-container .edit-form-container .tab-content {
    margin: -1px 0 10px;
    padding: 15px;
}
.kv-detail-container .edit-form-container .option-type {
    display: none;
}
.kv-detail-container .edit-form-container .option-type.active {
    display: block;
}
.kv-detail-container .edit-form-container .selectize-dropdown{
    top: auto !important;
    bottom: 50px !important;
    border: 1px solid #d0d0d0  !important;
    border-radius: 3px 3px 0 0  !important;
}
.kv-detail-container .edit-form-container .option-type.active {
    display: block;
}
#tree-pjax-container .kv-node-detail {
    padding-left: 5px;
}
#tree-pjax-container .kv-node-detail.kv-focussed {
    background-color: rgba(0, 204, 28, 0.35);
}
.hint--top::before, .hint--top::after {
    bottom: 100%;
    left: 50%;
    max-width: 200px;
    white-space: normal;
}
.hint--top::after {
    margin-left: -22px;
}
.hint--top::before {
    margin-left: -5px;
    margin-bottom: -12px;
    border-top-color: #383838;
    display: block;
}
.hint--top:hover::before, .hint--top:hover::after {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
[data-hint]::before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
}
[data-hint]::after {
    content: attr(data-hint);
    background: #383838;
    color: white;
    text-shadow: 0 -1px 0 black;
    padding: 7px 9px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
    text-indent: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    min-width: 100px;
}
[data-hint]::before, [data-hint]::after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
[data-hint]:hover::before, [data-hint]:hover::after {
    visibility: visible;
    opacity: 1;
}