@font-face {
  font-family: 'HelveticaNeueCyrRoman';
  src: url("../../fonts/HelveticaNeueCyrRoman.eot") format("embedded-opentype");
  src: url("../../fonts/HelveticaNeueCyrRoman.woff") format("woff");
  src: url("../../fonts/HelveticaNeueCyrRoman.woff2") format("woff2");
  src: url("../../fonts/HelveticaNeueCyrRoman.ttf") format("truetype");
  src: url("../../fonts/HelveticaNeueCyrRoman.svg#HelveticaNeueCyrRoman") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, button, address, cite, code, em, img,
small, strike, strong, sub, tt,
b, i, aside,
dl, dt, dd, ol, ul, li,
fieldset, form, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

ul,
ol {
  list-style-position: inside; }

ul.no-list li {
  list-style: none;
  margin: 0; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

a:focus,
button:focus,
div:focus {
  outline: 0; }

.nw {
  white-space: nowrap; }

.light-grey-bg {
  background-color: #f5f5f5; }

.grey {
  color: #8C9397; }

[data-hint] {
  position: relative; }

[data-hint]::before {
  content: '';
  position: absolute;
  background: transparent;
  border: 6px solid transparent;
  z-index: 1000001; }

[data-hint]::after {
  content: attr(data-hint);
  background: #383838;
  color: white;
  text-shadow: 0 -1px 0 black;
  padding: 7px 9px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
  text-indent: 0;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  white-space: nowrap; }

[data-hint]::before, [data-hint]::after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hint--top::before, .hint--top::after {
  bottom: 100%;
  left: 50%;
  max-width: 200px; }

.hint--top::after {
  margin-left: -22px; }

.hint--top::before {
  margin-left: -5px;
  margin-bottom: -12px;
  border-top-color: #383838;
  display: block; }

.hint--top-right:before, .hint--top-right:after {
  bottom: 100%;
  right: 0; }

.hint--top:hover::before, .hint--top:hover::after {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px); }

[data-hint]:hover::before, [data-hint]:hover::after {
  visibility: visible;
  opacity: 1; }

.hint--bottom::before {
  margin-left: -5px;
  margin-top: -12px;
  border-bottom-color: #383838; }

.hint--bottom::before, .hint--bottom::after {
  top: 100%;
  left: 50%; }

.hint--bottom::after {
  margin-left: -22px; }

.hint--bottom:hover::before, .hint--bottom:hover::after {
  -webkit-transform: translateY(10px);
  transform: translateY(10px); }

.hint--left:before {
  margin-right: -12px;
  margin-bottom: -5px;
  border-left-color: #383838; }

.hint--left:after {
  margin-bottom: -13px; }

.hint--left:before,
.hint--left:after {
  right: 100%;
  bottom: 50%; }

.hint--left:hover:before,
.hint--left:hover:after {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px); }

.hint--right::before, .hint--right::after {
  left: 100%;
  max-width: 200px;
  width: 200px; }

.hint--right::before {
  margin-left: -12px;
  border-right-color: #383838;
  display: block;
  width: 10px;
  height: 12px;
  top: 50%;
  margin-top: -5px; }

.hint--right:hover::before, .hint--right:hover::after {
  -webkit-transform: translateX(10px);
  transform: translateX(10px); }

* html,
body {
  background-color: #fff;
  font-size: 14px;
  font-family: "HelveticaNeueCyrRoman", "Helvetica", sans-serif;
  line-height: 1.2;
  width: 100%;
  color: #35393b;
  font-weight: 500; }

html,
body {
  height: 100%;
  min-height: 100%; }

a a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #3a7de3; }

a:active {
  color: #35526f; }

a:hover, a:focus {
  color: #35526f;
  text-decoration: none; }

h1 {
  font-size: 2em;
  color: #35393b;
  font-weight: 500;
  margin-top: 0;
  padding-top: 10px; }

h2 {
  font-size: 2.5em;
  font-weight: 400;
  margin-top: 0;
  padding-top: 10px;
  margin-bottom: 10px;
  color: #35393b; }

h3 {
  font-size: 1.9em;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #35393b; }

h4 {
  font-size: 1.25em;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #35393b; }

h5 {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #35393b; }

h6 {
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #35393b; }

p {
  margin: 0 0 10px 0;
  color: #35393b;
  font-size: 1em;
  line-height: 1.6;
  text-align: left;
  letter-spacing: 0.01rem; }

.text-small {
  font-size: 0.8rem; }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em; }
  h2 {
    font-size: 2em; }
  h3 {
    font-size: 1.5em; }
  h4, h5, h6 {
    font-size: 1em; } }

input {
  background-color: #fff;
  color: #35393b;
  margin: 0;
  height: 40px;
  line-height: 20px;
  display: block;
  text-align: left;
  padding: 10px 15px;
  border: 2px solid #e7e7e7;
  border-radius: 0;
  font-size: 1rem;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1); }

input:focus,
textarea:focus,
select:focus,
input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
  border: 2px #e7e7e7 solid;
  color: #35393b;
  box-shadow: none; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="number"]::-webkit-inner-spin-button {
  display: none; }

::-webkit-input-placeholder {
  font-size: 1em;
  color: #35393b; }

::-moz-placeholder {
  color: #35393b;
  font-size: 1em; }

textarea, textarea.form-control {
  background-color: #fff;
  color: #35393b;
  margin: 0;
  height: 170px;
  line-height: 20px;
  display: block;
  text-align: left;
  padding: 15px;
  border: 2px solid #e7e7e7;
  border-radius: 0;
  font-size: 1rem;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1); }

select {
  color: #35393b;
  margin: 0;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: left;
  padding: 0 30px 0 10px;
  border: 2px solid #e7e7e7;
  border-radius: 0;
  font-size: 1em;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../images/caret-down.svg) no-repeat #fff;
  background-position: right 10px center;
  background-size: 9px; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  cursor: pointer; }
  input[type="checkbox"] + label:before {
    width: 25px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    display: inline-block;
    vertical-align: middle;
    content: "\e933";
    color: #3e414e;
    font-family: 'icomoon', serif;
    font-size: 20px; }

input[type="checkbox"]:checked + label:before {
  width: 25px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  content: "\e934";
  color: #3e414e;
  font-family: 'icomoon', serif;
  font-size: 20px; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  cursor: pointer; }
  input[type="radio"] + label:before {
    width: 25px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
    display: inline-block;
    vertical-align: middle;
    content: "\e933";
    color: #797979;
    font-family: 'icomoon', serif;
    font-size: 20px; }

input[type="radio"]:checked + label:before {
  width: 25px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  content: "\e934";
  color: #797979;
  font-family: 'icomoon', serif;
  font-size: 20px; }

.site-modal {
  width: 400px; }
  .site-modal .modal-body, .site-modal .modal-header, .site-modal .modal-footer {
    padding: 1.5rem; }
  .site-modal .modal-footer {
    border-top: 1px solid #e7e7e7; }
  .site-modal .modal-header {
    border-bottom: none; }
  .site-modal .close {
    position: absolute;
    top: 15px;
    right: 15px; }
  .site-modal .modal-content {
    border-radius: 0; }
  .site-modal h2 {
    font-size: 1.7em; }
  .site-modal input {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #e7e7e7; }
    .site-modal input::-webkit-input-placeholder {
      color: #35393b;
      font-weight: bold;
      font-size: 0.9em; }
    .site-modal input::-moz-placeholder {
      color: #35393b;
      font-weight: bold;
      font-size: 0.9em; }
  .site-modal input:focus,
  .site-modal textarea:focus,
  .site-modal select:focus,
  .site-modal input.form-control:focus,
  .site-modal textarea.form-control:focus,
  .site-modal select.form-control:focus {
    border: none;
    border-bottom: 1px solid #e7e7e7; }

.button {
  text-transform: uppercase;
  border: 1px solid;
  background-color: #3a7de3;
  border-color: #3a7de3;
  padding: 16px 0;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 600;
  vertical-align: bottom;
  border-radius: 4px;
  line-height: 1.5em;
  display: block;
  text-align: center; }
  .button:hover, .button:focus {
    background-color: #35526f;
    border-color: #35526f;
    color: #fff;
    text-decoration: none; }
  .button.green {
    background-color: #4fcc8d;
    border-color: #4fcc8d; }
    .button.green:hover, .button.green:focus {
      background-color: #27cb6c;
      border-color: #27cb6c; }
  .button.white-blue {
    border-color: #fff; }
    .button.white-blue:hover, .button.white-blue:focus {
      background-color: #35526f;
      border-color: #35526f; }
  .button.orange {
    background-color: #ea7713;
    border-color: #ea7713; }
    .button.orange:hover, .button.orange:focus {
      background-color: #f45040;
      border-color: #f45040; }
  .button.transparent {
    background-color: transparent;
    border: 1px solid #3a7de3;
    color: #3a7de3; }
    .button.transparent:hover, .button.transparent:focus {
      border: 1px solid #3a7de3;
      color: #fff;
      background-color: #3a7de3; }
  .button.transparent-black {
    background-color: transparent;
    border: 1px solid #35393b;
    color: #35393b; }
    .button.transparent-black:hover, .button.transparent-black:focus {
      border: 1px solid #35393b;
      color: #35393b;
      background-color: #e7e7e7; }
  .button.big {
    padding: 15px;
    width: 255px;
    height: 50px; }
  .button.small {
    padding: 10px;
    min-width: 150px;
    height: 40px; }

header {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 201; }
  header .drop-menu {
    position: absolute;
    top: 38px;
    background-color: #fff;
    left: -15px;
    -webkit-box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.75); }
    header .drop-menu ul li a {
      padding: 15px 40px; }
  header .desktop-menu {
    position: relative;
    background-color: #fff; }
    header .desktop-menu .navbar {
      padding: 0; }
    header .desktop-menu ul.top-menu > li {
      position: relative; }
      header .desktop-menu ul.top-menu > li > a {
        color: #35393b; }
    header .desktop-menu a {
      color: #35393b;
      font-weight: 600;
      position: relative;
      display: block;
      white-space: nowrap;
      font-size: 0.9rem; }
      header .desktop-menu a.logo {
        width: 40px;
        height: 40px;
        position: relative;
        padding: 10px 40px; }
        header .desktop-menu a.logo img {
          max-width: 100%;
          max-height: 100%;
          top: 50%;
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%); }
          header .desktop-menu a.logo img + div {
            margin-left: 40px; }
      header .desktop-menu a .gamb-button {
        position: relative;
        left: 5px;
        width: 20px;
        height: 20px; }
        header .desktop-menu a .gamb-button .icon-bar {
          display: block;
          margin: 0;
          background: #35393b;
          height: 2px;
          width: 20px;
          border-radius: 2px;
          position: absolute;
          top: 0;
          right: 0; }
          header .desktop-menu a .gamb-button .icon-bar:nth-child(2) {
            width: 14px;
            top: 6px; }
          header .desktop-menu a .gamb-button .icon-bar:nth-child(3) {
            width: 16px;
            top: 12px; }
      header .desktop-menu a .cross {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 22px;
        right: 20px;
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }
        header .desktop-menu a .cross:before, header .desktop-menu a .cross:after {
          background: #35393b;
          position: absolute; }
        header .desktop-menu a .cross:after {
          content: '';
          top: -10%;
          height: 10%;
          width: 100%;
          margin-left: -100%; }
        header .desktop-menu a .cross:before {
          content: '';
          top: -55%;
          left: 50%;
          width: 10%;
          margin-left: -5%;
          height: 100%; }
      header .desktop-menu a:hover {
        color: #35393b; }

.call {
  background-color: #27cb6c;
  width: 40px;
  height: 40px;
  line-height: 45px; }
  .call i {
    color: #fff;
    font-size: 20px; }
  .call.scroll-content {
    position: fixed;
    bottom: 20px;
    right: 20px; }

.filter-top-mobile {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.75);
  z-index: 200; }
  .filter-top-mobile.scroll-content {
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 202; }

.filter-link {
  color: #ea7713;
  font-size: 1rem; }
  .filter-link i {
    font-size: 20px; }

.prop {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }

.filter {
  border-bottom: 1px solid #e7e7e7;
  background-color: #fff; }

.filter-top {
  z-index: 5; }
  .filter-top .search-filter input, .filter-top .filter-select select {
    height: 70px;
    border: none; }
    @media screen and (max-width: 992px) {
      .filter-top .search-filter input, .filter-top .filter-select select {
        height: 35px; } }
  .filter-top:focus, .filter-top:hover {
    border: none; }
  .filter-top select {
    border-right: 1px solid #e7e7e7; }
  .filter-top .search-filter {
    width: 275px; }
    @media screen and (max-width: 992px) {
      .filter-top .search-filter {
        border-bottom: 1px solid #e7e7e7; } }
    .filter-top .search-filter input {
      width: calc(100% - 40px); }
    .filter-top .search-filter .input-group-append i {
      line-height: 70px;
      padding: 0 10px;
      border-right: 1px solid #e7e7e7; }
      @media screen and (max-width: 992px) {
        .filter-top .search-filter .input-group-append i {
          line-height: 35px;
          border-right: none; } }
      .filter-top .search-filter .input-group-append i i {
        font-weight: 600; }

.filter-prices .filter-box {
  width: 275px; }

.filter-price-diapason {
  line-height: 40px;
  padding: 10px; }

.filter-choose {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  cursor: pointer; }
  .filter-choose.active {
    background-color: #35526f;
    color: #fff;
    font-weight: 600; }
  .filter-choose:hover {
    background-color: #3a7de3;
    color: #fff; }

.filter-column-left,
.filter-column-right {
  border-top: 1px solid #8C9397; }

.filter-item {
  position: relative;
  border-right: 1px solid #e7e7e7; }
  @media screen and (max-width: 576px) {
    .filter-item {
      border-bottom: 1px solid #e7e7e7; } }

.filter-name {
  line-height: 70px;
  cursor: pointer;
  padding: 0 25px 0 10px; }
  @media screen and (max-width: 992px) {
    .filter-name {
      line-height: 35px; } }
  .filter-name:after {
    content: '\e904';
    font-family: 'icomoon', serif;
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 70px;
    font-size: 10px; }
    @media screen and (max-width: 992px) {
      .filter-name:after {
        line-height: 35px; } }

.filter-box {
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 3; }
  .filter-box.filter-more {
    right: 0;
    left: auto;
    width: 200%; }
    @media screen and (max-width: 576px) {
      .filter-box.filter-more {
        width: 100%; } }
  .filter-box.filter-price {
    width: 275px; }

.filter-type-group {
  padding: 0 15px 15px 15px; }
  .filter-type-group:first-child {
    padding-top: 10px; }
  .filter-type-group.active .filter-sub-types {
    display: block; }

.filter-sub-types {
  padding-left: 15px;
  display: none; }

.filter-type-group-name, .filter-sub-type {
  white-space: nowrap; }

.wrapper1920 {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto; }

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.main-block {
  min-height: 100%; }

.content {
  height: 100%; }

.center-block {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-40%);
  -webkit-transform: translateY(-40%); }

footer {
  background-color: #1f2126;
  color: #dadada;
  font-size: 0.9rem; }
  footer .footer-title {
    color: #fff;
    margin: 20px 0 13px;
    font-size: 1.5em;
    text-transform: capitalize; }
  footer p, footer li, footer a {
    color: #afb5b8; }
  footer a:hover, footer a:focus {
    color: #3a7de3; }
  footer address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.4; }
  footer ul li {
    padding-bottom: 5px; }

.footer-property {
  background-color: #24262a;
  padding: 8px 6px;
  margin-bottom: 8px; }
  .footer-property .img {
    height: 55px;
    width: 65px;
    overflow: hidden;
    margin-right: 10px; }
    .footer-property .img img {
      height: 100%; }
  .footer-property .info {
    line-height: 1.3rem; }
    .footer-property .info .address {
      opacity: 0.5; }

.bottom-line {
  background-color: #1b1d20;
  padding: 20px 0; }
  .bottom-line .copyright, .bottom-line .pay {
    opacity: 0.5; }

.pay .icon-visa-pay-logo {
  font-size: 40px; }

.pay .icon-mastercard {
  font-size: 24px; }

.go-top-caret {
  transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  display: inline-block;
  font-size: 10px;
  margin-left: 5px; }

.compensate-for-scrollbar {
  padding-right: 17px;
  margin-right: 0; }

.fancybox-advanced .fancybox-navigation .fancybox-button {
  height: 60px;
  width: 60px;
  color: #8C9397; }

.fancybox-advanced .fancybox-button {
  background-color: transparent; }
  .fancybox-advanced .fancybox-button.fancybox-button--close {
    width: 40px;
    height: 40px;
    right: 350px;
    position: absolute; }
    @media screen and (max-width: 768px) {
      .fancybox-advanced .fancybox-button.fancybox-button--close {
        right: 10px; } }

.fancybox-advanced .fancybox-stage {
  right: 350px; }
  @media screen and (max-width: 768px) {
    .fancybox-advanced .fancybox-stage {
      right: 0; } }

.fancybox-advanced .fancybox-navigation .fancybox-button, .fancybox-advanced .fancybox-navigation .fancybox-toolbar, .fancybox-advanced .fancybox-navigation .fancybox-caption {
  visibility: visible;
  opacity: 1; }

.fancybox-advanced .fancybox-navigation .fancybox-button--arrow_right {
  right: 360px; }
  @media screen and (max-width: 768px) {
    .fancybox-advanced .fancybox-navigation .fancybox-button--arrow_right {
      right: 10px; } }

.fancybox-advanced .fancybox-caption {
  visibility: visible;
  opacity: 1;
  display: block;
  padding: 15px;
  font-size: 16px;
  top: 0;
  right: 0;
  left: auto;
  width: 350px;
  background: #fff;
  border: 0;
  pointer-events: all;
  font-family: "HelveticaNeueCyrRoman", "Helvetica", sans-serif, sans-serif;
  color: #333; }
  .fancybox-advanced .fancybox-caption:before {
    display: none; }
  @media screen and (max-width: 768px) {
    .fancybox-advanced .fancybox-caption {
      visibility: hidden !important;
      display: none !important; } }

.fancybox-advanced ul.fancybox-attributes {
  font-size: 0.9rem; }
  .fancybox-advanced ul.fancybox-attributes li {
    margin-bottom: 5px; }

.prop-agent .img {
  width: 65px;
  height: 65px;
  margin-right: 15px; }
  .prop-agent .img img {
    height: 100%; }

.slick-prev,
.slick-next {
  overflow: hidden;
  width: 25px;
  height: 36px;
  z-index: 2; }

.slick-prev:before,
.slick-next:before {
  width: 25px;
  height: 36px;
  background: transparent;
  color: #e7e7e7;
  line-height: 36px;
  font-size: 32px;
  display: block;
  opacity: 1;
  font-family: 'icomoon', sans-serif;
  font-weight: bold; }

.slick-prev {
  left: 0; }

.slick-prev:before {
  content: "\e901"; }

.slick-next:before {
  content: "\e924"; }

.slick-next {
  right: 0; }

.pagination {
  border: 1px solid #e7e7e7;
  border-radius: 4px; }

.page-item .page-link {
  padding: 14px 12px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #35393b;
  border: none; }
  .page-item .page-link:hover, .page-item .page-link:focus {
    background-color: #eee; }
  .page-item .page-link:focus {
    box-shadow: none; }
  .page-item .page-link.nav-prev, .page-item .page-link.nav-next {
    border: 1px solid #e7e7e7;
    text-transform: uppercase;
    position: relative; }
    .page-item .page-link.nav-prev:before, .page-item .page-link.nav-next:before {
      content: '\e904';
      position: absolute;
      font-family: 'icomoon', sans-serif;
      top: 18px;
      font-size: 8px; }
  .page-item .page-link.nav-prev {
    padding-left: 30px; }
    .page-item .page-link.nav-prev:before {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      left: 12px; }
  .page-item .page-link.nav-next {
    padding-right: 30px; }
    .page-item .page-link.nav-next:before {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      right: 12px; }

.page-item.active .page-link {
  color: #fff;
  background-color: #35393b;
  border: none; }

@media screen and (max-width: 992px) {
  ul.catalog-view {
    height: 35px;
    border-top: 1px solid #e7e7e7; } }

ul.catalog-view li {
  padding: 0;
  border-right: 1px solid #e7e7e7; }
  ul.catalog-view li:first-child {
    border-left: 1px solid #e7e7e7; }
  ul.catalog-view li a {
    color: #35393b;
    font-weight: 600;
    line-height: 70px;
    font-size: 1rem; }
    @media screen and (max-width: 992px) {
      ul.catalog-view li a {
        line-height: 35px; } }
    ul.catalog-view li a:hover, ul.catalog-view li a:focus {
      color: #35393b;
      background-color: #F8F8F8; }
    ul.catalog-view li a.active {
      background-color: #F8F8F8; }

.squares {
  border-bottom: 1px solid #e7e7e7;
  padding: 0 20px; }

.options {
  padding: 10px 20px;
  font-weight: 600; }
  .options .sticker {
    text-transform: uppercase;
    margin-top: 10px; }
  .options .favorite {
    margin-top: 10px;
    margin-right: 15px;
    color: #8C9397; }
    .options .favorite.active {
      color: #f45040; }
      .options .favorite.active:hover, .options .favorite.active:focus {
        color: #f45040; }
    .options .favorite i {
      font-size: 1.2rem; }
    .options .favorite:hover, .options .favorite:focus {
      color: #8C9397; }

.lft-brdr {
  border-left: 1px solid #e7e7e7;
  height: 15px; }

.more-less i {
  font-size: 10px; }

a.facebook {
  color: #3B5998;
  font-size: 0.8rem; }
  a.facebook:hover, a.facebook:focus {
    color: #3B5998; }

a.google {
  color: #DB5138;
  font-size: 0.8rem; }
  a.google:hover, a.google:focus {
    color: #DB5138; }

.sticky-top {
  z-index: 2; }

.slider-property .img {
  height: 350px; }

.property-section h3 {
  font-size: 1.25em;
  font-weight: 600; }

ul.prop-feat li {
  margin-bottom: 15px; }
  ul.prop-feat li:before {
    content: '\e955';
    font-family: 'icomoon', sans-serif;
    color: #3a7de3;
    font-weight: bold;
    padding-right: 10px; }
  ul.prop-feat li.prop-feat-none {
    color: #8C9397; }
    ul.prop-feat li.prop-feat-none:before {
      content: '\e908';
      color: #8C9397; }

.prop-photo {
  height: 125px;
  background-size: cover;
  margin-bottom: 15px; }

.more-photos {
  position: relative; }
  .more-photos .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0; }
    .more-photos .bg a {
      font-size: 1.5rem;
      color: #fff;
      font-weight: 600; }
      .more-photos .bg a:hover, .more-photos .bg a:focus {
        color: #fff; }
  .more-photos:hover .bg {
    opacity: 1; }

.prop-video .player {
  max-width: 100% !important; }

.share-report {
  border-top: 1px solid #e7e7e7;
  font-weight: bold; }
  .share-report a {
    color: #35393b; }
    .share-report a:hover, .share-report a:focus {
      color: #35393b; }
  .share-report .share {
    text-transform: uppercase; }
    .share-report .share a {
      font-size: 1.2rem; }
  .share-report .report span {
    font-size: 1.2rem; }

.rate .stars {
  font-size: 1.5rem;
  color: #3a7de3; }

.rate .text {
  font-size: 0.8rem; }

.rate.leave-rate .stars {
  cursor: pointer; }

.review {
  border-bottom: 1px solid #e7e7e7; }

.review-head .review-name {
  font-size: 1.2rem; }

.review-head .review-date {
  font-size: 0.8rem; }

.similar-item {
  border-top: 1px solid #e7e7e7;
  line-height: 1.2rem; }
  .similar-item .img {
    width: 65px;
    height: 55px;
    margin-right: 15px; }
    .similar-item .img img {
      width: 100%; }
  .similar-item .info {
    font-size: 0.8rem; }
    .similar-item .info .address {
      font-size: 0.7rem; }
    .similar-item .info a {
      color: #35393b; }
      .similar-item .info a:hover, .similar-item .info a:focus {
        color: #35393b; }

.prop-price h2 {
  font-size: 1.8em; }

.prop-price h5 {
  font-size: 0.9em; }

.property-add {
  border-radius: 4px;
  border: 1px solid #e7e7e7; }

.slick-prev:before,
.slick-next:before {
  color: #fff; }

.slick-prev {
  left: 10%; }

.slick-next {
  right: 10%; }

ul.history-switch {
  border-bottom: 1px solid #8C9397; }
  ul.history-switch li {
    display: inline-block;
    padding-right: 30px; }
    ul.history-switch li a {
      color: #35393b;
      border-bottom: 2px solid transparent;
      padding: 0 0 10px;
      display: block;
      font-size: 1.2rem; }
      ul.history-switch li a:hover, ul.history-switch li a:focus {
        color: #ea7713;
        text-decoration: none; }
      ul.history-switch li a .badge {
        background-color: #4fcc8d; }
      ul.history-switch li a.active {
        color: #ea7713;
        border-bottom: 2px solid #3a7de3; }

.params-header {
  border-top: 1px solid #8C9397;
  border-bottom: 1px solid #8C9397;
  position: relative;
  display: block;
  cursor: pointer;
  padding: 15px 40px 15px 0;
  margin-top: -1px; }
  .params-header:after {
    content: "";
    position: absolute;
    top: 30%;
    height: 14px;
    width: 14px;
    display: block;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 2px solid #8C9397;
    border-right: 2px solid #8C9397;
    right: 15px; }
    .params-header:after[aria-expanded="true"]:after {
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
      top: 50%; }
  .params-header .bedroom-title {
    padding-left: 10px; }
    .params-header .bedroom-title span {
      color: #8C9397;
      padding-left: 10px; }

.params-content {
  padding: 20px 0 30px; }

.bedroom-group .params-header[aria-expanded="true"] {
  background-color: #e7e7e7; }
  .bedroom-group .params-header[aria-expanded="true"].bedroom-title span {
    display: none; }

.flat-item {
  border-top: 1px solid #e7e7e7;
  padding: 10px 0;
  height: 50px;
  line-height: 30px;
  display: flex;
  font-size: 14px; }
  .flat-item > div {
    width: 20%;
    overflow: hidden; }
    .flat-item > div.flat-title {
      width: 60%; }
    .flat-item > div.flat-square, .flat-item > div.flat-photos {
      width: 10%; }

.flat-marker {
  padding-left: 15px;
  position: relative; }
  .flat-marker:before {
    content: '';
    border-radius: 5px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 0;
    height: 10px;
    width: 10px; }
  .flat-marker.red-mark:before {
    background-color: #f45040; }
  .flat-marker.yellow-mark:before {
    background-color: #ea7713; }
  .flat-marker.green-mark:before {
    background-color: #4fcc8d; }
  .flat-marker.blue-mark:before {
    background-color: #3a7de3; }
  .flat-marker.gray-mark:before {
    background-color: #8C9397; }

.property-map {
  height: 350px; }

.prop-video {
  padding-bottom: 56.25%; }
  .prop-video iframe,
  .prop-video object,
  .prop-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/****************CALCULATOR***************/
.calculator-modal {
  position: absolute;
  left: auto;
  bottom: 70px;
  opacity: 0;
  transition: transform 0.1s ease-in-out 0s, -webkit-transform 0.1s ease-in-out 0s, -ms-transform 0.1s ease-in-out 0s, opacity 0.1s ease-in-out 0s;
  right: 0;
  width: 460px;
  background-color: #fff;
  font-size: 14px;
  padding-bottom: 20px;
  border: 1px solid #aaa;
  box-shadow: 0 0 2px #444;
  z-index: 999;
  -webkit-transform: scale(0.01) translate3d(20px, 0, 0);
  transform: scale(0.01) translate3d(20px, 0, 0); }
  .calculator-modal.open {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1; }

@media screen and (max-width: 576px) {
  .calculator-form {
    width: 100%; } }

.calculator-form .input-group-addon {
  padding: 5px;
  font-size: 16px;
  border: none;
  line-height: 28px;
  background-color: #fff; }

.calculator-form .input-group {
  border: 1px solid #b2b2b2; }
  .calculator-form .input-group .form-control {
    border: none; }

.calculator-form .form-control:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.calculator-form select {
  width: 100%; }

.fff:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.calc-sum {
  padding: 10px 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5; }

.calc-warning {
  color: #999;
  font-size: 12px;
  padding: 5px 0 10px; }

.calc-preq {
  padding: 20px;
  background-color: #cdf2db; }
  .calc-preq p {
    margin-bottom: 15px;
    padding: 0; }

.calculator-padding {
  padding: 20px 20px 0; }

.mortgage-price {
  font-size: 1.4rem; }

/*****************************************/
