.text-left {
     text-align: right;
 }

.text-right {
    text-align: left;
}

input[type="radio"] + label::before,
input[type="radio"]:checked + label::before {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    direction: ltr;
}

.rtl .sub-menu-container {
    padding: 0 85px 0 15px;
}

.rtl .block-top-ava {
    margin-right: 0;
    margin-left: 5px;
}

.rtl nav.top-menu .nav-tabs > li {
    float: right;
}

.rtl nav.top-menu .nav-tabs > li > a {
    padding: 0 0 0 35px;
}

.rtl .nav-head-profile a.close-nav-head-profile {
    right: auto;
    left: 10px;
}

.rtl .nav-head-profile ul li {
    padding: 0 23px 0 0;
}

.rtl .nav-head-profile ul li i {
    right: 0;
    left: auto;
    padding: 0 2px 0 0;
}

.rtl .btn-profile i.fa {
    right: auto;
    left: 0;
}

.rtl i.regional {
    margin-right: 0;
    margin-left: 5px;
}

.rtl .right-top-item i.fa {
    margin-right: 0;
    margin-left: 5px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.rtl .header-username {
    margin: 0 6px 0 0;
}

.rtl .right-top-item {
    padding: 0 0 0 20px;
}

.rtl .number.text-right{
    text-align: right;
}

.rtl .moz-left {
    padding-left: 0;
    padding-right: 90px;
}

.rtl .moz-right {
    padding-right: 0;
    padding-left: 90px;
}

.rtl .moz-item .fa {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

@media screen and (max-width: 768px) {
    .rtl .moz-right, .rtl .moz-left {
        padding: 0 15px;
    }
}

/*для каталога*/
.rtl .catalog-right {
    left: 0;
    right: auto;
    padding-right: 20px;
    padding-left: 0;
}

.rtl .page-with-aside .fixed-top {
    padding-right: 100px;
    padding-left: 20px;
}

.rtl aside {
    left: auto;
    right: 0;
}

.rtl .agent-list-arrow {
    right: auto;
    left: -4px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.rtl .aside-icon {
    right: 0;
    left: auto;
}

.rtl .open-title {
    right: 60px;
    left: 0;
}

.rtl .page-with-aside, .rtl .page-with-aside .filters, .rtl footer {
    padding-right: 70px;
    padding-left: 0;
}

.rtl .search .input-group-addon {
    border-left: 1px solid #CCC;
    padding: 0 0 0 5px;
}

.rtl .search input {
    border-left: none;
    border-right: 1px solid #CCC;
}

.rtl .filter-name::after {
    right: auto;
    left: 10px;
}

.rtl .filter-name {
    padding: 0 10px 0 25px;
}

.rtl .filter-box {
    left: auto;
}

/**************/

/***property***/
.fi-icon {
    margin: 0;
    margin-left: 15px;
}
/**************/

/*****agent****/
.rtl .agent-list-photo img {
    margin-right: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(50%);
}

.rtl .agent-main-right {
    padding-right: 30px;
    padding-left: 0;
}

.rtl .home-addr {
    padding-left: 0;
    padding-right: 10px;
}

.rtl .agent-opt {
    padding-right: 15px;
    padding-left: 0;
}
/**************/



/****mobile****/
.rtl .content-open {
    -webkit-transform: translate3d(-80%, 0, 0);
    -moz-transform: translate3d(-80%, 0, 0);
    -ms-transform: translate3d(-80%, 0, 0);
    -o-transform: translate3d(-80%, 0, 0);
    transform: translate3d(-80%, 0, 0);
}

.rtl .mobile-menu{
    left: auto;
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.rtl .mobile-menu.open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0%, 0, 0);
}

@media screen and (max-width: 768px) {
    .rtl .page-with-aside,
    .rtl .page-with-aside .fixed-top,
    .rtl .page-with-aside .filters, .rtl footer {
        padding-right: 0;
    }
}
/**************/

/****profile***/
.rtl .affix {
    padding-right: 0;
    padding-left: 20px;
}

.rtl .progress-percent {
    margin-left: 40px;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 0;
}

.rtl .progress-percent::after {
    right: auto;
    left: 0;
}

.rtl .good-mark, .rtl .progress-error {
    right: auto;
    left: 15px;
}

/**************/

/***fancybox***/
.rtl .fancybox-advanced .fancybox-caption {
    direction: rtl;
}

.rtl .fancybox-advanced .fancybox-toolbar {
    right: 0;
    left: 350px;
    width: calc(100% - 350px);
    direction: rtl;
}

.rtl .fancybox-advanced .fancybox-caption {
    left: 0;
    right: auto;
}

.rtl .fancybox-advanced .fancybox-stage {
    right: 0;
    left: 350px;
}

.rtl .fancybox-advanced .fancybox-thumbs {
    left: 350px;
    right: 0;
}

.rtl .fancybox-advanced .fancybox-navigation .fancybox-button--arrow_left {
    right: auto;
    left: 360px;
}

.rtl .fancybox-advanced .fancybox-navigation .fancybox-button--arrow_right {
    right: 10px;
    left: auto;
}

.rtl .fancybox-advanced .fancybox-infobar {
    left: calc(50% + 350px / 2);
    right: 0;
}

@media screen and (max-width: 768px) {
    .rtl .fancybox-advanced .fancybox-stage {
        left: 0;
    }

    .rtl .fancybox-advanced .fancybox-navigation .fancybox-button--arrow_left {
        right: auto;
        left: 10px;
    }
}
/**************/