.page-wrap {
    padding: 30px;
}
.page-wrap h1{
    font-size: 28px;
    margin-top: 0;
}

.agent-item {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.agent-item a:hover,
.agent-item a:focus {
    text-decoration: none;
}

.agent-list-info {
    display: inline-flex;
    align-items: center;
    width: 31%;
    padding: 0 0 10px 0;
}

.agent-list-photo {
    border: 1px solid #ccc;
    overflow: hidden;
    min-height: 120px;
    min-width: 120px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.agent-list-photo img {
    display: block;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.agent-opt {
    padding-left: 15px;
}

.agent-list-name {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 15px;
}

.agent-list-phone {
    padding-bottom: 3px;
}

.agent-list-count {
    position: relative;
    z-index: 2;
    font-size: 12px;
    line-height: 1.5;
}

.map-sale-over {
    width: 31%;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}

.map-sale {
    width: 265px;
    display: block;
    margin: 0 auto;
}

.agent-map-block {
    position: relative;
    height: 110px;
    width: 100%;
}

.agent-map-img {
    display: block;
    height: 100%;
    width: 100%;
    background-position: left, center;
    background-repeat: no-repeat;
}

.trapezoid {
    position: absolute;
    top: 0;
    left: 0;
    height: 110px;
    min-width: 135px;
    background-color: rgba(98, 174, 247, .9);
    z-index: 2;
    padding: 10px 0 0 10px;
}

.trapezoid:after, .trapezoid:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
}

.trapezoid:before {
    border-right-color: rgba(98, 174, 247, .9);
    border-bottom-width: 30px;
    border-top-width: 30px;
}

.trapezoid:after {
    border-left: 1em solid rgba(98, 174, 247, .9);
    border-bottom: 110px solid transparent;
    border-top-width: 200px;
    right: -1em;
}

.trapezoid p {
    color: #fff;
}

.agent-list-company {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 700;
}

.agent-list-review {
    width: calc(38% - 50px);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.table-review {
    display: table;
    vertical-align: middle;
}

.cell-review {
    display: table-cell;
}

.agent-list-date {
    position: relative;
    z-index: 2;
    font-weight: 700;
    display: inline-block;
    font-size: 13px;
}

.agent-list-review p {
    max-height: 400px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.agent-list-arrow {
    width: 50px;
    position: absolute;
    top: 0;
    right: -4px;
    height: 100%;
}

.agent-list-arrow a {
    z-index: 2;
    color: #3E414E;
    display: inline-block;
    height: 1em;
    line-height: 1;
    width: 1em;
    font-size: 40px;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.agent-list-arrow a:hover,
.agent-list-arrow a:focus {
    text-decoration: none;
}

.go-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.agent-list-review .go-page {
    z-index: 1;
}

.city-top {
    font-size: 13px;
    color: #aaa;
}

.agent-filter {
    margin: 30px 0;
    height: 50px;
    background-color: #effbea;
}

.agent-filter-block {
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #fff;
    padding: 8px;
}

.agent-filter-block label {
    font-weight: bold;
    position: absolute;
    top: -25px;
}

.agent-top > div {
    font-weight: bold;
}

.agent-list-descr {
    padding-bottom: 30px;
}

.agent-list-descr p {
    font-size: 13px;
}

.agent-top {
    display: flex;
}

@media screen and (max-width: 992px) {
    .agent-list-review, .agent-list-arrow {
        display: none;
    }

    .agent-list-info, .map-sale-over {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .agent-list-info, .map-sale-over {
        width: 100%;
    }

    .agent-filter-block {
        width: 49%;
        border-right: none;
    }

    .agent-filter {
        margin: 50px -10px 30px;
    }
}

/*********Agent Profile********/

.agent-profile-content {
    padding: 20px;
}

.agent-main-info {
    display: flex;
    justify-content: flex-start;
}

.agent-ph {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ccc;
}

.agent-ph img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.ph-big {
    height: 160px;
    width: 160px;
    min-width: 160px;
}

.ph-middle {
    width: 90px;
    height: 90px;
}

.agent-main-right {
    padding-left: 30px;
}

.agent-main-right h1 {
    margin: 0;
    font-size: 36px;
}

.agent-main-right .agent-status {
    display: inline-block;
    vertical-align: middle;
}

.agent-activity {
    border-left: 5px #aaa solid;
    padding: 10px 10px 0;
    background-color: #effbea;
    display: inline-block;
}

.agent-activity > div {
    padding-bottom: 10px;
    line-height: 1em;
}

.agent-activity-rate i {
    font-size: 30px;
    color: #03c04a;
}

.rate-number {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    line-height: 1em;
    margin-right: 10px;
}

.rate-number span {
    font-size: 14px;
    color: #aaa;
    font-weight: normal;
}

.our-members {
    margin: 15px 0 30px;
}

.our-members .agent-ph {
    display: inline-block;
}

.agent-members {
    display: flex;
}

.agent-member {
    width: 20%;
    padding: 0 10px;
}

.agent-member a:hover {
    text-decoration: none;
}

.agent-member-rate {
    font-size: 14px;
    margin: 10px 0 5px;
    display: block;
}

.agent-member-rate .fa-star {
    color: #03c04a;
}

.agent-member-name {
    color: #3E414E;
}

.agent-sub-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

.our-sales-map {
    height: 325px;
    width: 100%;
}

.homes-list {
    margin-bottom: 60px;
}

.homes-list-count {
    vertical-align: top;
    line-height: 2.4;
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
}

.homes-table {
    display: table;
    width: 100%;
}

.homes-row {
    display: table-row;
}

.homes-row:first-child {
    color: #aaa;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}

.homes-title, .homes-opts {
    display: table-cell;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
}

.homes-opts {
    white-space: nowrap;
}

.homes-img {
    min-width: 100px;
    width: 100px;
    height: 80px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.homes-img img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.home-addr {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    align-self: center;
}

.review-list .btn {
    align-self: center;
}

.reviews-filter {
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
}

.reviews-filter select {
    width: 100%;
}

.review-item {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.review-text-info {
    color: #aaa;
    font-size: 13px;
    line-height: 1.5;
}

.review-components {
    margin: 15px 0;
}

.review-component-item {
    width: 100%;
}

.review-component-title {
    display: inline-block;
    vertical-align: middle;
}

.review-component-title .agent-rate {
    color: #03c04a;;
}

.review-item h3 .agent-rate {
    font-size: 25px;
    color: #03c04a;
}

.review-text p {
    margin: 0;
    padding: 0;
}

.aside-profile-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}

.prof-table {
}

.prof-row {
    display: flex;
}

.prof-property {
    width: 40%;
}

.prof-descr {
    width: 60%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-left: 10px;
}

.agent-description,
.premier-lenders,
.our-sales,
.service-areas {
    margin-bottom: 50px;
}

.bold-h2 {
    display: inline-block;
}

.service-areas a{
    display: block;
}

.service-areas-row {
    margin-bottom: 30px;
}

.contact-link{
    width: 100%;
    display: none;
}

.contact-link a{
    display: block;
}

@media screen and (max-width: 1400px) {
    .agent-list-info {
        width: 40%;
    }

    .agent-list-review {
        width: 29%;
    }
}

@media screen and (max-width: 768px) {
    .page-wrap {
        padding: 10px;
    }

    .homes-img {
        width: 50px;
        min-width: 50px;
        height: 40px;
    }

    .homes-opts.bath {
        display: none;
    }

    .homes-title, .homes-opts {
        border-bottom: none;
        display: inline-block;
    }

    .homes-row {
        border-bottom: 1px solid #ccc;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .homes-title, .sold-date {
        width: 66%;
    }

    .represented, .price {
        width: 33%;
    }

    .sold-date {
        padding-left: 70px;
    }

    .homes-sold .homes-header .sold-date,
    .homes-sold .homes-header .price {
        display: none;
    }

    .homes-sold .sold-date,
    .homes-sold .price {
        padding-top: 0;
    }

}

@media screen and (max-width: 600px) {
    .agent-main-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .agent-main-right {
        padding-left: 0;
        width: 100%;
    }

    .agent-activity {
        border-left: none;
        width: 100%;
        margin: 10px 0;
    }

    .agent-members {
        flex-wrap: wrap;
    }

    .agent-member {
        width: 33%;
    }

    .review-header{
        flex-wrap: wrap;
    }

    .review-header .btn{
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-link{
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .agent-member {
        width: 50%;
    }

    .homes-sold .homes-header > div {
        display: none;
    }
}

/******************************/