.auth-modal-title {
    font: normal 23px/26px "HelveticaNeueCyrRoman", Helvetica, Arial, sans-serif;
    color: #0e0e0f;
    text-transform: uppercase;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 700;
}

.auth-modal-subtitle {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    padding-bottom: 5px;
}

.auth-modal-error {
    font-weight: 700;
    color: #ff4d4d;
    padding: 5px 0;
    display: block;
    font-size: 11px;
}

.auth-modal-or-line {
    border-bottom: 1px solid #ddd;
    height: 8px;
}

.auth-modal-or-text {
    font-size: 14px;
    line-height: 16px;
    padding: 0 10px;
    display: inline-block;
    background: #fff;
}

.auth-modal-warning {
    padding: 10px;
    font-size: 13px;
}

.auth-modal {
    margin: 140px auto;
}

.auth-modal-socials {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.auth-modal-socials a {
    width: 30%;
    color: #fff;
    font-size: 28px;
    line-height: 45px;
    height: 45px;
    border-radius: 3px;
}

.auth-modal-socials a.auth-modal-facebook {
    background-color: #3b5998;
}

.auth-modal-socials a.auth-modal-google {
    background-color: #dd4b39;
}

.auth-modal-bottom {
    background-color: #effbea;
    display: block;
    font-size: 14px;
    line-height: 17px;
    margin: 0 -50px -50px;
    padding: 10px 20px 13px;
    border-top: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    color: #555;
}

.forgot {
    font-size: 15px;
    line-height: 25px;
}

@media (min-width: 768px) {
    .modal-sm {
        width: 380px;
    }
}

@media (max-width: 768px) {
    .auth-modal {
        margin: 5px auto;
    }
}