.page-with-aside,
.page-with-aside .filters, footer {
    padding-left: 70px;
}

.page-with-aside .fixed-top {
    padding-left: 100px;
}

.catalog-wrap {
    padding-top: 50px;
}

.catalog-wrap h1 {
    padding: 0 20px;
    font-size: 20px;
}

aside {
    z-index: 1014;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #3e414e;
    width: 70px;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
}

.aside-burger {
    display: block;
    position: absolute;
    top: 0;
    left: 70px;
    width: 50px;
    line-height: 50px;
    font-size: 30px;
    background-color: #fff;
    color: #3E414E;
    cursor: pointer;
    -webkit-transition: left .2s linear;
    transition: left .2s linear;
    z-index: 1019;
}

.aside-burger.open {
    left: 200px;
}

.aside-burger:hover {
    background-color: #effbea;
}

ul.aside-menu li a {
    display: block;
    line-height: 45px;
    height: 45px;
    width: auto;
    position: relative;
    background-color: #3e414e;
    overflow: hidden;
}

ul.aside-menu li a.home {
    height: 50px;
    background-color: #e33989;
}

.aside-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    width: 70px;
    color: #fff;
    opacity: 1;
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
}

/*
ul.aside-menu li a:not(.home):hover .aside-icon {
    top: -45px;
}

.hover-title {
    width: 100%;
    color: #fff;
    font-size: 12px;
    line-height: 45px;
    left: -70px;
    top: 0;
    position: absolute;
    display: block;
    text-decoration: none;
    background-color: #e33989;
    -webkit-transition: left 0.2s linear 0s, opacity 0.01s linear;
    transition: left 0.2s linear 0s, opacity 0.01s linear;
    text-align: center;
    opacity: 0;
}

ul.aside-menu li a:hover .hover-title {
    left: 0;
    opacity: 1;
}*/

.hover-title {
    display: none;
}

.open-title {
    width: 0;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    display: block;
    height: 100%;
    color: #fff;
    position: absolute;
    top: 0;
    left: 60px;
    overflow: hidden;
}

aside.open .hover-title {
    display: none;
}

aside.open ul.aside-menu li a .hover-title {
    left: -70px;
}

/*
aside.open ul.aside-menu li a:not(.home):hover .aside-icon {
    top: 0;
}
*/
aside.open ul.aside-menu li a:not(.home):hover {
    background-color: #e33989;
}

aside.open {
    width: 200px;
}

aside.open .open-title {
    width: 140px;
}

.catalog-right {
    position: fixed;
    top: 100px;
    bottom: 0;
    right: 0;
    padding-left: 20px;
}

.map-catalog.catalog-right {
    padding-left: 45px;
}

.filters {
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
    background-color: #effbea;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1001;
}

.filter-search {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    padding: 5px 10px;
    border-right: 1px solid #fff;
    position: relative;
}

.district-form {
    position: absolute;
    top: 50px;
    left: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
}

.district-inner {
    padding: 14px 11px;
}

.district-inner p {
    font-size: 14px;
}

.district-tag {
    background-color: #d9d9d9;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}

.district-tag i {
    color: #999;
    font-size: 8px;
}

.district-open {
    padding: 5px 0;
    border-top: 1px solid #ccc;
}

.district-open a {
    color: #0e0e0e;
    width: 100%;
    padding: 10px 11px;
}

.district-open a i {
    color: #999;
    font-size: 12px;
    align-self: flex-end;
    padding-bottom: 2px;
}

.district-open a:hover,
.district-open a:focus {
    text-decoration: none;
    background-color: #eee;
}

.clear-district {
    margin-left: 10px;
}

.map-marker-left img {
    max-height: 48px;
    max-width: 100%;
    width: auto;
}

.map-marker-data {
    color: #000;
    font-weight: bold;
    padding: 0 5px;
    font-size: 12px;
}

.map-over .google-map-search {
    margin: 10px;
    width: 50%;
    height: 40px;
}

.google-map-marker {
    /*padding: 2px 4px;*/
}

.google-map-marker-sub {
    margin-left: -50%;
    position: relative;
    margin-top: -50px;
    width: 100%;
    z-index: 1;
    cursor: pointer;
}

.google-map-marker-sub div {
    padding: 3px 10px;
    text-align: center;
}

.google-map-marker img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.search {
    width: 100%;
    position: relative;
    z-index: 2;
}

.search input {
    height: 40px;
    line-height: 40px;
    border-right: none;
}

.search input:focus {
    box-shadow: none;
    border-color: #ccc;
}

.search .input-group-addon {
    background-color: #fff;
    border-radius: 0;
    color: #e33989;
    padding: 0 5px 0 0;
    font-size: 28px;
    border-left: none;
    line-height: 1px;
}

.search a.input-group-addon:hover,
.search a.input-group-addon:focus {
    text-decoration: none;
}

.catalog-sort-wrap {
    margin: 20px 0 10px 0;
    padding: 0 10px;
}

.filter-item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-right: 1px solid #fff;
}

.filter-name {
    line-height: 50px;
    cursor: pointer;
    padding: 0 25px 0 10px;
}

.filter-name:hover {
    color: #e33989;
}

.filter-item.open .filter-name {
    color: #337ab7;
}

.filter-types-icons, .filter-type-name {
    display: inline-block;
    vertical-align: middle;
}

.filter-name:after {
    content: '\e904';
    font-family: 'icomoon', serif;
    position: absolute;
    right: 10px;
    top: 0;
    line-height: 56px;
    font-size: 10px;
}

.filter-item.open .filter-name:after {
    transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
}

.filter-circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1px;
    margin-bottom: 3px;
}

.filter-circle-red {
    background-color: #c00;
}

.filter-circle-blue {
    background-color: #1b5098;
}

.filter-circle-magenta {
    background-color: darkmagenta;
}

.filter-circle-yellow {
    background-color: #da0;
}

.filter-circle-none {
    display: none;
}

.filter-box {
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    z-index: 3;
}

.filter-box-rtl {
    right: 0;
}

.filter-list i {
    font-size: 25px;
    line-height: 20px;
}

.filter-item.open .filter-box {
    display: block;
}

.filter-type-group {
    padding: 0 15px 15px 15px;
}

.filter-type-group:first-child {
    padding-top: 10px;
}

.filter-types .filter-footer {
    padding: 0 15px;
}

.filter-sub-types {
    padding-left: 15px;
    display: none;
}

.filter-type-group.active .filter-sub-types {
    display: block;
}

.filter-type-group-name, .filter-sub-type {
    white-space: nowrap;
}

.filter-type-group-name {
    font-weight: 600;
}

.filter-footer {
    border-top: 1px solid #ccc;
    padding: 10px 15px 15px 15px;
}

.filter-prices .filter-box {
    width: 275px;
}

.filter-price-diapason {
    line-height: 30px;
    padding: 10px;
}

.filter-choose {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    cursor: pointer;
}

.filter-column-left {
    display: block;
    border-top: 1px solid #ccc;
}

.filter-column-right {
    display: none;
    border-top: 1px solid #ccc;
}

.filter-choose.active {
    background-color: #e33989;
    color: #fff;
    font-weight: 700;
}

.filter-choose:hover {
    background-color: #1b5098;
    color: #fff;
}

.filter-more .filter-box {
    width: 440px;
    padding: 10px;
}

.filter-switch {
    padding: 17px 15px 13px;
    font-size: 20px;
    line-height: 20px;
}

.filter-switch .switch-items {
    color: #3E414E;
}

.filter-switch.active,
.switch-items.active {
    color: #337ab7;
}

.filter-switch .icon-gps {
    font-size: 22px;
}

.switch-items:hover,
.switch-items:focus {
    color: #e33989;
    text-decoration: none;
}

.filter-home .filter-box {
    min-width: 180px;
    padding: 10px;
}

.map-over {
    height: 100%;
    min-height: 100%;
}

#map_catalog {
    height: 100%;
}

.home-list {
    padding: 10px 20px 0;
}

.dash {
    padding: 0 5px;
    line-height: 35px;
}

.two-param input {
    width: 48%;
}

.params-filter {
    background-color: #f3f3f3;
    display: none;
    overflow: hidden;
    margin-top: 50px;
}

.params-filter-content {
    padding: 20px 10px 10px;
}

.params-filter select {
    border-radius: 3px;
    width: 100%;
    height: 35px;
}

.params-filter.open {
}

ul.object-status-switcher {
    margin: 0 20px;
}

.table-houses {
    overflow-x: auto;
    max-width: calc(100% - 40px);
    margin: 20px;
    border: 1px solid #ccc;
}

.table-houses a:hover,
.table-houses a:focus {
    text-decoration: none;
}

.table-houses table {
    width: 100%;
    border-collapse: collapse;
}

.table-houses td {
    padding: 5px;
    background-color: #effbea;
    color: #3E414E;
    font-size: 15px;
    border: 2px solid #fff;
    cursor: default;
}

.table-houses th {
    background: #effbea;
    font-weight: bold;
    color: #c42020;
    padding: 5px 15px 5px 5px;
    position: relative;
    white-space: nowrap;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 14px;
}

.table-houses th:after {
    font-family: 'FontAwesome', serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 5px;
    display: none;
}

.table-houses th.up:after {
    content: '\f0d7';
}

.table-houses th.down:after {
    content: '\f0d8';
}

.table-houses th.active:after {
    display: block;
}

.table-houses tr.check td,
.table-houses tr:hover td {
    background: #effbea linear-gradient(to top, #effbea, #effbea);
    color: #e33989;
}

.table-houses th.active {
    background: #ffacac linear-gradient(to top, #ffacac, #fff);
}

.table-houses .chover label {
    margin: 0;
}

.building-stickers {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    right: 10px;
}

.sticker {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.sticker.purple .stick-text {
    color: #a163f5;
}

.sticker.green .stick-text {
    color: #acf9db;
}

.sticker.yellow .stick-text {
    color: #fdfaa2;
}

.stick-img {
    width: 30px;
    height: 30px;
}

.stick-img img {
    width: 100%;
}

.sticker.active .stick-text {
    opacity: 1;
}

.stick-text {
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 0;
    color: #d3359b;
    background: rgba(255, 255, 255, 0.6);
    padding: 7px 20px;
    border-radius: 4px;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    z-index: 5;
    font-weight: bold;
}

.stick-text::before, .stick-text::after {
    content: '';
    position: absolute;
    left: 20px;
    top: -20px;
    border: 20px solid transparent;
    border-bottom: 0;
    z-index: 6;
}

.stick-text::before {
    /*border-left: 40px solid #d3359b;*/
}

.stick-text::after {
    top: -20px;
    border-left: 40px solid rgba(255, 255, 255, 0.6);
    left: 22px;
}

.col-district {
    -webkit-columns: 200px auto;
    columns: 200px auto;
    vertical-align: top;
    -webkit-column-gap: 50px;
    column-gap: 50px;
}

@media screen and (max-width: 1200px) {
    .filter-more .filter-box {
        right: 0;
        left: inherit;
    }
}

@media screen and (max-width: 992px) {
    .filter-search {
        width: 100%;
        border: 1px solid #fff;
    }

    .sub-menu-col {
        width: 50%;
    }

    .home-list {
        padding: 10px 10px 0;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .sub-menu {
        display: none;
    }

    .filter-item {
        border: 1px solid #fff;
        width: 100%;
    }

    .filter-box {
        width: 100% !important;
    }

    .catalog-right {
        display: none;
    }

    .page-with-aside,
    .page-with-aside .fixed-top,
    .page-with-aside .filters, footer {
        padding-left: 0;
    }

    .all-content {
        padding-top: 0;
    }

    .filters {
        position: relative;
        top: 0;
    }

    .aside-burger {
        display: none;
    }

    .catalog-wrap {
        padding-top: 0;
    }

    .params-filter {
        margin-top: 0;
    }
}