.element-item {
    width: 100%;
    vertical-align: middle;
    display: block;
    position: relative;
}

.element-item:not(:last-child) {
    border-bottom: 1px solid #d2d6de;
}

.element-preview {
    width: 100%;
    height: 40px;
    display: block;
}

.element-form {
    display: none;
}

.element-form .submit-button {
    margin-left: 10px;
}

.element-preview .element-image {
    width: 100px;
    max-height: 100px;
    margin: auto;
    display: inline-block;
}

.element-preview .element-price, .element-preview .element-actions, .element-preview .element-name {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    line-height: 40px;
    margin-left: 10px;
}

.element-preview .element-price, .element-preview .element-name {
    font-size: 20px;
}

.element-preview .element-actions {
    font-size: 22px;
}

.element-preview .element-actions i {
    margin-left: 5px;
    cursor: pointer;
}

.element-preview.category-preview {
    height: 50px;
}

.element-preview.category-preview .element-price, .element-preview.category-preview .element-actions, .element-preview.category-preview .element-name {
    line-height: 50px;
}

.element-children {
    padding-left: 25px;
}

.element-children .box, .wizard-options.box {
    border-left: 3px solid #d2d6de;
}

.element-children .box.box-danger, .wizard-options.box.box-danger {
    border-left-color: #dd4b39;
}

.element-children .box.box-warning {
    border-left-color: #f39c12;
}

.element-children .box.box-success {
    border-left-color: #00a65a;
}