.selectize-control.multi .selectize-input > div {
    margin: 0 2px;
}

.selectize-input-container .selectize-input,
.selectize-control.multi .selectize-input.has-items{
    min-height: 35px;
    padding: 4px;
    max-height: initial;
}

.selectize-input-container .selectize-control.single .selectize-input {
    background: #fff;
    box-shadow: none;
}

.selectize-input-container .selectize-input.full {
    background: #fff;
}

.selectize-input-container .selectize-input.not-full {
    max-height: 35px;
}

.selectize-input-container .selectize-input input {
    height: 25px;
    position: relative;
    left: 0;
    width: auto !important;
}
.selectize-input-container .selectize-input.not-full input {
    width: 100% !important;
}

.selectize-input-container .selectize-input.full input {
    width: 4px !important;
}

/*.selectize-input-container .selectize-input.not-full.focus input {*/
    /*width: auto !important;*/
/*}*/

.selectize-input-container .maxed input {
    width: 100% !important;
}

.selectize-dropdown-content .custom-selectize-option{

}
.selectize-dropdown-content .custom-selectize-option img{
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.custom-selectize-item img{
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.selectize-dropdown.drop-up{
    top: auto !important;
    bottom: 50px !important;
    border: 1px solid #d0d0d0  !important;
    border-radius: 3px 3px 0 0  !important;
}