.page-wrap {
    padding: 30px;
}

ul.menu-forum {

}

ul.menu-forum li {
    margin-bottom: 10px;
}

ul.menu-forum li a {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    border-bottom: 2px solid transparent;
    letter-spacing: 1px;
    position: relative;
}

ul.menu-forum li a:hover,
ul.menu-forum li a:focus {
    color: #e33989;
    text-decoration: none;
}

ul.menu-forum li.active > a {
    border-bottom: 2px solid #e33989;
}

ul.menu-forum li ul {
    padding-left: 20px;
    margin-top: 10px;
    display: none;
}

ul.menu-forum li.active ul {
    display: block;
}

ul.menu-forum li ul li a {
    text-transform: none;
    letter-spacing: normal;
}

.plus-question:before {
    content: '+';
    position: absolute;
    top: -2px;
    left: -14px;
    font-size: 16px;
    line-height: 20px;
}

.related-post {
    display: block;
    border-bottom: 1px dotted #CCCCCC;
    margin: 0 0 6px 0;
    padding: 6px 0;
}

.related-post-img {
    float: left;
    margin: 0 10px 0 0;
    overflow: hidden;
    border: 1px solid #EEEEEE;
    padding: 3px;
    width: 60px;
    height: 60px;
    transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
}

.related-post-img a {
    overflow: hidden;
    display: block;
    height: 100%;
    width: 100%;
}

.related-post-img a img {
    display: block;
    height: 100%;
}

a.related-alias {
    font-size: 15px;
    line-height: 20px;
    color: #00B22D;
    display: block;
}

a.related-alias:visited {
    color: #00B22D;
}

a.related-alias:focus, a.related-alias:hover {
    color: #333333;
    text-decoration: none;
}

.related-post-img:hover {
    opacity: 0.6;
}

.related-post p {
    color: #4c4c4c;
    font-size: 15px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

ul.forum-top-alias li {
    display: inline-block;
    margin-left: 15px;
}

ul.forum-top-alias li a {
    color: #333;
    font-weight: bold;
    font-size: 15px;
}

ul.forum-top-alias li a:hover,
ul.forum-top-alias li a:focus {
    color: #aaa;
    text-decoration: none;
}

.forum-list {
    border-top: 2px solid #333;
}

.form-top {
    margin: 20px 0;
    flex-wrap: wrap;
}

.forum-list-item {
    margin-top: 10px;
    padding-bottom: 25px;
    border-bottom: 1px dotted #aaa;
}

.nav-theme {
    padding: 5px 0;
}

.nav-theme a {
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1px;
    margin-right: 10px;
}

.nav-theme a:first-child {
    color: #e33989;
}

.nav-theme a:hover,
.nav-theme a:focus {
    color: #0e0e0f;
}

.article-title {
    display: block;
    color: #0e0e0f;
    font-size: 23px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.article-title:hover,
.article-title:focus {
    color: #e33989;
    text-decoration: none;
}

.article-author {
    margin-bottom: 10px;
}

.article-author-avatar {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

.article-author-avatar img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.article-author-info {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.33;
    display: inline-block;
    vertical-align: middle;
    color: #0e0e0f;
}

.author-top-block {
    flex-wrap: wrap;
}

.article-info-item {
    color: #aaa;
    font-size: 13px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.article-info-item a:hover,
.article-info-item a:focus {
    text-decoration: none;
}

.navbar.aside-forum {
    width: 100%;
}

.aside-forum .navbar-toggle {
    color: #333;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0;
    margin: 0;
    float: none;
}

.aside-forum .navbar-toggle i {
    font-size: 12px;
}

.nav-head {
    width: 100%;
}

.work-share a {
    display: inline-block;
    vertical-align: top;
    line-height: 35px;
    height: 30px;
    width: 30px;
    color: #fff;
    border-radius: 50%;
    position: relative;
    margin: 0 5px;
}

a.fb {
    background-color: #3D5999;
}

a.tw {
    background-color: #60A9DD;
}

a.g {
    background-color: #CE3F2F;
}

a.in {
    background-color: #0777B6;
}

a.link {
    background-color: #fff;
    border: 1px solid;
    color: #777;
}

.work-share a .fa {
    font-size: 1.4em;
}

.work-share a:hover,
.work-share a:focus {
    text-decoration: none;
    color: #fff;
}

.work-share .social-share, .work-share .email-share, .work-share .link {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
}

.work-share .link i {
    line-height: 40px;
}

.work-share .social-share .fa, .work-share .email-share .fa {
    vertical-align: middle;
}

.question-text {
    margin-top: 25px;
    border-top: 2px #333 solid;
    padding: 15px 0;
}

ul.question-tags {
    padding-bottom: 25px;
    border-bottom: 2px solid #121212;
}

ul.question-tags li {
    display: inline-block;
    vertical-align: middle;
}

ul.question-tags li a {
    margin-right: 15px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
}

ul.question-tags li a:hover,
ul.question-tags li a:focus {
    text-decoration: none;
    color: #333;
}

.question-btns {
    margin-top: 25px;
}

.advices {
    margin-top: 25px;
}

.advice-item {
    margin-bottom: 50px;
}

.advice-top {
    border-bottom: 2px #333 solid;
    padding: 15px 0;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.advice-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 10px;
}

.advice-title span {
    color: #999;
}

.sub-advice:hover,
.sub-advice:focus {
    text-decoration: none;
}

.reply-date {
    color: #aaa;
    font-size: 13px;
    white-space: nowrap;
    line-height: 25px;
}

.article-author-name {
    font-size: 15px;
}

.album-opt {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    color: #ccc;
    font-size: 18px;
}

.album-opt .icon-eye {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2em;
}

.album-opt span {
    padding: 0 10px;
    color: #0e0e0f;
    font-size: 12px;
}

.like-over {
    position: relative;
}

.people-likes {
    position: absolute;
    letter-spacing: -0.32em;
    bottom: calc(100% + 5px);
    right: -30px;
    width: 300px;
    background-color: rgba(56, 56, 56, 0.95);
    color: white;
    text-shadow: 0 -1px 0 black;
    padding: 7px 9px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
    text-indent: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: -22px;
}

.people-likes:before {
    content: '';
    position: absolute;
    background: transparent;
    background-color: transparent;
    border: 8px solid transparent;
    z-index: 1000;
    border-top-color: #383838;
    display: block;
    top: 100%;
    width: 15px;
    right: 55px;
    margin-top: 10px;
}

.people-likes:before, .people-likes {
    position: absolute;
    white-space: normal;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.like-over:hover .people-likes, .like-over:hover .people-likes::before {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.people-likes-title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 0 5px;
    letter-spacing: normal;
}

.people-likes a {
    width: 46px;
    height: 46px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    overflow: hidden;
    border-radius: 50%;
    letter-spacing: normal;
}

.people-likes a img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

.marker-best-advice {
    width: auto;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
    background: #00b22d;
    border-radius: 3px;
    padding: 5px;
    margin-left: 10px;
}

.reply-form {
    padding: 25px;
    background-color: #f4f4f4;
}

.reply-warning {
    position: relative;
    line-height: 1.43;
    padding: 20px 35px 10px 15px;
    border-radius: 3px;
    background-color: #e4e4e4;
    margin: 15px 0;
}

.close-reply-warning {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 30px;
    color: #333;
}

.close-reply-warning:hover,
.close-reply-warning:focus {
    text-decoration: none;
}

@media (max-width: 1200px) {
    .nav-head {
        border-bottom: 1px solid #aaa;
        padding: 10px 0;
    }

    .aside-forum .navbar-toggle {
        display: block;
    }

    .aside-forum .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        padding: 10px 0 0;
    }

    .aside-forum .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .aside-forum .navbar-nav > li {
        float: none;
    }

    .aside-forum .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .aside-forum .collapse.in {
        display: block !important;
    }

    .aside-forum .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (max-width: 600px) {
    .ask, .forum-top-alias {
        width: 100%;
    }

    ul.forum-top-alias {
        margin-top: 15px;
    }

    .article-title {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .page-wrap {
        padding: 30px 20px;
    }

    .reply-form {
        padding: 10px;
    }

    .question-btns {
        flex-wrap: wrap;
    }

    .reply-btn {
        width: 100%;
        margin-bottom: 20px;
    }

    .article-author {
        width: 100%;
    }
}