/*********************************************/

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: block;
    width: 35px;
    height: 55px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    top: 50%;
    margin-top: 0;
    z-index: 999;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
}

.slick-prev:before {
    content: '\e901';
    font-size: 30px;
    font-family: 'icomoon', serif;
    line-height: 1em;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 5px 10px 3px;
    border: 1px solid rgba(255, 255, 255, .7);
}

.slick-prev {
    left: 0;
    transform: translate(50%, -50%);
}

[dir='rtl'] .slick-prev {
    right: -40px;
    left: auto;
}

.slick-next {
    right: 0;
    transform: translate(-50%, -50%);
}

.slick-next:before {
    content: '\e924';
    font-size: 30px;
    font-family: 'icomoon', serif;
    line-height: 1em;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 3px 10px 5px;
    border: 1px solid rgba(255, 255, 255, .7);
}

.slick-prev:hover:before, .slick-next:hover:before,
.slick-prev:focus:before, .slick-next:focus:before {
    color: #e33989;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, .9);
}

/*********************************************/

.home-modal .modal-dialog {
    width: 1024px;
    max-width: 100%;
}

.home-modal .modal-body {
    padding: 0;
}

.home-modal .modal-dialog .modal-header {
    padding: 0;
}

.home-modal-top {
    background: #effbea;
    height: 50px;
    box-shadow: 0 2px 5px 0 rgba(200, 200, 200, .5);
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #444;
    z-index: 2;
}

.blue-menu {

}

.blue-menu li {
    display: inline-block;
    position: relative;
}

.blue-menu li a {
    padding: 0 10px;
    line-height: 50px;
    color: #444;
    display: block;
    border-right: 1px solid #fff;
}

.blue-menu li a:hover,
.blue-menu li a:focus,
.close-modal-home:hover,
.close-modal-home:focus {
    background: #effbea;
    text-decoration: none;
    color: #444;
}

.blue-menu li a.blue-blue-btn {
    color: #fff;
    background: #00b22d;
}

.blue-menu li a.blue-blue-btn:hover, .blue-menu li a.blue-blue-btn:focus {
    background: #33d44f;
}

.blue-sub-menu {
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 0 0 2px #444;
    left: 0;
    min-width: 200px;
    position: absolute;
    top: 100%;
    z-index: 10;
    display: none;
}

.blue-sub-menu li {
    display: block;
}

.blue-sub-menu li a {
    display: block;
    padding: 10px;
    margin: 0;
    font-size: 13px;
    text-transform: none;
    line-height: 1;
    font-weight: normal;
}

.blue-sub-menu li.underline {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.blue-sub-menu li a:hover,
.blue-sub-menu li a:focus {
    background: #e33989;
    color: #fff;
    text-decoration: none;
}

.home-address {
}

.home-address > div {
    border-bottom: 1px solid #ccc;
    padding: 0 20px;
}

.home-address ul {
    padding: 10px 0;
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.home-address ul li {
    color: #aaa;
    display: inline-block;
    margin: 0;
    padding-left: 5px;
}

.home-address ul li:first-child {
    list-style: none;
}

.home-address ul li a {
    color: #aaa;
}

.home-address ul li a:hover,
.home-address ul li a:focus {
    color: #0074e4;
    text-decoration: none;
}

.close-modal-home {
    background-color: transparent;
    border: none;
    height: 50px;
    margin: 0;
    line-height: 50px;
    color: #444;
    font-size: 13px;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: 700;
    border-left: 1px solid #fff;
    cursor: pointer;
}

.close-modal-home span:not(.menu-item-text) {
    font-size: 26px;
    vertical-align: bottom;
}

.modal-slider {
    height: 420px;
    overflow: hidden;
}

.modal-slider .slick-list,
.modal-slider .slick-track,
.modal-slider .slick-slide,
.modal-slider .slick-slide > div,
.modal-slider .modal-slide {
    height: 100%;
}

.modal-slider .modal-slide {
    width: 280px !important;
    overflow: hidden;
    border: 1px solid #fff;
}

.modal-slide.ms-one {
    width: 460px !important;
}

.modal-slide.ms-one img {
    height: 100%;
}

.modal-slide img {
    height: 50%;
    display: block;
    border: 1px solid #fff;
}

/**************************************/
.fancybox-navigation .fancybox-button, .fancybox-toolbar, .fancybox-caption {
    visibility: visible;
    opacity: 1;
}

.fancybox-button {
    background: transparent;
    cursor: pointer;
}

/*
.fancybox-button--fbcontact {
    background: #0074e4;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: .4em .67em;
    text-align: center;
    white-space: normal;
    width: auto;
    line-height: 1.5;
}
*/
.fancybox-button--title {
    width: calc(100% - 50px);
    color: #fff;
    font-size: 22px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    margin: 0;
    max-height: 50px;
    overflow-y: hidden;
}

.fancybox-button--fbcontact:hover,
.fancybox-button--fbcontact:focus {
    background: #0074e4 linear-gradient(to top, #0074e4, #1b5098);
}

.fancybox-button--fbsave:hover,
.fancybox-button--fbsave:focus {
    background: #aaa linear-gradient(to top, #666, #aaa);
}

.fancybox-navigation .fancybox-button--arrow_right {
    right: 10px;
    padding: 10px 5px 10px 3px;
}

.fancybox-navigation .fancybox-button--arrow_left {
    right: 10px;
    padding: 10px 5px 10px 3px;
}

.fancybox-navigation .fancybox-button--arrow_right:before {
    content: '\e924';
}

.fancybox-navigation .fancybox-button--arrow_left:before {
    content: '\e901';
}

.fancybox-navigation .fancybox-button {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, .7);
    width: 35px;
    height: 55px;
    color: #fff;
    transform: translateY(-50%);
}

.fancybox-navigation .fancybox-button:before {
    position: absolute;
    font-size: 30px;
    font-family: 'icomoon', serif;
    margin: -10px 0 0 0;
    line-height: 55px;
}

.fancybox-navigation .fancybox-button svg {
    display: none;
}

.fancybox-navigation .fancybox-button:hover,
.fancybox-navigation .fancybox-button:focus {
    color: #e33989;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, .9);
}

.fancybox-navigation .fancybox-button:hover:before,
.fancybox-navigation .fancybox-button:focus:before {
    margin: -10px 0 0 0;
    line-height: 55px;
}

.fancybox-toolbar {
    right: 0;
    left: 0;
    width: 100%;
    text-align: right;
}

.fancybox-advanced .fancybox-toolbar {
    right: 350px;
    left: 0;
    width: calc(100% - 350px);
}

.fancybox-caption {
    visibility: hidden;
    display: none;
    overflow-y: auto;
}

.fancybox-show-thumbs .fancybox-caption {
    bottom: -95px;
}

.fancybox-advanced .fancybox-caption {
    visibility: visible;
    display: block;
    padding: 15px;
    font-size: 16px;
    /*letter-spacing: 0.03em;*/
    top: 0;
    right: 0;
    left: auto;
    width: 350px;
    background: #fff;
    border: 0;
    pointer-events: all;
    font-family: 'Helvetica', sans-serif;
    color: #333;
}

.fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.fancybox-advanced .fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right: 350px;
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
}

.fancybox-advanced .fancybox-stage {
    right: 350px;
}

.fancybox-infobar {
    color: #fff;
    font-size: 13px;
    left: 50%;
    bottom: 0;
    right: 350px;
    top: auto;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.fancybox-advanced .fancybox-infobar {
    left: calc(50% - 350px / 2);
    right: 350px;
}

.fancybox-caption:before {
    display: none;
}

.fancybox-advanced .fancybox-navigation .fancybox-button--arrow_right {
    right: 360px;
}

.fancybox-caption a.btn-blue-white, .fancybox-caption a.btn-blue-white:link, .fancybox-caption a.btn-blue-white:visited {
    color: #fff;
    margin: 0 0 20px;
}

.fancybox-caption a.btn-blue-white:hover, .fancybox-caption a.btn-blue-white:focus {
    color: #e33989;
    text-decoration: none;
}

.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited {
    text-decoration: none;
    color: #337ab7;
}

.fancybox-caption a {
    color: #23527c;
}

.fancybox-caption a.btn-white-blue, .fancybox-caption a.btn-white-blue:link, .fancybox-caption a.btn-white-blue:visited {
    color: #e33989;
    margin: 0 0 20px;
}

.fancybox-caption a.btn-white-blue:hover, .fancybox-caption a.btn-white-blue:focus {
    color: #fff;
}

.fancybox-caption .agent-middle {
    line-height: 1.4em;
}

.fancybox-caption a.agent-rate-alias,
.fancybox-caption a.agent-rate-alias:hover,
.fancybox-caption a.agent-rate-alias:focus,
.fancybox-caption a.agent-rate-alias:link,
.fancybox-caption a.agent-rate-alias:visited {
    color: #03c04a;
    /*letter-spacing: 0.1em;*/
    letter-spacing: initial;
}

.fancybox-caption a.count-sales,
.fancybox-caption a.count-sales:hover,
.fancybox-caption a.count-sales:focus,
.fancybox-caption a.count-sales:link,
.fancybox-caption a.count-sales:visited {
    color: #3E414E;
    text-decoration: none;
}

.fancybox-container {
    z-index: 1050;
}

ul.fancybox-attributes {
    font-size: 12px;
}

ul.fancybox-attributes li {
    margin-bottom: 5px;
}

/****************************************/

.contact-user-form .modal-content {
    padding: 0;
}

.contact-header {
    background: url(/images/phone.png);
    padding: 25px 40px 20px !important;
    position: relative;
    background-size: cover;
}

.contact-head-avatar {
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.contact-head-avatar a {
    display: block;
    height: 100%;
}

.contact-head-avatar a img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

a.contact-head-name {
    font-size: 20px;
    display: block;
    margin: 15px auto;
    color: #0e0e0f;
}

a.contact-head-name:focus, a.contact-head-name:hover {
    color: #0e0e0f;
    text-decoration: none;
}

.contact-header-date {
    color: #999;
    font-size: 15px;
    display: block;
    margin-bottom: 15px;
}

.contact-header-rate {
    display: block;
}

.contact-header-rate .rating-xxxxs {
    float: none;
}

.contact-body {
    padding: 20px !important;
}

a.contact-phone, a.contact-email {
    color: #0e0e0f;
    display: block;
    margin: 0 auto 15px;
    font-size: 20px;
    line-height: 100%;
}

a.contact-phone:focus, a.contact-email:focus, a.contact-phone:hover, a.contact-email:hover {
    color: #0e0e0f;
    text-decoration: none;
}

a.contact-phone {
    font-size: 25px;
}

.contact-body p {
    font-size: 16px;
    color: #555;
    margin: 0 0 30px 0;
}

button.close-contact {
    float: right;
    font-size: 40px;
    font-weight: normal;
    color: #999;
    text-shadow: none;
    opacity: 1;
    border-radius: 0;
    border: none;
    background-color: transparent;
    margin: -10px -30px 0 0;
}

/****************************************/

.modal-property-map {
    width: 100%;
    height: 300px;
}

#contact-modal .contact-agent-block {
    margin-bottom: 0;
}

.modal-info {
    padding: 20px;
    background-color: #fff;
}

.modal-cols {
    /*padding-right: 330px;*/
}

.modal-col-first {

}

.modal-col-second {

}

.home-modal h1 {
    font-size: 33px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 5px;
    color: #3e414e;
    margin-top: 0;
}

.home-modal h1 span {
    font-size: 28px;
    display: block;
}

.home-modal h3 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.property-building-link {
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
    display: inline-block;
}

.property-building-link:visited,
.property-building-link:focus,
.property-building-link:hover {
    color: #000;
}

.property-building-link span {
    color: #337ab7;
}

.like-ul:not(:last-of-type):after {
    content: '·';
    padding: 0 5px;
}

.modal-home-descr {
    margin-bottom: 30px;
}

.modal-home-descr-text {
    height: 190px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.modal-home-descr-text p {
    margin: 0;
}

.advantage {
    margin-bottom: 30px;
}

.up-title, h2.up-title, h3.up-title, h4.up-title {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    color: #3e414e;
    margin-bottom: 10px;
    padding: 0;
}

a.more-less {
    text-decoration: none;
}

.more-less.fa {
    font-size: 16px;
}

.facts {
    border-bottom: 1px solid #aaa;
}

.facts-title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: #444;
    margin-bottom: 10px;
}

.fact-item {
    display: flex;
    padding: 0 10px 15px 0;
    margin: 0;
}

.fi-icon {
    font-size: 28px;
    margin-right: 15px;
    line-height: 50px;
    width: 30px;
}

.fact-info {
    line-height: 1.5;
}

.fact-title {
    font-weight: 700;
}

.modal-info-block {
    padding-top: 15px;
    padding-bottom: 15px;
    /*max-height: 300px;*/
    overflow: hidden;
    position: relative;
}

.modal-info-block-content {
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    column-gap: 30px;
}

.info-block-item {
    margin-bottom: 15px;
}

.info-block-title {
    margin-bottom: 5px;
    font-weight: 700;
}

ul.info-block-list {
    margin: 0;
}

ul.info-block-list li {
    margin-bottom: 5px;
}

ul.info-block-list li span {
    color: #aaa;
}

.show-text .more-less-shadow {
    display: none;
}

.more-less-shadow {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 9;
    background: linear-gradient(rgba(255, 255, 255, 0), #fff);
}

.modal-info-block.show-text .more-less-shadow {
    display: none;
}

.label {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    color: #3e414e;
    padding: 0;
}

.label:before {
    content: '';
    background: #fc384a;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
}

.mcs-price {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5em;
}

.mcs-sum {
    font-size: 13px;
}

.mcs-sum span {
    border-bottom: 1px dashed #ccc;
    cursor: pointer;
}

.market-date {
    background-color: #effbea;
    padding: 5px 9px;
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 13px;
    line-height: 1.7em;
}

.mortgage {
    margin-bottom: 10px;
}

.mortgage-price {
    font-size: 20px;
    /*display: flex;*/
    /*justify-content: flex-start;*/
}

.calculator {
    position: relative;
}

.calculator-btn {
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #444;
    padding: 5px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    line-height: 100%;
    font-size: 16px;
    width: 41px;
    height: 25px;
    margin-left: 5px;
}

.calculator-btn:hover,
.calculator-btn:focus {
    color: #e33989;
    text-decoration: none;
}

.calculator-btn .icon-caret-down {
    line-height: 15px;
}

.provide {
    margin: 30px 0;
}

.slide-down-list {
    margin: 30px 0;
}

.modal-home-footer {
    background-color: #eee;
    padding: 30px 15px 20px;
    font-size: 13px;
}

.nearby-cols {
    margin-bottom: 30px;
}

.nearby-col {
    margin-bottom: 30px;
}

.nearby-title {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

ul.ul-nearby {
    font-size: 13px;
}

ul.ul-nearby li {
    margin-bottom: 10px;
}

ul.ul-nearby li a {
    color: #3E414E;
}

ul.ul-nearby li a:hover,
ul.ul-nearby li a:focus {
    color: #e33989;
    text-decoration: none;
}

.home-footer-info, .home-footer-info p {
    font-size: 13px;
}

.home-similar {
    margin: 50px 0;
}

.similar-slider {
    padding: 0 30px;
    margin-bottom: 30px;
}

.similar-slide {
    padding: 0 5px;
}

.similar-slider .slick-prev,
.similar-slider .slick-next {
    width: 30px;
}

.similar-slider .slick-prev {
    left: -10px;
}

.similar-slider .slick-next {
    right: -8px;
}

.similar-slider .slick-next:before {
    content: '\e924';
    font-size: 35px;
    color: #aaa;
    background: transparent;
    border: none;
}

.similar-slider .slick-prev:before {
    content: '\e901';
    font-size: 35px;
    color: #aaa;
    background: transparent;
    border: none;
}

.similar-slider .slick-prev:hover:before, .similar-slider .slick-next:hover:before, .similar-slider .slick-prev:focus:before, .similar-slider .slick-next:focus:before {
    color: #3E414E;
    background: none;
    border: none;
}

.similar-slide h2.home-title {
    font-weight: normal;
    line-height: 20px;
    margin: 10px 0;
    font-size: 19px;
    padding: 0;
}

.user-block {
    margin-bottom: 30px;
}

.user-descr {
    font-size: 15px;
}

.user-descr p {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.write-owner {
    margin: 10px 0;
}

.write-owner a {
    width: 100%;
}

.chover .agent-block {
    display: inline-flex;
    width: calc(100% - 30px);
    vertical-align: top;
}

/**********ACCORDION**********/
.slide-down-list {

}

.params-block {

}

.params-header {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    position: relative;
    display: block;
    cursor: pointer;
    padding: 15px 40px 15px 0;
    margin-top: -1px;
}

.params-header h2 {
    line-height: 120%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

.params-header:after {
    content: "";
    position: absolute;
    top: 30%;
    height: 14px;
    width: 14px;
    display: block;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    right: 15px;
}

.params-header[aria-expanded="true"]:after {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 50%;
}

.params-content {
    padding: 20px 0 30px;
}

/**/
.table-history {
    width: 100%;
}

.table-history th,
.table-history td {
    border-bottom: 1px solid #effbea;
    padding: 6px 10px;
    font-size: 15px;
    vertical-align: middle;
}

.table-history th {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

.table-history span.up {
    color: #03c04a;
}

.table-history span.down {
    color: #fc384a;
}

ul.history-switch {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

ul.history-switch li {
    display: inline-block;
    padding-right: 30px;
}

ul.history-switch li a {
    color: #3E414E;
    border-bottom: 2px solid transparent;
    padding: 0 0 10px;
    display: block;
}

ul.history-switch li.active a {
    color: #e33989;
    border-bottom: 2px solid #0074e4;
}

ul.history-switch li a:hover,
ul.history-switch li a:focus {
    color: #e33989;
    text-decoration: none;
}

/**/

.stat-block {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.stat-count {
    font-size: 20px;
    line-height: 36px;
    color: #c42020;
    min-width: 60px;
    width: 60px;
    height: 60px;
    border: 2px solid #c42020;
    border-radius: 30px;
    padding: 12px 0;
    vertical-align: top;
}

.stat-descr {
    padding: 10px 15px;
}

/**/

ul.school-list {

}

ul.school-list li {
    border-bottom: solid 1px #ccc;
    padding: 10px 0;
    display: flex;
    width: 100%;
}

.school-rate {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}

.school-rate-circle {
    width: 50px;
    height: 50px;
    font-size: 30px;
    padding: 10px 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    line-height: 30px;
    background-color: #e33989;
}

.school-rate-text {
    font-size: 13px;
}

.school-title, .school-grades, .school-distance {
    align-self: center;
    padding-bottom: 15px
}

.school-grades, .school-distance {
    min-width: 80px;
}

.school-title, .school-head-rate, .school-info {
    width: 90%;
}

.schools-head, .school-info {
    display: flex;
}

.schools-head h4 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.school-head-grades, .school-head-distance {
    min-width: 80px;
}

.school-descr {
    margin: 20px 0 0;
}

@media screen and (max-width: 768px) {
    .schools-head {
        display: none;
    }

    .school-info {
        flex-wrap: wrap;
    }

    .school-grades, .school-distance {
        width: 50%;
        text-align: left;
    }

    .school-title {
        width: 100%;
        padding-bottom: 0;
    }
}

/**/

.pay-sum {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px 0;
}

.pay-sum span {
    font-size: 22px;
    text-transform: none;
}

/**/

.choose-comps-block {
    position: relative;
    width: 330px;
    max-width: 100%;
    background-color: #e33989;
    color: #fff;
    padding: 20px;
    display: inline-block;
}

.choose-comps-block h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.choose-comps-block p {
    color: #fff;
}

.green-btn {
    background: #03c04a;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: auto;
    line-height: 1.5;
}

a.green-btn:hover,
a.green-btn:hover {
    background: #249950;
    color: #fff;
    text-decoration: none;
}

.graph-compare {
    height: 170px;
    width: 100%;
    padding-top: 100px;
    position: relative;
}

.line-compare {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    height: 2px;
    background-color: #aaa;
}

.line-compare:before,
.line-compare:after {
    content: '';
    position: absolute;
    top: -15px;
    height: 30px;
    width: 2px;
    background-color: #aaa;
}

.line-compare:before {
    left: 0;
}

.line-compare:after {
    right: 0;
}

.start-point {
    position: absolute;
    top: 120px;
    left: 0;
    font-size: 17px;
}

.end-point {
    position: absolute;
    top: 120px;
    right: 0;
    font-size: 17px;
}

.item-compare {
    position: absolute;
    top: 0;
    cursor: pointer;
}

.item-compare.active .item-price {
    background-color: #e33989;
    color: #fff;
    z-index: 5;
}

.item-compare.active .item-price:before,
.item-compare.active .item-price:after {
    border-top: 10px solid #e33989;
}

.item-point {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #0e0e0f;
    color: #fff;
    font-size: 16px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    line-height: 20px;
}

.item-point:hover {
    background-color: #aaa;
}

.item-price {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 10px;
    color: #3E414E;
    white-space: nowrap;
}

.item-price:hover,
.item-price:focus {
    color: #3E414E;
    text-decoration: none;
}

.item-price:before,
.item-price:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -10px;
    display: block;
    width: 10px;
}

.item-price:before {
    bottom: -10px;
    border-top: 10px solid #aaa;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.item-price:after {
    bottom: -8px;
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/********BUILDING MODAL*******/
.building-address {
    font-size: 16px;
}

.building-mark {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.5;
}

.bedrooms-block {
    margin: 30px 0 50px;
}

.facts-building {
    margin-bottom: 30px;
}

ul.fact-building {
    display: flex;
    flex-wrap: wrap;
}

ul.fact-building li {
    list-style: square inside;
    width: 33%;
    padding: 0 20px 5px 0;
    font-size: 16px;
}

.params-header .bedroom-title {
    padding-left: 10px;
}

.bedroom-title span {
    color: #aaa;
    padding-left: 10px;
}

.bedroom-group .params-header[aria-expanded="true"] {
    background-color: #effbea;
}

.params-header[aria-expanded="true"] .bedroom-title span {
    display: none;
}

.flat-item {
    border-top: 1px solid #effbea;
    padding: 10px 0;
    height: 50px;
    line-height: 30px;
    display: flex;
    font-size: 14px;
}

.flat-item > div {
    width: 20%;
    overflow: hidden;
}

.flat-item > div.flat-title {
    width: 60%;
}

.flat-item > div.flat-square,
.flat-item > div.flat-photos {
    width: 10%;
}

.flat-marker {
    padding-left: 15px;
    position: relative;
}

.flat-marker:before {
    content: '';
    border-radius: 5px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 0;
    height: 10px;
    width: 10px;
}

.flat-marker.red-mark:before {
    background-color: #fc384a;
}

.flat-marker.yellow-mark:before {
    background-color: #fce013;
}

.flat-marker.green-mark:before {
    background-color: #03c04a;
}

.flat-marker.blue-mark:before {
    background-color: #e33989;
}

.flat-marker.gray-mark:before {
    background-color: #aaa;
}

.count-block {
    display: inline-block;
    min-width: 30px;
    border-radius: 3px;
    padding: 1px 4px 0;
    height: 20px;
    line-height: 20px;
    color: #fff;
    background-color: #444;
}

.cb-green {
    background-color: #03c04a;
}

.cb-gray {
    color: #444;
    background-color: #aaa;
}

.building-progress-item {
    display: none;
}

.building-progress-item.active {
    display: block;
}

.building-progress-item img {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #aaa;
}

.building-progress-item a {
    padding: 0 8px;
}

.building-site-item:not(:first-child) {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #aaa;
}

.building-site-item .building-site-text {
    display: inline-block;
}

.building-site-item .building-site-name {
    font-weight: bold;
}

.building-site-item img {
    width: 40px;
    height: 40px;
    padding: 4px 8px 2px 0;
    vertical-align: top;
}

.building-document-item {
    margin-bottom: 8px;
}

.prop-video {
    padding-bottom: 56.25%;
    position: relative;
}

.prop-video iframe,
.prop-video object,
.prop-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*****************************/

@media screen and (max-width: 768px) {
    .blue-menu li:not(:first-child) {
        font-size: 20px;
    }

    .home-modal-top .menu-item-text {
        display: none;
    }

    .nearby-col:nth-child(n+3) {
        display: none;
    }

    .modal-slider {
        height: 230px;
    }

    .modal-slider .modal-slide {
        width: 600px !important;
    }

    .modal-slide.ms-one {
        width: 300px !important;
    }

    .modal-slide.ms-one img {
        height: 100%;
    }

    .modal-slide.ms-one a {
        width: 100%;
    }

    .modal-slide a {
        display: inline-block;
        width: 49%;
        overflow: hidden;
    }

    .modal-slide img {
        height: 100%;
    }

    ul.fact-building li {
        width: 50%;
    }

    /*********************/
    .fancybox-advanced .fancybox-caption, .fancybox-show-thumbs .fancybox-thumbs {
        visibility: hidden !important;
        display: none !important;
    }

    .fancybox-advanced .fancybox-stage, .fancybox-advanced .fancybox-infobar {
        right: 0;
    }

    .fancybox-advanced .fancybox-navigation .fancybox-button--arrow_right {
        right: 10px !important;
    }

    .fancybox-advanced .fancybox-toolbar {
        right: 0 !important;
        left: 0 !important;
        width: 100% !important;
    }

    .fancybox-advanced .fancybox-infobar {
        left: 50% !important;
    }

    .fancybox-advanced .fancybox-show-thumbs .fancybox-inner {
        bottom: 0 !important;
    }
}

@media screen and (max-width: 480px) {
    .blue-menu li:first-child {
        display: none;
    }

    .home-modal .modal-body {
        padding: 15px 0;
    }

    .similar-slider {
        margin: 0 -20px 30px;
    }

    .modal-info-block-content {
        -webkit-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 0;
        column-gap: 0;
    }

    .nearby-col {
        width: 100%;
    }

    .nearby-col:nth-child(n+2) {
        display: none;
    }

    /*.modal-slider {
        height: 230px;
    }*/
    .flat-item > div {
        width: 33%;
    }

    .flat-bath, .flat-unit, .bedrooms-block ul.history-switch li:last-child {
        display: none;
    }
}