.report-item div {
    padding: 0 5px;
}

.report-item .max-report-item {
    width: 100%;
}

.report-item td {
    padding: 3px 5px;
}

.report-item {
    max-height: 60px;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

.report-item img {
    width: 64px;
}