.mob-work-item {
    background-color: #fff;
    padding: 10px 10px 8px 10px;
    margin-bottom: 10px;
    position: relative;
    border: 1px #dddddd solid;
    display: block;
    width: 100%;
}
.mob-work-item .tariff-icon {
    width: 30px !important;
    right: 0;
}
.mob-work-img {
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    width: 105px;
    min-width: 105px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

.mob-work-img img {
    width: 100%;
    max-height: 100%;
    display: block;
    z-index: 1;
}

.mob-work-item .like {
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 20px;
    font-size: 1.5em;
    color: #999;
}

.mob-work-table{
    display: flex;
}

.mob-work-info {
    width: calc(100% - 105px);
}

.mob-work-info .rate {
    float: left;
    padding: 0 12px;
    font-size: 1.2em;
}

.mob-work-info .bf-descr {
    margin-top: 0;
}
.mob-block-bottom {
    position: relative;
    font-size: 13px;
    line-height: 15px;
    color: #999999;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.mob-block-bottom .block-price {
    font-size: 16px;
    line-height: 20px;
}
.bf-item .tariff-icon, .pg-item .tariff-icon, .mob-work-item .tariff-icon {
    right: 8px;
    position: absolute;
    bottom: -10px;
    width: 40px !important;
    z-index: 311;
    opacity: 0.8;
}
.bf-descr {
    margin: 5px 10px 5px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #303030;
    height: 60px;
    overflow: hidden;
}
a.bf-descr {
    display: block;
}
.mob-work-info .bf-descr {
    margin-top: 0;
}
a.block-price {
    font-weight: 700;
    color: #00b22d;
    font-size: 16px;
}
div.block-price {
    color: #00b22d;
    float: right;
    font-weight: 700;
    line-height: 20px;
}
a.block-price span {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: initial;
    padding: 1px 5px 0 0;
}
a.block-price:hover {
    text-decoration: none;
}
.mob-block-bottom .block-price {
    font-size: 16px;
    line-height: 20px;
}
.by {
    line-height: 100%;
    height: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.job-section .by {
    line-height: 20px;
    width: calc(100% - 100px);
    height: 20px
}

.contact-agent-block.repair-block .repair-green, .contact-agent-block.repair-block .repair-green-big {
    color: #00b22d;
}
.contact-agent-block.repair-block h2 {
    font-size: 22px;
    margin-bottom: 0;
}
.contact-agent-block.repair-block div {
    font-size: 20px;
}
.contact-agent-block.repair-block .repair-green {
    font-size: 22px;
}
.contact-agent-block.repair-block .repair-green-big {
    font-size: 36px;
}
@media screen and (max-width: 768px) {
    .mob-block-bottom .by{
        line-height: 20px;
        height: 20px
    }
}
@media screen and (max-width: 360px) {
    .mob-block-bottom .by{
        width: 100%;
    }

    .mob-block-bottom .block-price {
        width: 100%;
        text-align: right;
    }
}