/*************WALLET************/

.balance-wrap {
    margin-right: 0;
    margin-left: 0;
    padding: 30px 15px;
}

ul.ul-wallet {
    width: 100%;
    background-color: #fff;
    margin: 15px 0;
}

.ul-wallet li a {
    height: 50px;
    padding: 10px 10px;
    border-bottom: 1px solid #ededed;
    color: #555;
    display: table;
    width: 100%;
}

.ul-wallet li a:first-child {
    border-top: 1px solid #ededed;
}

.ul-wallet li a:hover,.ul-wallet li a:focus {
    text-decoration: none;
    color: #555;
}

.wallet-circle {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    max-width: 50px;
}

.wallet-circle div {
    width: 50px;
    height: 50px;
    background-color: #00b22d;
    border-radius: 50%;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    overflow: hidden;
}

.wallet-circle img {
    display: block;
    height: 100%;
    margin: 0;
}

.ul-wallet li.active,.ul-wallet li:hover {
    background-color: #ededed;
}

.ul-wallet li.active a {
    color: #555;
}

.ul-wallet li.active .title-sum .money {
    color: #00b22d;
}

.wallet-title-info {
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
    padding-left: 15px;
}

.wallet-title-info .title-sum {
    font-weight: bold;
    margin-bottom: 5px;
}

.wallet-title-info .title-sum .money {
    font-size: 22px;
    color: #0e0e0f;
}

.table-money {
    width: 100%;
    border: none;
}

.table-money td {
    border-bottom: 1px solid #ededed;
    padding: 10px;
}

.table-money td .wallet-avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #c2c2c2;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
}

.table-money td .sum {
    font-size: 22px;
}

.table-money td .sum span {
    font-size: 13px;
    color: #555;
}

.table-money td .number {
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0;
}

.table-money td .time {
    text-align: right;
    font-size: 13px;
}

.head-wallet {
    display: table;
    margin-bottom: 20px;
}

.wallet-title {
    color: #0e0e0f;
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.wallet-btns {
    position: relative;
}

.wallet-btns .dropdown {
    margin-bottom: 10px;
}

.wallet-content .button.big{
    width: auto;
    margin: 0;
}

.wallet-title [data-hint], .wallet-title-info [data-hint] {
    position: relative;
}

.wallet-title [data-hint]::after, .wallet-title-info [data-hint]::after, .work-opt [data-hint]::after {
    min-width: 200px;
}


.sell-statistic-box {
    background-color: #fff;
    padding: 25px 10px;
    margin: 0 0 30px 0;
    border: 1px #e5e5e5 solid;
}

.sell-statistic {
    padding: 0 5px;
    border-right: 1px solid #dddddd;
    font-size: 27px;
    line-height: 27px;
    font-weight: 400;
    color: #303030;
}

.sell-statistic:last-child {
    border-right: none;
}

a.stat-alias,a.stat-alias:visited {
    color: #303030;
}

a.stat-alias:hover,a.stat-alias:focus {
    color: #00B22D;
    text-decoration: none;
}

.sellstat-title {
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: #999999;
    padding: 0 0 15px 0;
}

.dropdown-block {
    position: relative;
    margin-bottom: 20px;
}

.dropdown-block .dropdown-info {
    position: absolute;
    top: 60px;
    width: 450px;
    left: 20px;
    display: none;
    z-index: 5;
}

@media screen and (max-width: 768px) {
    .dropdown-block .dropdown-info {
        width: 300px;
    }
}

.dropdown-form {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #e5e5e5;
}

.dropdown-block.open .dropdown-info {
    display: block;
}

/***************END*************/
