/******NOTES******/
/*.block-with-notes {
    position: relative;
}

.notes {
    position: absolute;
    top: 0;
    background-color: #b2b2b2;
    padding: 15px;
    z-index: 3;
    display: none;
    border-radius: 2px;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    left: 30px;
}

.notes-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

.notes-text, .notes-text p {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.block-with-notes:hover .notes{
    display: block;
}
*/

.global-create-link {
    display: none;
}

[data-action="remove-contact"]:hover,
[data-action="remove-contact"]:focus {
    text-decoration: none;
}

.popover {
    width: 50%;
    max-width: 50%;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: none;
    background-color: #effbea;
    display: block;
    padding: 17px 15px;
}

.popover-title:before {
    content: '\e956';
    font-family: 'icomoon', sans-serif;
    display: inline-block;
    vertical-align: middle;
    background-color: #78CDD2;
    border-radius: 50%;
    line-height: 40px;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-right: 10px;
}

.popover-title {
    padding: 0;
    background-color: transparent;
    border-bottom: none;
    border-radius: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    color: #303030;
    display: inline;
    vertical-align: middle;
}

.popover > .arrow, .popover > .arrow::after {
    display: none;
}

.popover .example {
    display: block;
    border: 1px solid #78cdd2;
    border-radius: 5px;
    padding: 12px;
}

.popover-content {
    font-size: 14px;
    line-height: 17px;
    color: #777777;
    padding: 10px;
}

.popover .example span {
    color: #0097a7;
    font-weight: 700;
}

/****END NOTES****/

.selectize-multi > div {
    height: auto;
}

.affix {
    top: 60px;
    padding-right: 20px;
}

.step-map {
    height: 240px;
}

.wizard-wrap {
    width: 1920px;
    max-width: 100%;
    padding: 20px;
}

.wizard-content {
    padding: 30px 0;
}

.sell-rent {
    margin: 10px 0 20px;
}

.type-adv {
    margin: 10px 0;
}

.type-adv .chover {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    padding-right: 10px;
}

.type-adv .chover label {
    font-size: 14px;
}

.progress-steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.progress-percent {
    font-size: 66px;
    height: 75px;
    line-height: 60px;
    position: relative;
    margin-right: 40px;
    padding-right: 15px;
}

.progress-percent:after {
    content: '%';
    font-size: 18px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.progress-info {
    font-size: 14px;
}

ul.progress-menu {
    width: 100%;
    margin-bottom: 30px;
}

ul.progress-menu li {
    width: 100%;
}

ul.progress-menu li a {
    display: block;
    padding: 10px 20px 5px;
    color: #000;
    font-size: 14px;
    min-height: 40px;
    line-height: 20px;
    background-color: #f2f2f2;
    border-bottom: 2px solid #ededed;
    position: relative;
}

ul.progress-menu li a.selected,
ul.progress-menu li.active a {
    background-color: #fff;
}

ul.progress-menu li a:hover,
ul.progress-menu li a:focus {
    text-decoration: none;
    color: #000;
}

ul.sell-rent-btns li {

}

.good-mark {
    /*display: none;*/
    color: #03c04a;
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 12px;
}

.progress-error {
    /*display: none;*/
    color: #c42020;
    position: absolute;
    right: 15px;
    top: 12px;
    line-height: 15px;
}

ul.progress-menu li a.ok .good-mark,
ul.progress-menu li a.step-error .progress-error {
    display: block;
}

.wizards-steps {
    padding: 10px 0 0;
}

.wizards-steps section {
    margin-bottom: 50px;
}

.wizard-step-header {
    font-size: 18px;
    line-height: 18px;
    border-bottom: 3px solid #f2f2f2;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #000;
    letter-spacing: 0.02em;
}

.wizard-step-header span {
    font-size: 14px;
    color: #888;
}

.subtype-step {
    display: none;
}
.subtype-step.active {
    display: block;
}

/*.required:after {*/
/*display: inline-block;*/
/*vertical-align: top;*/
/*margin: -.2em 0 0 .2em;*/
/*content: "*";*/
/*color: #db2828;*/
/*}*/

.form-wizard {
    font-size: 14px;
}

.radio-btn input[type="radio"] + label:before,
.radio-btn input[type="radio"]:checked + label:before,
.big-radio-btn input[type="radio"]:checked + label:before,
.big-radio-btn input[type="radio"] + label:before {
    display: none;
}

.wizard-photo-small-preview {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.wizard-photo-small-preview img {
    width: 100%;
}

.radio-btn {
    width: 20%;
}

.radio-btn input[type="radio"] + label {
    width: 100%;
    border: 1px solid #c4c4c4;
    border-right: none;
    height: 30px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.big-radio-btn input[type="radio"] + label {
    margin: 0;
    color: #000;
    border: 1px solid #c4c4c4;
    height: 36px;
    padding: 0 17px;
    font-size: 17px;
    line-height: 34px;
}

.radio-btn input[type="radio"]:checked + label,
.big-radio-btn input[type="radio"]:checked + label {
    background-color: #00b22d;
    color: #fff;
    position: relative;
}

.radio-btn input[type="radio"]:checked + label:before,
.big-radio-btn input[type="radio"]:checked + label:before {
    content: '✔';
    font-size: 20px;
    display: inline;
    color: #fff;
    letter-spacing: 5px;

}


.radio-btn input[type="radio"]:checked + label:hover,
.big-radio-btn input[type="radio"]:checked + label:hover,
.radio-btn input[type="radio"]:checked + label:hover:before,
.big-radio-btn input[type="radio"]:checked + label:hover:before {
    color: #000;
}

.radio-btn input[type="radio"] + label:hover,
.big-radio-btn input[type="radio"] + label:hover {
    background-color: #effbea;
}

.radio-btn:first-child input[type="radio"] + label,
.big-radio-btn:first-child input[type="radio"] + label {
    border-radius: 2px 0 0 2px;
}

.radio-btn:last-child input[type="radio"] + label {
    border-radius: 0 2px 2px 0;
    border-right: 1px solid #c4c4c4;
}

.square input {
    width: 33.33%;
    border-radius: 0;
}

.square input:not(:last-child) {
    border-right: none;
}

.square input:first-child {
    border-radius: 2px 0 0 2px;
}

.square input:last-child {
    border-radius: 0 2px 2px 0;
}

.floor {
    line-height: 35px;
}

.floor input {
    max-width: calc(50% - 30px);
}

.form-wizard p {
    font-size: 14px;
}

.plus-phone {
    padding-right: 50px;
    position: relative;
}

.plus-phone .input-group-addon {
    font-size: 20px;
    background-color: #fff;
    cursor: pointer;
}

.plus-btn {
    right: 0;
    top: 0;
    position: absolute;
    background-color: #e33989;
    line-height: 35px;
    width: 35px;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    height: 35px;
    cursor: pointer;
}

.plus-phone-block:not(:last-child) .plus-btn {
    display: none;
}

.plus-btn:hover,
.plus-btn:focus {
    color: #fff;
    text-decoration: none;
}

.plus-comment-btn {
    line-height: 20px;
    white-space: nowrap;
}

.plus-comment {
    margin: 20px 0;
}

.plus-comment input {
    display: none;
}

.pre-view {
    margin: 20px 0;
    font-size: 17px;
}

@media screen and (max-width: 992px) {
    .popover {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .type-adv .chover {
        width: 100%;
    }
}
